{% extends "_layout" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/landing-pages.css?v=9">
{% endblock %}

{% block content %}

    <div class="landing-page">

        {% if entry.leadImage is defined %}
            <div class="lead-image" style="background-image: url({{  entry.leadImage.first().url }});"></div>
        {% endif %}

        <section class="hero small">
            <div class="wrapper clearfix">
                <h1>{{ entry.heading }}</h1>
                <div id="landing-page-form">{% include 'landing-pages/blocks/_form' %}</div>
            </div>
        </section>

        {% for block in entry.blocks %}
            {% include 'landing-pages/blocks/_'~block.type %}
        {% endfor %}

        {% for entry in craft.entries.section('accreditationsLogos') %}
            <section class="wrapper icon-list-con clearfix scroll-point">
                <span id="section14" class="scroll2"></span>
                <h2 class="title">Accreditations and Partners</h2>

                <ul class="logo-list clearfix">
                    {% for block in entry.accreditationsLogos %}
                        <li class="l-item matchHeight">
                            <div class="tc">
                                <img src="{{ block.logo.first().url() }}">
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </section>
        {% endfor %}

        <div class="red-contact-con">
            <section class="red-contact wrapper clearfix" id="request-demo">
                <img src="/assets/images/contact.svg">
                <h3><a href="/form">Contact us for more information or to arrange a demo</a></h3>
                <h4 style="margin-bottom: 0;">Call us on {{ reactor15Information.telNumber }}</h4>
                {#<h4><a href="mailto:{{ reactor15Information.email}}">{{ reactor15Information.email}}</a></h4>#}
                <br>
                <div class="info-col" style="text-align:center;">
                    <address style="text-align: left;">{{ reactor15Information.address | nl2br | raw }}</address>
                    <div class="vat">
                        <p  style="text-align:right;">{{ reactor15Information.vat }}</p>
                    </div>
                </div>
            </section>
        </div>

    </div>

{% endblock %}
