
<footer id="section15" role="contentinfo" class="footer-outer-wrapper clearfix scroll-point">
    <div class="footer-top-outer clearfix">
        <section class="wrapper clearfix">
            <ul id="foot" >
                {% for item in craft.entries.section('footer') %}
                   <p><a href="{{ item.customUrl }}">  {{ item.title }}</a></p>
                {% endfor %}
                            </ul>

            <ul class="social-menu">
                <li class="icon facebook">
                    <a href="{{ reactor15Information.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="icon twitter">
                    <a href="{{ reactor15Information.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="icon google-plus">
                    <a href="{{ reactor15Information.googlePlus }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
                <li class="icon custom youtube">
                    <a href="{{ reactor15Information.youTube }}" target="_blank"><div class=""></div></a>
                </li>
            </ul>
        </section>
    </div>

    <script src="/assets/js/modernizr.min.js"></script>
    <script src="/assets/js/jquery.matchHeight.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/jquery.fitvids.min.js"></script>
    <script src="/assets/js/jquery.nav.js"></script>
    <script src="/assets/js/jquery.fancybox.min.js"></script>
    <script src="/assets/js/main-js.js?v=3"></script>
     <script src="/assets/js/filtering.js"></script>

    <script>
        $().ready(function () {

            if ($('.js_showhide').length > 0) {

                $('.js_showhide .answer').css({display: 'none'});

                $(".js_showhide .title").click(function () {
                    $(this).parent().parent().find("div.answer").slideToggle();
                    $(this).parent().toggleClass('open');
                });
            }
        });
    </script>


    <style>


        .scroll
        {
            position: absolute;
            margin-top:-75px;
        }
        .scroll2
        {
            position: absolute;
            margin-top:-105px;
        }





        #foot a{
            color:white;
        }



        #foot a:hover{
            text-decoration: none;

        }

        #foot ol, #foot ul, #foot {
            margin-bottom:0;
        }

        #foot p
        {
            display:inline-block;
            color:White;
            padding-right:10px;
            position: relative;

        }

        #foot p a:hover
        {
            color:#CA0E38!important;
        }

        #foot{
            position: absolute;
            margin-top:0;
        }

        .menu-top-outer
        {
            border-bottom: 1px solid #ca0538;

        }

        #burger
        {
            opacity:1!important;
        }

        @media screen and (max-width: 991px)
        {
            #foot {
                margin-left:-10px;
            }
        }


        #section15{
            position:relative;

        }
        body{
            padding-bottom:0;
        }

        @media screen and (max-width: 630px)
        {
            #site-logo {
                width: auto;
            }
        }


        @media screen and (max-width: 975px)

        {
            .tc
            {
                padding-top:40px;
            }

        }


        .scroll
        {
            position: absolute;
            margin-top:-100px;
        }
        .scroll2
        {
            position: absolute;
            margin-top:-130px;
        }


        @media (max-width: 975px) {
            .hero.small .tc h1 {
                font-size: 34px;
                font-size: 3.4rem;
                margin-bottom: 1.8em;
            }
        }



        #foot  p:after
        {
            content:"\00a0  | ";
        }




        #foot   p:last-child:after
        {
            content:"";
        }



    </style>
</footer>