<header role="banner">
    <div class="menu-top-outer clearfix">
        <section class="wrapper clearfix">

            <div class="contact-con clearfix">
                <span class="number"><span>Call</span> <a
                            href="tel:{{ reactor15Information.telNumber }}">{{ reactor15Information.telNumber }}</a></span>

                <ul class="social-menu">
                    <li class="icon facebook">
                        <a href="{{ reactor15Information.facebook }}" target="_blank"><i class="fa fa-facebook"
                                                                                         aria-hidden="true"></i></a>
                    </li>
                    <li class="icon twitter">
                        <a href="{{ reactor15Information.twitter }}" target="_blank"><i class="fa fa-twitter"
                                                                                        aria-hidden="true"></i></a>
                    </li>
                    <li class="icon google-plus">
                        <a href="{{ reactor15Information.googlePlus }}" target="_blank"><i class="fa fa-google-plus"
                                                                                           aria-hidden="true"></i></a>
                    </li>
                    <li class="icon custom youtube">
                        <a href="{{ reactor15Information.youTube }}" target="_blank">
                            <div class=""></div>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="burger" class="burger clearfix">
                <div class="line1"></div>
            </div>
        </section>
    </div>

    <div class="menu-bottom-outer clearfix" style="border-bottom: 1px solid #ca0538;">
        <section class="wrapper clearfix">
            <a id="site-logo" href="/" title="">
                <img src="/assets/images/logo.svg"/>
            </a>

            <nav id="mainMenu" class="main-menu-con">
                <ul class="main-menu clearfix">

                    {% for item in craft.entries.section('mainSections') %}

                        {% if craft.request.firstSegment == 'news' and item.title=='News' %}
                            <li><a href="/news">{{ item.title }}</a></li>
                        {% else %}
                            <li>
                                <a href="{{ item.customUrl }}">{{ item.title }}</a>
                                {% if item.title == 'Who is it for?' %}
                                    <span class="mobile-dropdown-control">&blacktriangledown;</span>
                                    <ul class="dropdown">
                                        {% for entry in craft.entries.section('landingPages') %}
                                            {% if entry.showInWhoMenu %}
                                            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if item.title == 'Benefits' %}
                                    <span class="mobile-dropdown-control">&blacktriangledown;</span>
                                    <ul class="dropdown">
                                        {% for entry in craft.entries.section('landingPages') %}
                                            {% if entry.showInBenefitsMenu %}
                                                <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}

                    {% endfor %}

                </ul>
            </nav>
        </section>
    </div>
</header>

