{% if name is defined and name %}
	<input type="hidden" name="{{ handle }}" value="">
{% endif -%}

<div class="field">
	{% set label = null %}
	{% if label or instructions %}
	<div class="heading">
		{% if label %}
			{%- set id = (id is defined and id ? id : null) %}	
			<label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
				{{- label|raw|t -}}
			</label>
		{% endif %}
		{% if instructions %}
			<div class="instructions">{{ instructions|md|t }}</div>
		{% endif %}
	</div>
	{% endif %}
	<div class="input">
	{%- for key, option in options %}
		{%- set optionLabel = (option.label is defined ? option.label : option) %}
		{%- set optionValue = (option.value is defined ? option.value : key) -%}
		{%- set id = 'checkbox-'~random() %}	
		<div>
			<input 
			  type="checkbox" 
				class="checkbox"
				value="{{ optionValue }}"
				{%- if id %} id="{{ id }}"{% endif %}
				{%- if handle is defined %} name="{{ handle }}[]"{% endif %}
				{%- if optionValue == 'sendMeMoreInformation' %} checked{% endif %}
				{%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
				{% if loop.first and required %} required{% endif %}>
			<label for="{{ id }}">{{ optionLabel|raw|t }}</label>
		</div>
	{%- endfor %}
	</div>
</div>