{%- set type = (type is defined ? type : 'text') %}
{%- set id = (id is defined ? id : 'text-' ~ random()) %}
{%- set min = (min is defined ? min : null) %}
{%- set max = (max is defined ? max : null) %}

<div class="field">
  {% if instructions %}
    <div class="heading">
      {% if label %}
        <label{% if required is defined and required %} class="required"{% endif %}{% if id %} for="{{ id }}"{% endif %}>
          {{- label|raw|t -}}
        </label>
      {% endif %}
      {% if instructions %}
        <div class="instructions">{{ instructions|md|t }}</div>
      {% endif %}
    </div>
  {% endif %}
  <div class="input">
    <input 
      type="text"
      class="text" 
      {%- if id is defined %} id="{{ id }}"{% endif %}
      {%- if max is defined and max|length > 0 %} size="{{ max }}"{% endif %}
      {%- if handle is defined %} name="{{ handle }}"{% endif %}
      {%- if value is defined %} value="{{ value }}"{% endif %}
      {%- if maxlength is defined and maxlength %} maxlength="{{ maxlength }}"{% endif %}
      {%- if autofocus is defined and autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
      {%- if required is defined and required %} required {% endif %}
      {%- if placeholder is defined %} placeholder="{{ placeholder }}"{% endif %}
      autocomplete="off">
  </div>
</div>