
{% extends "_layout" %}
{% set title = "News" %}
{% block content %}



	{% set new_filter = '' %}
	<link rel="stylesheet" href="/assets/css/styles.css?v={{ now.getTimestamp() }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<section class="hero small">
		<div class="tc">
			<div class="wrapper">
				<h1>News</h1>
			</div>
		</div>
	</section>
	<!-- Open the output in a new blank tab (Click the arrow next to "Show Output" button) and resize the browser window to understand how the Bootstrap responsive grid system works. -->
	<div class="container" style="padding-bottom:70px;">
		<!--Row with two equal columns-->
		<br><br>
		<div class="row">
			<div class="col-lg-9">

				<article>/
					<div class="relative">
						{% if not entry.hideLeadImage %}
						<img src="{{ entry.leadImage.first().url('newsEntryLeadImage') }}">
								{% if entry.imageTitle | length  %}
						<div class="image_title">{{entry.imageTitle}}</div>
                                {% endif %}
						{% endif %}
									<div class="black small_date">Posted on {{ entry.postDate }}</div>
						<div class="databox_entry" {% if entry.hideLeadImage %}style="right:0;top:0;" {% endif %}>
							<div class="date_top">    {{ entry.postDate.format('d M') }}</div>
							<div class="line"></div>
							<div class="date_bottom">    {{ entry.postDate.format('Y') }}</div>
						</div>


						<br><br>
						<h2><a style="color:#CA0E38!important;font-weight:bold;" href="{{ entry.url }}">{{ entry.title }}</a></h2>

				</div>


					<br>
                    {% for block in entry.imagetextvideo %}
                        {% include 'matrix/_'~ block.type %}
                    {% endfor %}


				</article>


				<div class="btn-con">
					<a href="/news" class="btn" style="border-radius:24px;    border-radius: 24px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;">SEE MORE NEWS</a>
				</div>

			</div>

            {% include('news/_filter-list.html') %}

		</div>
	</div>
	<br><br>

	<style>
		#nav{
			display:none;
		}
		body,html, .container{
			font-family: Lato,sans-serif!important;

		}
		.custom_font
		{
			font-size: 1.5rem;
			font-family: Lato,sans-serif!important;
		}
		blockquote, h1, h2, h3, h4, h5, h6 {
			font-weight: 900;
			line-height: 1.13em;
		}
	</style>

	<script>
        var options =[];
        var myVar;
	</script>

{% endblock %}




