
<script src="/assets/js/filtering.js"></script>


{% set search_value = craft.request.getParam('search') %}
<div class="col-lg-3">
    <form method="get">
    <div class="input-group">
        <input type="text" name="s" id="s" class="form-control" placeholder="Search..." aria-describedby="sizing-addon2" value="{{  search_value }}">
        <span type="submit" class="input-group-addon btn-danger" id="span_submit">OK</span>
    </div>
    </form>

  <br><br>
  <h4 class="left">Filter by topic</h4>
    <hr>
  <ul  class="left" id="filters">
      {% for item in craft.categories('topicType') %}
        <li id="{{ item.id }}" class="inactive" onclick="select( {{ item.id }},'{{ item.slug }}',0 );">{{ item.title }}</li>
        <script>
            select_check('{{ new_filter }}',{{ item.id  }},'{{ item.slug }}');
        </script>
      {% endfor %}
  </ul>
    <br><br><br><br>
    <div class="twit margin12top hidden-xs hidden-sm col-xs-12  " style="padding-left:0!important;">
        <div class="twitterright widget bg-white" style="padding-left:0!important;">
            <a class="twitter-timeline" href="https://twitter.com/reflow247" data-widget-id="725321220967784452" style="padding-left:0!important;">Tweets by @reflow247</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>

<style>


    .twit, .twitter-timeline, .twitterright, .timeline-Header, .timeline-Header
    {
        margin-left:0;
        padding-left:0;
        padding-top:40px;
    }

</style>