
{% extends "_layout" %}


{% block content %}
	<script
			src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
			crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/assets/css/styles.css?v={{ now.getTimestamp() }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<script>
        var options =[];
        var myVar;
	</script>
	<section class="hero small">
		<div class="tc">
			<div class="wrapper">
				<h1>News</h1>
			</div>
		</div>
	</section>

    {% set new_filter = craft.request.getParam('filter') %}
    {% set search_value = craft.request.getParam('search') %}

	<!-- Open the output in a new blank tab (Click the arrow next to "Show Output" button) and resize the browser window to understand how the Bootstrap responsive grid system works. -->
	<div class="container" style="padding-bottom:70px;">
		<!--Row with two equal columns-->
		<br><br>
		<div class="row">
			<div class="col-lg-9">
                {% if new_filter is not null %}

                    {% set sector = craft.categories.group('topicType').slug(new_filter) %}
					{% set search_criteria =  craft.entries.section('news').relatedTo(sector)%}

                 {% elseif  search_value is not null%}

                        {% set search_criteria =  craft.entries.section('news')%}
                     {% set search_criteria = craft.entries.section('news').search('*' ~ search_value ~ '*') %}
                {% else %}
                {% set search_criteria = craft.entries.section('news').find() %}
{% endif %}


                {% if  search_value is not null and new_filter is not null%}

                    {% set sector = craft.categories.group('topicType').slug(new_filter) %}

                    {% set search_criteria = craft.entries.section('news').relatedTo(sector).search('*' ~ search_value ~ '*') %}



					{% endif %}






                {% if(search_criteria|length == 0) %}
					<div class="text-center"><br/>
						<div class="boxheading" style="text-transform: none">Unfortunately there were no results for your search, please try again.</div>
					</div>
                {% endif %}

                {% for entry in search_criteria %}
					<article>

                        {% if entry.leadImage | length  %}

                        <div class="relative">
                     <a style="color:#CA0E38!important;" href="{{ entry.url }}">   <img class="lead_image" src="{{ entry.leadImage.first().url('leadImage')}}"  alt="">
                        <div class="black small_date">Posted on {{ entry.postDate }}</div>
						 <div class="databox">

                            <div class="date_top">    {{ entry.postDate.format('d M') }}</div>
                        <div class="line"></div>
                            <div class="date_bottom">    {{ entry.postDate.format('Y') }}</div>
							</div>

                        </div>
{% endif %}
							<br><br>
						<h2  style="font-weight:bold;">{{ entry.title }}</a></h2><br>
							<span class="custom_font">{{ entry.introText }}</span><br><br>
						<p style="color:black;!important"><a style="color:black!important;font-weight:bold;" href="{{ entry.url }}">Read more</a></p>
                      
					</article>
                    <hr>

                {% endfor %}

			</div>

            {% include('news/_filter-list.html') %}




		</div>
	</div>


	<style>
		#nav{
			display:none;
		}
body,html, .container{
	font-family: Lato,sans-serif!important;

}
.custom_font
{
	font-size: 1.5rem;
	font-family: Lato,sans-serif!important;
}
		blockquote, h1, h2, h3, h4, h5, h6 {
			font-weight: 900;
			line-height: 1.13em;
		}
	</style>

{% endblock %}




