<!doctype html>
<html id="BTT" class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>
			Re-flow Blog and Latest News
		</title>

		<meta name="description" content="Latest news and blog information on Re-flow Mobile Workforce Solution">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

<!--		<script src="assets/js/live.min.js"></script>-->

		<link rel="stylesheet" href="assets/css/style.min.css">

		<style>
			.lazy-loader{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: white;
				z-index: 999999;
			}

			.lazy-loader.loaded{
				opacity: 0;
				display: none;
			}
		</style>
	</head>

	<body>

		<div class="lazy-loader"></div>

		<header role="banner" class="has-line">
			<div class="menu-top-outer clearfix">
				<section class="wrapper clearfix">

					<div class="contact-con clearfix">
						<span class="number"><span>Call</span> <a href="tel:{{ reactor15Information.telNumber }}">{{ reactor15Information.telNumber }}</a></span>

						<ul class="social-menu">
							<li class="icon facebook">
								<a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="icon twitter">
								<a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li class="icon google-plus">
								<a href="" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							</li>
							<li class="icon custom youtube">
								<a href="" target="_blank"><div class=""></div></a>
							</li>
						</ul>
					</div>

					<div id="burger" class="burger clearfix">
						<div class="line1"></div>
					</div>
				</section>
			</div>

			<div class="menu-bottom-outer clearfix">
				<section class="wrapper clearfix">
					<a id="site-logo" href="/re-flow/" title="">
						<img src="assets/images/logo.svg"/>
					</a>

					<nav id="mainMenu" class="main-menu-con">
						<ul class="main-menu clearfix">
							<li><a href="/re-flow/#section2">What is Re-flow?</a></li>
							<li><a href="/re-flow/#section5">Who is it for?</a></li>
							<li><a href="/re-flow/#section6">Benefits</a></li>
							<li><a href="/re-flow/#section8">Features</a></li>
							<li><a href="/re-flow/#section9">Our Service</a></li>
							<li><a href="/re-flow/#section10">Testimonials</a></li>
							<li><a href="/re-flow/#section11">Price</a></li>
							<li><a href="/re-flow/#section12">News</a></li>
							<li><a href="/re-flow/#section15">Contact</a></li>
						</ul>
					</nav>
				</section>
			</div>
		</header>


		<div class="page-wrapper clearfix">

			<main class="main-wrapper">

				<section class="hero small">
					<div class="tc">
						<div class="wrapper">
							<h1>News</h1>
						</div>
					</div>
				</section>

			</main>

		</div>

		<footer role="contentinfo" class="footer-outer-wrapper clearfix">
			<div class="footer-top-outer clearfix">
				<section class="wrapper clearfix">
					<span class="copy"><span>© Re-flow</span><a href="/re-flow/private-policy.html">Privacy Policy</a></span>

					<ul class="social-menu">
						<li class="icon facebook">
							<a href="" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li class="icon twitter">
							<a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</li>
						<li class="icon google-plus">
							<a href="" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
						</li>
						<li class="icon custom youtube">
							<a href="" target="_blank"><div class=""></div></a>
						</li>
					</ul>
				</section>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="assets/js/jquery-2.2.4.min.js"><\/script>')</script>
		<script src="assets/js/modernizr.min.js"></script>
		<script src="assets/js/jquery.matchHeight.min.js"></script>
		<script src="assets/js/slick.min.js"></script>
		<script src="assets/js/jquery.fitvids.min.js"></script>

		<script src="assets/js/jquery.fancybox.min.js"></script>
		<script src="assets/js/main-js.js"></script>

	</body>
</html>
