<!doctype html>
<html id="BTT" class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% if craft.request.firstSegment == 'news' %}
        <title>
            Re-flow Blog and Latest News
        </title>
        <meta name="description" content="Latest news and blog information on Re-flow Mobile Workforce Solution">

    {% elseif entry.metaTitle is defined %}
        <title>{{ entry.metaTitle }}</title>
        <meta name="description" content="{{ entry.metaDescription }}">
    {% else %}
        <title>
            Reflow - Mobile Workforce Management </title>
        <meta name="description"
              content="Re-flow replaces the paperwork your mobile workforce carry with them out in the field. This native app works offline across the main platforms.">

    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="dns-prefetch" href="https://hubspot-avatars.s3.amazonaws.com">
    <link rel="dns-prefetch" href="https://www.googleadservices.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://googleads.g.doubleclick.net">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!--		<script src="assets/js/live.min.js"></script>-->

    <link rel="stylesheet" href="/assets/css/style.min.css?v=20191405">
    <link rel="stylesheet" href="/assets/css/new.css?v=20192405">
    <link rel="stylesheet" href="/assets/css/cookie_policy.css?v=3"/>

    <style>
        #burger {
            opacity: 1 !important;
        }

        .menu-top-outer {
            border-bottom: 1px solid #ca0538 !important;

        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-M4R5D6"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-M4R5D6');</script>
<!-- End Google Tag Manager -->

{% include "partials/_header" %}

{% if craft.request.firstSegment == '' %}
    <ul id="nav">
        <li class="current"><a href="#section1"></a></li>
        <li><a href="#section2"></a></li>
        <li><a href="#section3"></a></li>
        <li><a href="#section4"></a></li>
        <li><a href="#section5"></a></li>
        <li><a href="#section6"></a></li>
        <li><a href="#section7"></a></li>
        <li><a href="#section8"></a></li>
        <li><a href="#section9"></a></li>
        <li><a href="#section10"></a></li>
        <li><a href="#section11"></a></li>
        <li><a href="#section12"></a></li>
        <li><a href="#section13"></a></li>
        <li><a href="#section14"></a></li>
        <li><a href="#section15"></a></li>
    </ul>
{% endif %}

<div class="page-wrapper clearfix">

    <main class="main-wrapper">

        {% block content %}


        {% endblock %}
    </main>
</div>

{% include "partials/_footer" %}

{% block content2 %}
{% endblock %}
<script src="/assets/js/cookies.js"></script>

{% if craft.request.firstSegment == '' %}
    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $("a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 1500, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });


            var w = $(window).width();
            //console.log(w);


            if (w > 970)
                $('#video_field').load('video.html');
            else
                $('#video_field').load('image.html');


            $('#cookie-info').slideUp(0);
            var cookie = getCookie('Pop_up');
            if (cookie == '') {
                setTimeout(show_cookie_policy, 4000);
            }


        });
    </script>
{% endif %}

<style>
    @media (max-width: 975px) {
        .tc img {
            margin-top: -40px !important;
        }
    }

    .slick-prev {
        left: -45px;
        left: calc(50% - 190px);
    }

    .slick-next {
        right: -45px;
        right: calc(50% - 190px);
    }

    .img-con {
        background: none;
    }

    .slick-next, .slick-prev {
        z-index: 0;
    }

    @media (max-width: 625px) {
        .btn-con {
            display: block;
        }
    }
</style>

<script type="text/javascript">
    _linkedin_partner_id = "606754";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script>
<script type="text/javascript">
    (function () {
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";
        b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);
    })();
</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt=""
         src="https://dc.ads.linkedin.com/collect/?pid=606754&fmt=gif"/>
</noscript>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4961218.js"></script>
<!-- End of HubSpot Embed Code -->

</body>
</html>
