{% extends "_layout" %}

{% block content %}

    <section class="hero video scroll-point">
        <span id="section1" class="scroll"></span>
        <div id="video_field" class="video-con">

        </div>
        <div class="tc">
            <div class="wrapper clearfix">

                <div class="text-con">

                    <img src="assets/images/display-sizes.svg">
                    <h1>Workforce<br>Time & Asset<br>Management</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="after-hero-title wrapper">
        <h1>Workforce<br>Time & Asset<br>Management</h1>
    </div>

    <div class="red-col-img-con scroll-point">
        <div id="section2" class="scroll"></div>
        <section class="wrapper clearfix red-col-img">

            {% set entry =  craft.entries.section('whatIsReflow').first() %}
            <h2 class="title">{{ entry.mainSectionTitle }}</h2>
            <div class="column-2" style="padding-bottom:60px;">

                {{ entry.leftColumnText }}
                {{ entry.rightColumnText }}
            </div>


            <img src="assets/images/devices.png">
        </section>
    </div>

    <section class="video-section wrapper clearfix">

        <!--     <div class="video-link-con">
                <a class="fancybox" href="{{ entry.videoUrl }}"></a>
                <div class="img-con" style="height:148px;">
                    {{ entry.videoUrl | videoEmbed }}
                </div>
            </div>-->


    </section>

    <section class="infographic-con wrapper clearfix scroll-point">
        <span id="section3" class="scroll2"></span>
        <h2 class="title">{{ entry.mainTitle }}</h2>

        <div class="img-con">
            <img class="desk" src="assets/images/info-desk.png">
            <img class="mob" src="assets/images/info-tablet.png">

            <div class="info info1">
                <h5>{{ entry.sales }}</h5>
                <div class="text-con">
                    <p>{{ entry.salesInfo }}</p>
                </div>
            </div>

            <div class="info info2">
                <h5>{{ entry.vehicleCheck }}</h5>
                <div class="text-con">
                    <p>{{ entry.vehicleCheckInfo }}</p>
                </div>
            </div>

            <div class="info info3">
                <h5>{{ entry.onSite }}</h5>
                <div class="text-con">
                    <p>{{ entry.onSiteInfo }}</p>
                </div>
            </div>

            <div class="info info4">
                <h5>{{ entry.estimating }}</h5>
                <div class="text-con">
                    <p>{{ entry.estimatingInfo }}</p>
                </div>
            </div>

            <div class="info info5">
                <h5>{{ entry.management }}</h5>
                <div class="text-con">
                    <p>{{ entry.managementInfo }}</p>
                </div>
            </div>

            <div class="info info6">
                <h5>{{ entry.healthAndSafety | raw }}</h5>
                <div class="text-con">
                    <p>{{ entry.healthAndSafetyInfo }}</p>
                </div>
            </div>
        </div>
    </section>

    <div class="red-slide-img-con van scroll-point">
        <span id="section4" class="scroll"></span>
        <div class="top-img-con animation">
            <div class="wrapper clearfix">
                <img class="img1" src="assets/images/man.svg">
            </div>
            <img class="img2" src="assets/images/van.svg">
        </div>

        <section class="wrapper clearfix red-slide-img">

            <div class="quote-slide slick clearfix">

                {% for block in entry.testimonialBlock_one %}
                    <div class="matchHeight">
                        <div class="img-con" style="background-color: rgba(0,0,0, .0)!important;width:auto;">
                            <div class="tc">
                                <img src="{{ block.logo.first().url() }}">
                            </div>
                        </div>
                        <blockquote>{{ block.description }}</blockquote>

                        <div class="by">{{ block.author }}</div>
                        <div class="position">{{ block.position }}</div>
                        <div class="comp">{{ block.company }}</div>
                    </div>

                {% endfor %}

            </div>
        </section>
    </div>

    <div class="blue-col-img-con scroll-point">
        <span id="section5" class="scroll"></span>

        {% set entry2 = craft.entries.section('whatIsReFlowFor').first() %}
        <section class="wrapper clearfix blue-col-img">
            <h2 class="title">{{ entry2.title }}</h2>
            <h4>{{ entry2.additionalTitle }}</h4>
            <div class="column-2">
                <p>{{ entry2.leftColumnText }}</p>
                <p>{{ entry2.rightColumnText }}</p>
            </div>
            <img src="assets/images/people.svg">
        </section>
    </div>

    {% for entry in craft.entries.section('benefits') %}
    <section class="mob-slide-con wrapper clearfix scroll-point">
        <span id="section6" class="scroll2"></span>
        <h2 class="title">The Benefits of Using Re-Flow</h2>
        <div class="mob-slide slick clearfix">

            {% for block in entry.benefitsBlock %}
                <div class="not-mob">
                    <div class="img-con">
                        <div class="tc">
                            {% if block.blockImage | length %}
                                <img src="{{ block.blockImage.first().url() }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-con">
                        <h5>{{ block.blockDescription }}</h5>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

    <div class="red-slide-img-con lawn scroll-point">
        <span id="section7" class="scroll"></span>
        <div class="top-img-con animation">
            <div class="wrapper clearfix">
                <img class="img3" src="assets/images/lawn.svg">
            </div>
        </div>

        <section class="wrapper clearfix red-slide-img">

            <div class="quote-slide slick clearfix">

                {% for block in entry2.testimonialBlock_one %}
                    <div class="matchHeight">
                        <div class="img-con" style="background-color: rgba(0,0,0, .0)!important;width:auto;">
                            <div class="tc">
                                <img src="{{ block.logo.first().url() }}">
                            </div>
                        </div>
                        <blockquote>{{ block.description }}</blockquote>

                        <div class="by">{{ block.author }}</div>
                        <div class="position">{{ block.position }}</div>
                        <div class="comp">{{ block.company }}</div>
                    </div>

                {% endfor %}

                {% endfor %}

            </div>
        </section>
    </div>

    <section class="carousel-con wrapper clearfix scroll-point">
        <span id="section8" class="scroll2"></span>
        <h2 class="title">Features</h2>

        <div class="carousel-slide slick clearfix">

            {% for entry in craft.entries.section('features') %}

                {% for block in entry.featureBlock %}

                    <div class="matchHeight">
                        <div class="img-con">
                            <div class="tc">
                                <img src="{{ block.image.first().url() }}">
                            </div>
                        </div>
                        <div class="text-con">
                            <h5>{{ block.titleBlock }}</h5>

                            <p>{{ block.contentBlock }}</p>
                        </div>
                    </div>

                {% endfor %}
            {% endfor %}

        </div>

    </section>

    <div class="red-list-con scroll-point">
        <span id="section9" class="scroll"></span>

        {% for entry in craft.entries.section('ourService') %}
            <section class="wrapper clearfix red-list">
                <h2 class="title">Our Service</h2>

                <ul class="icon-list clearfix">

                    {% for block in entry.serviceBlock %}
                        <li class="i-item clearfix">
                            <div class="img-side">
                                <img src="{{ block.logo.first().url() }}">
                            </div>
                            <div class="text-side">
                                <h5>{{ block.titleBLock }}</h5>
                                <p>{{ block.description }}</p>
                            </div>
                        </li>
                    {% endfor %}

                </ul>

                <div class="img-con">
                    <img src="assets/images/re-flow-man.svg">
                </div>

            </section>
        {% endfor %}

    </div>

    {% set entry = craft.entries.section('testimonials').first() %}
    {% set counter=0 %}
    <section class="video-list-con wrapper clearfix scroll-point">
        <span id="section10" class="scroll2"></span>
        <h2 class="title">What Our Clients Say</h2>

        <ul class="video-list slick">

            {% for block in entry.videoTestimonial %}
                {% set counter = loop.index %}
                <li class="v-item {% if loop.index>3 %}more_video{% endif %}">
                    <a class="fancybox" href="{{ block.video }}"></a>
                    {% if block.videoCover | length %}
                        <div class="img-con">
                            <img src="{{ block.videoCover.first().url('testimonialCover') }}">
                        </div>
                    {% else %}
                        <div class="img-con" style="height:148px;">
                            {{ block.video | videoEmbed }}
                        </div>
                    {% endif %}


                    <div class="text-con">
                        <div class="name">{{ block.blockName }}</div>
                        <div class="role">{{ block.position }}</div>
                        <div class="place">{{ block.company }}</div>
                    </div>
                </li>
            {% endfor %}

        </ul>

        <div class="btn-con">
            <button id="show_video" class="btn">SEE MORE VIDEOS</button>
        </div>

    </section>

    <div class="grey-col-outer scroll-point">
        <span id="section11" class="scroll2"></span>
        <div class="tree-top"></div>
        <div class="grey-bottom">

            {% set entry = craft.entries.section('price').first() %}
            <section class="grey-col clearfix wrapper">

                <div class="img-top">
                    <div class="sign">
                        <img class="body" src="assets/images/sign-body.svg" style="height:260px;">
                        <img class="hands" src="assets/images/sign-hands.svg">
                    </div>
                </div>

                <h2 class="title">{{ entry.title }}</h2>

                <p style="text-align: center; padding-bottom: 20px">Our loyal customers make us happy, so we’ve built
                    pricing to make you happy as well.<br/>​ See how much extra value you get from uniting more of your
                    workforce for longer in our handy guide. </p>

                <div class="newPricing">

                    <div class="animate title closed">
                        <h4 class="panel-title margin-none"><span class="faq_question" style="font-size:20px;">Licenses</span></h4>
                    </div>


                    <div class="answer_style answer">
                        <p>Our plans are capped at £30 per user for a one month contract, but you get up to £17.50 per
                            user/per month discount for longer contracts.</p>

                        <div class="panel-body animate">
                            <table class="pricing">
                                <tbody>
                                <tr class="thead">
                                    <td colspan="1" rowspan="1">
                                        <p class="hidden-desktop">​Months</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>1<span class="hidden-mobile"> month</span></p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>12 <span class="hidden-mobile"> months</span></p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>24+ <span class="hidden-mobile"> months</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="lheading" rowspan="1">
                                        <p>10-100​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;30​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;25​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;20​</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="lheading" rowspan="1">
                                        <p>101-200​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;30​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;22.50​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;17.50​</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="lheading" rowspan="1">
                                        <p>201-300​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;30​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;20​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;15​</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="lheading" rowspan="1">
                                        <p>300+​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;30</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;17.50​</p>
                                    </td>
                                    <td colspan="1" rowspan="1">
                                        <p>&pound;12.50​</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="lheading" rowspan="1">
                                        <p>Set up​</p>
                                    </td>
                                    <td colspan="3" rowspan="1">
                                        <p>POA</p>
                                        <p>Setup will include bespoke training, full supporting documentation, custom configuration of an agreed number of your forms, and your unique dashboard.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="lheading" rowspan="1">
                                        <p>Additional Dynamic Documents​</p>
                                    </td>
                                    <td colspan="3" rowspan="1">
                                        <p>&pound;250 per dynamic document after set up​.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="lheading" rowspan="1">
                                        <p>Additional Professional Services​</p>

                                    </td>
                                    <td colspan="3" rowspan="1">
                                        <p> &pound;850 (+ Expenses if onsite) per day, for services such as development
                                            support or user training​.</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="newPricing">


                    <div class="animate title">
                        <h4 class="panel-title margin-none"><span class="faq_question " style="font-size:20px;">Referrals</span>
                        </h4>
                    </div>


                    <div class="answer_style answer">

                        <p><b>Recommend to a friend and get discounted fees​</b></p>

                        <p>Once you are signed up with us, if you recommend someone who then also signs up to
                            Re-flow, you'll receive a 10%* discount on your monthly fees!​</p>

                        <p><b>Keep referring</b> - For each additional company you refer who then signs up, we'll
                            keep giving you an additional 10%* discount off your monthly fees. All you have to do is
                            make sure they say that they found out about our service from you when they make contact
                            with us.​</p>

                        <p>*Up to a maximum of £50 off your monthly fees per referral, for as long as they remain a
                            customer.</p>

                    </div>
                </div>

                <div class="newPricing">

                    <div class="smallPrint">
                        <p>
                            <b>VAT -</b> ​Note that all costs are exclusive of VAT which will be added at the
                            current rate.​
                            <br/>
                            <b>Terms​ -</b> Set up fees are due by return with a signed contract.​ Monthly fees will
                            be invoiced 30 days after the date of signing.
                        </p>


                    </div>
                </div>

                {#                <div class="panel panel-default animate">
                                    <div class="newPricing js_showhide">

                                        <div class="animate title closed">
                                            <h4 class="panel-title"><span class="faq_question " style="font-size:20px;">SME <span
                                                            class="hidden-mobile">Licences </span>(10-50 users)</span></h4>
                                        </div>


                                        <div class="answer_style answer">
                                            <p>SME plans are capped at £30 per user for a one month contract, but you get up to £10 per
                                                user/per month loyalty discount for signing up for a longer period​.</p>

                                            <div class="panel-body animate">
                                                <table class="pricing">
                                                    <tbody>
                                                    <tr class="thead">
                                                        <td colspan="1" rowspan="1">
                                                            <p class="hidden-desktop">​Months</p>
                                                        </td>
                                                        <td colspan="1" rowspan="1">
                                                            <p>1<span class="hidden-mobile"> month</span></p>
                                                        </td>
                                                        <td colspan="1" rowspan="1">
                                                            <p>12 <span class="hidden-mobile"> months</span></p>
                                                        </td>
                                                        <td colspan="1" rowspan="1">
                                                            <p>24+ <span class="hidden-mobile"> months</span></p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1" class="lheading" rowspan="1">
                                                            <p>Cost Per User, Per Month​</p>
                                                        </td>
                                                        <td colspan="1" rowspan="1">
                                                            <p>&pound;30​</p>
                                                        </td>
                                                        <td colspan="1" rowspan="1">
                                                            <p>&pound;25​</p>
                                                        </td>
                                                        <td colspan="1" rowspan="1">
                                                            <p>&pound;20​</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1" class="lheading" rowspan="1">
                                                            <p>Setup​</p>
                                                        </td>
                                                        <td colspan="3" rowspan="1">
                                                            <p>&pound;2,900, including building 10 dynamic documents to replace your
                                                                forms, and remote user training. ​</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1" class="lheading" rowspan="1">
                                                            <p>Additional Dynamic Documents​</p>
                                                        </td>
                                                        <td colspan="3" rowspan="1">
                                                            <p>&pound;250 per dynamic document required after set-up or additional to
                                                                the 10 dynamic documents included during your set-up. ​</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1" class="lheading" rowspan="1">
                                                            <p>Additional Professional Services​</p>
                                                        </td>
                                                        <td colspan="3" rowspan="1">
                                                            <p>&pound;850 (+ Expenses if onsite) per day, for services such as
                                                                development support or user training​.</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel panel-default animate">
                                    <div class="newPricing js_showhide">


                                        <div class="animate title closed">
                                            <h4 class="panel-title"><span class="faq_question " style="font-size:20px;">Enterprise <span
                                                            class="hidden-mobile">Licences </span>(51+ users)</span></h4>
                                        </div>


                                        <div class="answer_style answer ">
                                            <p>Enterprise plans are capped at £30 per user for a one month contract, but you get up to
                                                £17.50 per user/per month discount for longer contracts. ​</p>

                                            <p class="panel-body animate">
                                                <table class="pricing">
                                                    <tbody>
                                                    <tr class="thead">
                                                        <td colspan="1" rowspan="1">
                                            <p class="hidden-desktop">​Months</p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>1<span class="hidden-mobile"> month</span></p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>12 <span class="hidden-mobile"> months</span></p>
                                            </td>
                                            <td colspan="1" rowspan="1">
                                                <p>24+ <span class="hidden-mobile"> months</span></p>
                                            </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="lheading" rowspan="1">
                                                    <p>51-100​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;30​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;25​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;20​</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="lheading" rowspan="1">
                                                    <p>101-200​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;30​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;22.50​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;17.50​</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="lheading" rowspan="1">
                                                    <p>201-300​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;30​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;20​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;15​</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="lheading" rowspan="1">
                                                    <p>300+​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;30</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;17.50​</p>
                                                </td>
                                                <td colspan="1" rowspan="1">
                                                    <p>&pound;12.50​</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="lheading" rowspan="1">
                                                    <p>Set up​</p>
                                                </td>
                                                <td colspan="3" rowspan="1">
                                                    <p>POA ​</p>
                                                    <p>This will include unlimited dynamic documents built to replace your forms during
                                                        set up, onsite training and a dedicated account manager. ​</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="lheading" rowspan="1">
                                                    <p>Additional Dynamic Documents​</p>
                                                </td>
                                                <td colspan="3" rowspan="1">
                                                    <p>&pound;250 per dynamic document after set up​.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="1" class="lheading" rowspan="1">
                                                    <p>Additional Professional Services​</p>

                                                </td>
                                                <td colspan="3" rowspan="1">
                                                    <p> &pound;850 (+ Expenses if onsite) per day, for services such as development
                                                        support or user training​.</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default animate">
                                    <div class="newPricing js_showhide">


                                        <div class="animate title">
                                            <h4 class="panel-title"><span class="faq_question " style="font-size:20px;">Referrals</span>
                                            </h4>
                                        </div>


                                        <div class="answer_style answer">

                                            <p><b>Recommend to a friend and get discounted fees​</b></p>

                                            <p>Once you are signed up with us, if you recommend someone who then also signs up to
                                                Re-flow, you'll receive a 10%* discount on your monthly fees!​</p>

                                            <p><b>Keep referring</b> - For each additional company you refer who then signs up, we'll
                                                keep giving you an additional 10%* discount off your monthly fees. All you have to do is
                                                make sure they say that they found out about our service from you when they make contact
                                                with us.​</p>

                                            <p>*Up to a maximum of £50 off your monthly fees per referral, for as long as they remain a
                                                customer.</p>

                                        </div>
                                    </div>
                                    <div class="newPricing">
                                        <div class="smallPrint">
                                            <p>
                                                <b>VAT -</b> ​Note that all costs are exclusive of VAT which will be added at the
                                                current rate.​
                                                <br/>
                                                <b>Terms​ -</b> Set up fees are due by return with a signed contract.​ Monthly fees will
                                                be invoiced 30 days after the date of signing.
                                            </p>
                                        </div>
                                    </div>
                                </div>#}


                {#

                                <div class="columns clearfix">
                                    <!--								<div class="col">-->
                                    {{ entry.leftColumnText }}<!--								</div>-->

                                    <!--								<div class="col">-->

                                    {{ entry.middleTextColumn }}<!--								</div>-->

                                    <!--								<div class="col">-->
                                    {{ entry.rightColumnText }}<!--								</div>-->
                                </div>#}

            </section>
        </div>
    </div>

    <section class="news-list-con wrapper clearfix scroll-point">
        <span id="section12" class="scroll2"></span>
        <h2 class="title">Latest News</h2>

        <ul class="news-list slick">


            {% set latestNews = craft.entries.section('news').limit(4) %}


            {% for item in latestNews %}
                <li class="n-item">
                    <a href="{{ item.url }}"></a>
                    <div class="img-con">
                        <img src="{{ item.leadImage.first().url('mainPageListNews') }}">
                    </div>
                    <div class="text-con">
                        <h5>{{ item.title }}</h5>
                        <p>{{ item.introText |hacksaw(hack='characters', limit='100') }}...</p>
                        <span> Read More</span>
                    </div>
                </li></a>

            {% endfor %}

        </ul>

        <div class="btn-con">
            <a href="/news" class="btn">SEE MORE NEWS</a>
        </div>

    </section>

    {% for entry in craft.entries.section('companiesLogos') %}
        <section class="wrapper icon-list-con clearfix scroll-point">
            <span id="section13" class="scroll2"></span>
            <h2 class="title">You’re in Good Company</h2>

            <ul class="logo-list clearfix">
                {% for block in entry.companiesLogos %}
                    <li class="l-item matchHeight">
                        <div class="tc">
                            <img src="{{ block.logo.first().url() }}">
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </section>
    {% endfor %}

    {% for entry in craft.entries.section('accreditationsLogos') %}
        <section class="wrapper icon-list-con clearfix scroll-point">
            <span id="section14" class="scroll2"></span>
            <h2 class="title">Accreditations and Partners</h2>

            <ul class="logo-list clearfix">
                {% for block in entry.accreditationsLogos %}
                    <li class="l-item matchHeight">
                        <div class="tc">
                            <img src="{{ block.logo.first().url() }}">
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </section>
    {% endfor %}

    <div class="red-contact-con">
        <span id="section15" class="scroll"></span>
        <section class="red-contact wrapper clearfix">
            <img src="assets/images/contact.svg">

            <h3><a href="/form">Contact us for more information or to arrange a demo</a></h3>
            <h4 style="margin-bottom: 0;">Call us on {{ reactor15Information.telNumber }}</h4>
            {#<h4><a href="mailto:{{ reactor15Information.email}}">{{ reactor15Information.email}}</a></h4>#}
            <br>
            <div class="info-col" style="text-align:center;">
                <address style="text-align: left;">{{ reactor15Information.address | nl2br | raw }}</address>
                <div class="vat">
                    <p style="text-align:right;">{{ reactor15Information.vat }}</p>
                </div>
            </div>

        </section>
    </div>

    <section id="map" class="map-con scroll-point"></section>

    <script>
        var map;

        function initMap() {
            var mapPosition = {lat: 50.725031, lng: -3.523816};

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: mapPosition
            });

            var customPin = {
                url: 'assets/images/map-pin.png',
                size: new google.maps.Size(52, 77),
                scaledSize: new google.maps.Size(52, 77),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(26, 77)
            };

            var marker = new google.maps.Marker({
                position: mapPosition,
                map: map,
                icon: customPin
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGA20n6QbttZEBDVTvjaNH1zww2VxKctY&callback=initMap"
            async defer></script>
    <script>
        $(document).ready(function () {

            var button_clicked = 0;

            $("#show_video").click(function () {


                if (button_clicked == 0) {
                    document.getElementById('show_video').innerHTML = 'SEE LESS VIDEOS';
                    button_clicked = 1;

                } else if (button_clicked == 1) {
                    document.getElementById('show_video').innerHTML = 'SEE MORE VIDEOS';
                    button_clicked = 0;

                }


                $(".more_video").slideToggle();
            });

            $(".more_video").hide();


        });
    </script>
    <style type="text/css">
        .red-contact {

            max-width: 60%;
        }

        @media (max-width: 975px) {
            .info-col .vat p {
                text-align: left !important;
            }
        }

        @media (min-width: 975px) {
            .info-col .vat p {
                text-align: right !important;
            }
        }

        .info .text-con p {
            font-weight: bold;
        }


    </style>
{% endblock %}
