{% if entry.sector | length %}
    {% set query = "" %}
    {% for option in entry.sector %}
        {% set query = query~"sector:"~option %}
        {% if not loop.last %} {% set query = query~" OR " %} {% endif %}
    {% endfor %}
    {% set benefits = craft.entries({
        section: "sectorBenefits",
        search: query
    }) %}
{% else %}
    {% set benefits = craft.entries({
        section: "sectorBenefits"
    }) %}
{% endif %}
<section class="bg-gray">
    <div class="mob-slide-con wrapper clearfix">
        {% if block.heading|length %}<h2 class="title">{{ block.heading }}</h2>{% endif %}
        <div class="mob-slide slick clearfix">

            {% for benefit in benefits %}
                <div class="not-mob">
                    <div class="img-con">
                        <div class="tc">
                            {% if benefit.benefitImage | length %}
                                <img src="{{ benefit.benefitImage.first().url() }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-con">
                        <h5>{{ benefit.benefitDescription }}</h5>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="btn-con btn-three">
            <div>
                <a href="/documents/Re-flow-10-Steps-to-Re-flow-Your-Business.pdf" target="_blank"><img src="/assets/images/Re-flow-your-business.png" style="margin-bottom:45px;" /></a>
                <a href="/documents/Re-flow-10-Steps-to-Re-flow-Your-Business.pdf" target="_blank" class="btn">Re-flow your business in 10 steps</a>
            </div>
            {% if block.sectorReport|length %}
                <div>
                    <a href="{{ block.sectorReport.first().url() }}" target="_blank" class="btn btn-gray">{{ entry.title }} Report</a>
                </div>
            {% endif %}
            {% if block.sectorCaseStudy|length %}
                {% if entry.slug == 'fit-out' %}
                    {% set studyImage = 'Re-flow-Fit-Out-Case-Study.png' %}
                {% elseif entry.slug == 'landscaping' or entry.slug == 'flexibility' %}
                    {% set studyImage = 'Re-flow-Landscaping-Case-Study.png' %}
                {% elseif entry.slug == 'line-marking' or entry.slug == 'transparency' %}
                    {% set studyImage = 'Re-flow-Line-Marking-Case-Study.png' %}
                {% elseif entry.slug == 'toppesfield-re-flow-case-study' or entry.slug == 'highways' %}
                    {% set studyImage = 'Toppesfield-Case-Study-Button.png' %}
                {% elseif entry.slug == 'health-safety-and-compliance' or entry.slug == 'safety' %}
                    {% set studyImage = 'Toppesfield-H&S-Case-Study-Button.png' %}
                {% elseif entry.slug == 'communication-management' %}
                    {% set studyImage = 'Arque-Case-Study-Button.png' %}
                {% else %}
                    {% set studyImage = 'Re-flow-Highway-Civil-Construction-Case-Study.png' %}
                {% endif %}
                <div>
                    <a href="{{ block.sectorCaseStudy.first().url() }}"><img src="/assets/images/{{ studyImage }}" style="margin-bottom:45px;" /></a>
                    <a href="{{ block.sectorCaseStudy.first().url() }}" class="btn btn-gray">{{ entry.title }} Case Study</a>
                </div>
            {% endif %}

            {% if block.showInfographics|length %}
                <div>
                    <a href="/documents/4129-Re-flow-Construction-Cost-Benefit-Analysis-FAW.pdf"><img src="/images/4162-Re-flow-Construction-Button-Graphic.png" style="margin-bottom:45px;" /></a>
                    <a href="/documents/4129-Re-flow-Construction-Cost-Benefit-Analysis-FAW.pdf" class="btn btn-gray">Construction Cost Benefit</a>
                </div>
                <div>
                    <a href="/documents/4117-Re-flow-Highways-Cost-Analysis-Infographic-2019-FAW.pdf"><img src="/images/4162-Re-flow-Highways-Button-Graphic.png" style="margin-bottom:45px;" /></a>
                    <a href="/documents/4117-Re-flow-Highways-Cost-Analysis-Infographic-2019-FAW.pdf" class="btn btn-gray">Highways Cost Benefit</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
