<section class="bg-red" style="padding:30px 0;">
    <div class="wrapper clearfix">
        <a href="{{ block.bannerLink }}" style="display:flex;color:white;text-decoration:none;">
        <img src="/assets/images/calculator-icon.png" alt="Calculator" style="height:90px;" />
        {% if block.text|length %}
            <strong style="align-self:center;text-align:center;flex-grow:1;font-size:32px;">
            {{ block.text }}
            </strong>
        {% endif %}
        </a>
    </div>
</section>
