{% if entry.sector | length %}
    {% set query = "" %}
    {% for option in entry.sector %}
        {% set query = query~"sector:"~option %}
        {% if not loop.last %} {% set query = query~" OR " %} {% endif %}
    {% endfor %}
    {% set logos = craft.assets({
        source: "companyLogos",
        search: query
    }) %}
{% else %}
    {% set logos = craft.assets({
        source: "companyLogos"
    }) %}
{% endif %}

{% if logos|length %}
<section class="wrapper icon-list-con clearfix">
    {% if block.heading|length %}<h2 class="title">{{ block.heading }}</h2>{% endif %}
    <ul class="logo-list clearfix">
        {% for logo in logos %}
            <li class="l-item matchHeight">
                <img src="{{ logo.url() }}" alt="{{ logo.title }}">
            </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
