<section class="bg-gray features-pricing-con">
    <div class="wrapper clearfix">
        {% if block.heading|length %}<h2 class="title">{{ block.heading }}</h2>{% endif %}
        <strong>{{ block.text }}</strong>
        <div class="btn-con">
            <a href="/#section8" class="btn" style="margin-right:32px;">Features</a>
            <a href="/#section11" class="btn">Pricing</a>
        </div>
    </div>
</section>
