<div class="form-header-copy">
    Find out how your organisation can make significant gains today<br><br>
    More information?<br>
    Live demo?<br>
</div>
<a class="btn btn-con" href="/form">Enter your details</a>

{#{% set form = craft.formBuilder2.getFormByHandle('landingPages') %}
{% set formSettings = form.formSettings %}
{% set spamProtectionSettings = form.spamProtectionSettings %}
{% set tabs = form.fieldLayout.getFieldLayout().getTabs() %}
{% set scripts = craft.formBuilder2.includeScripts(form) %}

<form method="post" accept-charset="utf-8" name="{{ form.handle }}" class="formbuilder2"
      id="{{ form.handle }}"{% if formSettings.hasFileUploads == '1' %} enctype="multipart/form-data"{% endif %}>
    <input type="hidden" name="action" value="formBuilder2/entry/submitEntry">
    <input type="hidden" name="redirect" data-custom-redirect="{{ formSettings.formRedirect.customRedirect }}"
           value="{{ formSettings.formRedirect.customRedirectUrl }}">
    <input type="hidden" name="formHandle" value="{{ form.handle }}">

    {% if spamProtectionSettings.spamTimeMethod == '1' %}<input type="hidden" name="spamTimeMethod"
                                                                value="{{ 'now'|date('U') }}">{% endif %}
    {% if spamProtectionSettings.spamHoneypotMethod == '1' %}
        <div style="display:none;"><label
                for="email-addresss-new">{{ spamProtectionSettings.spamHoneypotMethodMessage }}</label><input
                name="email-address-new" value="" id="email-addresss-new"></div>{% endif %}
    {{ getCsrfInput() }}

    {% if form.extra['formHeaderCopy'] is defined and form.extra['formHeaderCopy'] %}
        <div class="form-header-copy">{{ form.extra['formHeaderCopy']|striptags }}</div>
    {% endif %}

    #}{# Fields #}{#
    {% for tab in tabs %}
        {% set fields = tab.getFields() %}
        {% for field in fields %}
            {% set value = value is defined ? value : [] %}
            {% set input = craft.formBuilder2.getInputHtml(field, value) %}
            {{ input |raw }}
        {% endfor %}
    {% endfor %}

    {% if form.extra['termsAndConditions'] is defined and form.extra['termsAndConditions'] %}
        {{ craft.formBuilder2.getTermsInputs(form) |raw }}
    {% endif %}

    #}{# Errors/Success Messages #}{#
    <div class="notifications">
        <p class="notification error-message">{{ craft.session.getFlash('error') | raw }}</p>
        <p class="notification success-message">{{ craft.session.getFlash('success') | raw }}</p>
        {% set errors = (errors is defined ? errors : null) %}
        {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <button class="btn" type="submit">{% if formSettings.submitButtonText %}{{ formSettings.submitButtonText }}{% else %}Submit Message{% endif %}</button>
</form>

<script>
    document.addEventListener("formbuilder:submit", successfulSubmission, false);
    function successfulSubmission(e) {
        var success = e.detail.response.success;
        if (success) {
            $('*', '#landing-page-form form').not('.notifications').hide();
        }
    }
</script>#}
