<section class="wrapper icon-list-con clearfix">

    {% if block.heading|length %}<h2 class="title">{{ block.heading }}</h2>{% endif %}

    <div class="clearfix">

        {% if block.alignment == 'right' %}

            <div class="col8 first">
                {{ block.text }}
            </div>

            <div class="col4">
                <img src="{{ block.image.first().url() }}" alt="{{ block.heading }}" style="max-width:100%;">
            </div>

        {% else %}

            <div class="col4 first">
                <img src="{{ block.image.first().url() }}" alt="{{ block.heading }}" style="max-width:100%;">
            </div>

            <div class="col8">
                {{ block.text }}
            </div>

        {% endif %}

    </div>

</section>
