{% if entry.sector | length %}
    {% set query = "" %}
    {% for option in entry.sector %}
        {% set query = query~"sector:"~option %}
        {% if not loop.last %} {% set query = query~" OR " %} {% endif %}
    {% endfor %}
    {% set testimonials = craft.entries({
        section: "sectorTestimonials",
        search: query
    }) %}
{% else %}
    {% set testimonials = craft.entries({
        section: "sectorTestimonials"
    }) %}
{% endif %}
<div class="red-slide-img-con">
    <section class="wrapper clearfix red-slide-img">
        {% if block.heading|length %}<h2 class="title">{{ block.heading }}</h2>{% endif %}
        <div class="quote-slide slick clearfix">
            {% for testimonial in testimonials %}
                <div class="matchHeight">
                    {% if testimonial.companyLogo.first() %}
                        <div class="img-con" style="background-color: rgba(0,0,0, .0)!important;width:auto;">
                            <div class="tc">
                                <img src="{{ testimonial.companyLogo.first().url() }}">
                            </div>
                        </div>
                    {% endif %}
                    <blockquote>{{ testimonial.quote }}</blockquote>
                    <div class="by">{{ testimonial.person }}</div>
                    <div class="position">{{ testimonial.position }}</div>
                    <div class="comp">{{ testimonial.company }}</div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>