{% if entry.sector | length %}
    {% set query = "" %}
    {% for option in entry.sector %}
        {% set query = query~"sector:"~option %}
        {% if not loop.last %} {% set query = query~" OR " %} {% endif %}
    {% endfor %}
    {% set videos = craft.entries({
        section: "sectorVideos",
        search: query
    }) %}
{% else %}
    {% set videos = craft.entries({
        section: "sectorVideos"
    }) %}
{% endif %}
<section class="video-list-con wrapper clearfix">
    {% if block.heading|length %}<h2 class="title">{{ block.heading }}</h2>{% endif %}
    <ul class="video-list slick">
        {% set counter=0 %}
        {% for video in videos %}
        {% set counter = loop.index %}
        {% if loop.index==4 %}
        <div id="more_video">
            {% endif %}
            <li class="v-item">
                <a class="fancybox" href="{{ video.videoUrl }}"></a>
                {% if video.videoCover | length %}
                    <div class="img-con">
                        <img src="{{ video.videoCover.first().url() }}">
                    </div>
                {% else %}
                    <div class="img-con" style="height:148px;">
                        {{ video.videoUrl | videoEmbed }}
                    </div>
                {% endif %}
                <div class="text-con">
                    <div class="name">{{ video.videoHeading }}</div>
                    <div class="role">{{ video.videoSubheading }}</div>
                    <div class="place">{{ video.videoText }}</div>
                </div>
            </li>
            {% endfor %}
            {% if counter>3 %}
        </div>
        {% endif %}
    </ul>

    {% if videos|length > 3 %}
    <div class="btn-con">
        <button id="show_video" class="btn">SEE MORE VIDEOS</button>
    </div>
    {% endif %}

</section>

<script>
    $(document).ready(function () {
        var button_clicked = 0;
        $("#show_video").click(function () {
            if (button_clicked == 0) {
                document.getElementById('show_video').innerHTML = 'SEE LESS VIDEOS';
                button_clicked = 1;
            } else if (button_clicked == 1) {
                document.getElementById('show_video').innerHTML = 'SEE MORE VIDEOS';
                button_clicked = 0;
            }
            $("#more_video").slideToggle();
        });
        $("#more_video").hide();
    });
</script>