{% extends "_layout" %}


{% block content %}

    <style>
        blockquote em, h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
            color: #5c6570 !important;
        }
        blockquote {
            font-size: 15px !important;
            margin-top: 20px;
            margin-bottom: 20px;
            border-left:1px solid #5c6570;
            padding-left: 20px;
            color: #5c6570 !important;
            margin-left: 20px;
        }

    </style>

        <section class="hero small">
            <div class="tc">
                <div class="wrapper">
                    <h1>{{ entry.title }}</h1>
                </div>
            </div>
        </section>

    {% if entry.leadImage is defined %}
    <section>

        <img style="max-width:100%;width:auto;margin: 60px auto 0" src="{{ entry.leadImage.first.url }}">

    </section>
    {% endif %}

        <section class="text-area columns wrapper clearfix">
            {{entry.body}}
        </section>

    </main>

</div>

<style>
    .footer {
        bottom: 0;
    }
    #nav{
        display:none;
    }

    .single h3
    {
        font-weight:bold;
        color:  #ca0538;
    }


</style>
{% endblock%}



