{% extends "_layout" %}

{% block content %}

  <section class="hero small">
    <div class="tc">
      <div class="wrapper">
        <h1>Frequently Asked Questions</h1>
      </div>
    </div>
  </section>






    <section class="text-area  wrapper clearfix">

      {% for block in entry.accordion %}
          {% include 'matrix/_'~ block.type %}
      {% endfor %}


    </section>




<style>
  #nav
  {
    display:none;
  }
  section
  {
    text-decoration: none;
  }
</style>




{% endblock %}
