//<div id="burger" class="burger clearfix">menu
//	<div class="line1"></div>
//</div>

$outerHeight: 30px;
$outerWidth: 34px;

$backgroundColour: transparent;

$lineHeight: 3px;
$lineWidth: 25px;
$gap: 5px;

$topLineColour: white;
$topLineColourOpen: $red;

$middleLineColour: white;
$middleLineColourOpen: $red;

$bottomLineColour: white;
$bottomLineColourOpen: $red;

.burger{
	height: $outerHeight;
	width: $outerWidth;
	background-color: $backgroundColour;
	line-height: $outerHeight;
	padding: 1px;
	overflow: hidden;
	-webkit-perspective: 900000px;
	perspective: 900000px;
	display: none;
	float: right;

	@media (max-width: $b2){
		display: block;
		position: absolute;
		top: 24px;
		right: 0;
	}

	@media (max-width: $b3){
		top: 10px;
		right: 2px;
	}

	&:hover{
		cursor: pointer;
	}

	.line1{
		width: $lineWidth;
		max-width: 100%;
		height: $lineHeight;
		background-color: $middleLineColour;
		position: absolute;
		top: (($outerHeight / 2) - ($lineHeight / 2));
		left: $lineWidth / 2;
		border-radius: 5px;
		transform: translateX(-50%);
		background-position: center center;

		&:before,
		&:after{
			width: $lineWidth;
			max-width: 100%;
			height: $lineHeight;
			position: absolute;
			content: '';
			left: 0;
			border-radius: 5px;
			transform-origin: center center;
			background-position: center center;
		}

		&:before{
			transform: translateY(-#{$gap + $lineHeight});
			background-color: $topLineColour;
		}

		&:after{
			transform: translateY(#{$gap + $lineHeight});
			background-color: $bottomLineColour;
		}
	}

	&.close{

		.line1{
			background-color: $middleLineColour;
			visibility: visible;
			transition: visibility .1s .2s;

			&:before{
				transform: translateY(-#{$gap + $lineHeight});


				background-color: $topLineColour;
				visibility: visible;
				animation: before .5s linear;
			}

			&:after{
				transform: translateY(#{$gap + $lineHeight});
				background-color: $bottomLineColour;
				visibility: visible;
				animation: after .5s linear;
			}

			@keyframes before {
				0% {transform: rotate(-45deg) translateY(0);}
				33% {transform: rotate(0deg) translateY(0);}
				66% {transform: translateY(0);}
				100% {transform: translateY(-#{$gap + $lineHeight});}
			}

			@keyframes after {
				0% {transform: rotate(45deg) translateY(0);}
				33% {transform: rotate(0deg) translateY(0);}
				66% {transform: translateY(0);}
				100% {transform: translateY(-#{$gap + $lineHeight});}
			}
		}
	}

	&.open{
		z-index: 1;

		.line1{
			transform-origin: 50% 50%;
			transition: visibility .1s .25s;
			visibility: hidden;
			background-color: $topLineColourOpen;

			&:before{
				transform: rotate(45deg) translateY(0);
				background-color: $topLineColourOpen;
				visibility: visible;
				animation: before-open .5s linear;
			}

			&:after{
				transform: rotate(-45deg) translateY(0);
				background-color: $bottomLineColourOpen;
				visibility: visible;
				animation: after-open .5s linear;
			}

			@keyframes before-open {
				0% {transform: translateY(-#{$gap + $lineHeight});}
				33% {transform: translateY(0);}
				66% {transform: translateY(0);}
				100% {transform: rotate(45deg) translateY(0);}
			}

			@keyframes after-open {
				0% {transform: translateY(#{$gap + $lineHeight});}
				33% {transform: translateY(0);}
				66% {transform: translateY(0);}
				100% {transform: rotate(-45deg) translateY(0);}
			}
		}
	}
}
