//!!BUTTON
button:focus,
.btn:focus{
	outline: none;
}

.btn{
	@include inline;
	padding: 14px 36px 12px;
	letter-spacing: 0.05em;
	@include font-size(13);
	text-decoration: none!important;
	line-height: 1.05em;
	border: 1px solid $red;
	background-color: $red;
	color: white!important;
	border-radius: 24px;
	font-weight: 700;
	text-decoration: none;
	position: relative;
	min-width: 0;
	text-align: center;
	transition: $time;
	cursor: pointer;
	box-shadow: none;
	text-transform: none;
	min-width: 119px;
	text-transform: uppercase;

	&:hover,
	&:focus{
		background-color: darken($red , 10%);
		border: 1px solid darken($red , 10%);
		color: white!important;
		outline: none;
	}

	&.outline{
		border: 1px solid white;

		&:hover,
		&:focus{
			border: 1px solid white;
		}
	}

	&.arrow{
		@include font-size(18);
		padding: 4px 33px 4px 14px;
		letter-spacing: -0.025em;
	}

	&.arrow:before{
		content: '';
		background-image: url(../images/arrow-left-btn.svg);
		background-repeat: no-repeat;
		width: 9.12px;
		height: 10.52px;
		@include inline;
		margin: 0 10px 0 0;
	}

	&.small{
		padding: 11px 20px 8px;
		min-width: 124px;
	}

	&.big{
		@include font-size(18);
		padding: 15px 53px 13px;

		@media (max-width: $b2){
			@include font-size(18);
		}
	}
}
