//!!COLS

//
//!!FULL START
//
$fullcol:	(100/12);

.col1.full,
.col2.full,
.col3.full,
.col4.full,
.col5.full,
.col6.full,
.col7.full,
.col8.full,
.col9.full,
.col10.full,
.col11.full,
.col12.full{
	margin: 0 0 0 0;

	&.matchHeight{
		margin-bottom: 0;
	}
}
.col1.full { width: $fullcol + %;}
.col2.full { width: ($fullcol * 2) + %;}
.col3.full.full {
	width: ($fullcol * 3) + %;

	@media (max-width: 900px){
		width: 50%;
	}

//	@media (max-width: 600px){
//		width: 100%;
//	}
}
.col4.full { width: ($fullcol * 4) + %;}
.col5.full { width: ($fullcol * 5) + %;}
.col6.full { width: ($fullcol * 6) + %;}
.col7.full { width: ($fullcol * 7) + %;}
.col8.full { width: ($fullcol * 8) + %;}
.col9.full { width: ($fullcol * 9) + %;}
.col10.full { width: ($fullcol * 10) + %;}
.col11.full { width: ($fullcol * 11) + %;}
.col12.full { width: 100%;}

.col4.full{

	@media (max-width: 800px){
		width: 100%;
		float: none;
	}
}
//
//!!FULL END
//

//
//!!COL WITH MARGIN START
//
$col-margin	: ($gap-width/$base-width)*100; //column gap calc

$col1		:((100 - ($col-margin * 11))/12);
$col2		:($col1 * 2 + ($col-margin * 1));
$col3		:($col1 * 3 + ($col-margin * 2));
$col4		:($col1 * 4 + ($col-margin * 3));
$col5		:($col1 * 5 + ($col-margin * 4));
$col6		:($col1 * 6 + ($col-margin * 5));
$col7		:($col1 * 7 + ($col-margin * 6));
$col8		:($col1 * 8 + ($col-margin * 7));
$col9		:($col1 * 9 + ($col-margin * 8));
$col10		:($col1 * 10 + ($col-margin * 9));
$col11		:($col1 * 11 + ($col-margin * 10));

@mixin col1{
	width: $col1 + %;
	.lt-ie8 &{
		width: ($col1 - 0.3) + %;
	}
}
@mixin col2{
	width: $col2 + %;
	.lt-ie8 &{
		width: ($col2 - 0.3) + %;
	}
}
@mixin col3{
	width: $col3 + %;
	.lt-ie8 &{
		width: ($col3 - 0.3) + %;
	}
}
@mixin col4{
	width: $col4 + %;
	.lt-ie8 &{
		width: ($col4 - 0.3) + %;
	}
}
@mixin col5{
	width: $col5 + %;
	.lt-ie8 &{
		width: ($col5 - 0.3) + %;
	}
}
@mixin col6{
	width: $col6 + %;
	.lt-ie8 &{
		width: ($col6 - 0.3) + %;
	}
}
@mixin col7{
	width: $col7 + %;
	.lt-ie8 &{
		width: ($col7 - 0.3) + %;
	}
}
@mixin col8{
	width: $col8 + %;
	.lt-ie8 &{
		width: ($col8 - 0.3) + %;
	}
}
@mixin col9{
	width: $col9 + %;
	.lt-ie8 &{
		width: ($col9 - 0.3) + %;
	}
}
@mixin col10{
	width: $col10 + %;
	.lt-ie8 &{
		width: ($col10 - 0.3) + %;
	}
}
@mixin col11{
	width: $col11 + %;
	.lt-ie8 &{
		width: ($col11 - 0.3) + %;
	}
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11{
	margin-left: $col-margin * 1%;
	margin-bottom: $gap-bottom;

	&.matchHeight{
		margin-bottom: $gap-bottom;
	}
}

.col1{
	@include col1;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}
}
.col2{
	@include col2;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	@media (max-width: 850px){
		@include col4;
		float: left;

		&.first{
			margin-left: 0;
			clear: left;
		}
		&.last{
			float: right;
		}

		&:nth-of-type(3n + 1){
			margin-left: 0;
		}
	}

	@media (max-width: 500px){
		width: $col6 + %;

		&.first,
		&.last{
			width: $col6 + %;
		}

		&:nth-of-type(2n + 1){
			float: left;
			clear: left;
			margin-left: 0;

		}

		&:nth-of-type(2n + 2){
//			float: left;
//			clear: left;
//			margin-left: 0;
			margin-left: $col-margin * 1%;
		}
	}

	@media (max-width: 350px){
		margin-left: 0;
		width: 100%;
		float: none;

		&.first,
		&.last,
		&:nth-of-type(2n + 2),
		&:nth-of-type(2n + 1){
			margin-left: 0;
			width: 100%;
			float: none;
		}
	}
}
.col3{
	@include col3;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	@media (max-width: 850px){
		width: $col6 + %;

		&.first,
		&.last{
			width: $col6 + %;
		}

		&:nth-of-type(2n + 1){
			float: left;
			clear: left;
			margin-left: 0;

		}

		&:nth-of-type(2n + 2){
//			float: left;
//			clear: left;
//			margin-left: 0;
		}
	}

//	@media (max-width: 500px){
//		margin-left: 0;
//		width: 100%;
//		float: none;
//
//		&.first,
//		&.last,
//		&:nth-of-type(2n + 2),
//		&:nth-of-type(2n + 1){
//			margin-left: 0;
//			width: 100%;
//			float: none;
//		}
//	}
}
.col4{
	@include col4;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right;
	}

	@media (max-width: 800px){
		width: $col6 + %;

		&.first,
		&.last{
			width: $col6 + %;
		}

		&:nth-of-type(2n + 2){
			float: right;
			clear: none;
		}

		&:nth-of-type(2n + 1){
			margin-left: 0;
			float: left;
			clear: left;
		}
	}

	@media (max-width: 550px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}
	}
}

.col5{
	@include col5;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	@media (max-width: 650px){
		width: $col6 + %;
		margin-top: 0;

		&.first,
		&.last{
			width: $col6 + %;
			margin-top: 0;
		}

		&:nth-of-type(2n + 2){
			float: right;
		}

		&:nth-of-type(2n + 1){
			margin-left: 0;
		}
	}

	@media (max-width: 650px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}
	}
}

.col6{
	@include col6;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	.col6{
		@media (max-width: 800px){
			width: 100%;
			margin-left: 0;
			float: none;

			&.first,
			&:nth-of-type(2n + 1),
			&:nth-of-type(2n + 2){
				width: 100%;
				margin-left: 0;
				float: none;
			}
		}
	}

	@media (max-width: 600px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}

		.col6{
			@media (max-width: 600px){
				@include col6;
				float: left;
				&.first{
					@include col6;
					margin-left: 0;
					clear: left;
					float: left;
				}
				&.last{
					@include col6;
					float: right;
					clear: none;
				}
			}

			@media (max-width: 420px){
				width: 100%;
				margin-left: 0;
				float: none;

				&.first,
				&:nth-of-type(2n + 1),
				&:nth-of-type(2n + 2){
					width: 100%;
					margin-left: 0;
					float: none;
				}
			}
		}
	}
}
.col7{
	@include col7;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	@media (max-width: 650px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}

		& + .col5{
			width: 100%;
			margin-left: 0;
			float: none;
		}
	}
}
.col8{
	@include col8;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	@media (max-width: 800px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}

		& + .col4{
			width: 100%;
		}
	}
}

.col9{
	@include col9;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	@media (max-width: 930px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}
	}
}
.col10{
	@include col10;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	@media (max-width: 950px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}
	}
}
.col11{
	@include col11;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right
	}

	@media (max-width: 950px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}
	}
}

.col12{
	width: 100%;
	float: left;
	clear: both;
	margin: 0 0 $gap-bottom;

	&.align-center{

		img{
			margin: 0 auto;
		}
	}


}
//
//!!COL WITH MARGIN END
//

//
//!!ALT GAP START
//
$col-margin-alt	: ($gap-width-alt/$base-width)*100; //column gap calc

$col1-alt		:((100 - ($col-margin-alt * 11))/12);
$col2-alt		:($col1-alt * 2 + ($col-margin-alt * 1));
$col3-alt		:($col1-alt * 3 + ($col-margin-alt * 2));
$col4-alt		:($col1-alt * 4 + ($col-margin-alt * 3));
$col5-alt		:($col1-alt * 5 + ($col-margin-alt * 4));
$col6-alt		:($col1-alt * 6 + ($col-margin-alt * 5));
$col8-alt		:($col1-alt * 8 + ($col-margin-alt * 7));
$col9-alt		:($col1-alt * 9 + ($col-margin-alt * 8));
$col10-alt		:($col1-alt * 10 + ($col-margin-alt * 9));
$col11-alt		:($col1-alt * 11 + ($col-margin-alt * 10));

@mixin col3-alt{
	width: $col3-alt + %;
	.lt-ie8 &{
		width: ($col3-alt - 0.3) + %;
	}
}

@mixin col4-alt{
	width: $col4-alt + %;
	.lt-ie8 &{
		width: ($col4-alt - 0.3) + %;
	}
}

@mixin col6-alt{
	width: $col6-alt + %;
	.lt-ie8 &{
		width: ($col6-alt - 0.3) + %;
	}
}

.col6.alt{
	@include col6-alt;
	margin-left: $col-margin-alt * 1%;
	margin-bottom: $gap-bottom-alt;

	&:nth-of-type(2n + 1){
		margin-left: 0;
	}

	@media (max-width: 700px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}
	}
}

.col3.alt{
	@include col3-alt;
	margin-left: $col-margin-alt * 1%;
	margin-bottom: $gap-bottom-alt;

	@media (max-width: 575px){
		@include col6-alt;

		&:nth-of-type(2n + 1){
			margin-left: 0;
			clear: left;
		}
	}

	@media (max-width: 420px){
		margin-left: 0;
		width: 100%;
	}

//	@media (max-width: 500px){
//		width: 100%;
//		margin-left: 0;
//	}

	&.first{
		margin-left: 0;
	}

	&.matchHeight{
		margin-bottom: $gap-bottom-alt;
	}

	&.alt-bottom{
		margin-bottom: $gap-bottom-alt;

		&.matchHeight{
			margin-bottom: $gap-bottom-alt;
		}
	}
}

.col4.alt{
	@include col4-alt;
	margin-left: $col-margin-alt * 1%;
	margin-bottom: $gap-bottom-alt;

	&.matchHeight{
		margin-bottom: $gap-bottom-alt;
	}

	&.alt-bottom{
		margin-bottom: $gap-bottom-alt;

		&.matchHeight{
			margin-bottom: $gap-bottom-alt;
		}
	}
}

.col4.alt{
	@include col4-alt;
	float: left;
	&.first{
		margin-left: 0;
		clear: left;
	}
	&.last{
		float: right;
	}
	@media (max-width: 800px){
		width: $col6-alt + %;

		&.first,
		&.last{
			width: $col6-alt + %;
		}

		&:nth-of-type(2n + 2){
			float: right;
			clear: none;
		}

		&:nth-of-type(2n + 1){
			margin-left: 0;
			float: left;
			clear: left;
		}
	}

	@media (max-width: 550px){
		width: 100%;
		margin-left: 0;
		float: none;

		&.first,
		&:nth-of-type(2n + 1),
		&:nth-of-type(2n + 2){
			width: 100%;
			margin-left: 0;
			float: none;
		}
	}
}
//
//!!ALT GAP END
//



