.footer-outer-wrapper{
	background-size: cover;
	background-position: 50% 0;
}

footer{
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;

	@media (max-width: $b2){
		position: relative;
	}

	.footer-top-outer{
		background-color: black;

		.wrapper{
			padding: 23px 0 25px;
			max-width: 1187px;
		}
	}

	.copy{
		margin: 5px 0;
		float: left;
		display: block;

		span{
			@include inline;
			vertical-align: middle;
			border-right: 1px solid white;
			padding-right: 10px;
			margin-right: 8px;
		}

		a{
			@include inline;
			vertical-align: middle;
			color: white;
			text-decoration: none;

			&:hover,
			&:focus{
				color: $red;
			}
		}
	}

	.social-menu{
		float: right;
		margin-bottom: 0;

		@media (max-width: $b3){
			float: left;
			margin-top: 20px;
			clear: left;
		}
	}
}
