//!!FORM
::-webkit-input-placeholder {
	@include font-size(15);
}

:-moz-placeholder { /* Firefox 18- */
	@include font-size(15);
}

::-moz-placeholder {  /* Firefox 19+ */
	@include font-size(15);
}

:-ms-input-placeholder {
	@include font-size(15);
}

form{
	margin: 0 auto;
	width: auto;
	display: block;
	margin-bottom: 24px;
	//max-width: 586px;

	@media (max-width: $b2){
		margin-bottom: 6px;
	}

	&.form-login{
		max-width: none;
	}

	&:after{
		visibility:hidden;
		display:block;
		font-size:0;
		content:" ";
		clear:both;
		height:0;
	}

	* html &{
		height:1%;
	}

	p{
		a{
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}

input,
input.input-text,
textarea,
select{
	display: block;
	padding: 15px 14px 12px;
	@include font-size(15);
	font-weight: 600;
	font-family: $main-font;
	width: 100%;
	max-width: 100%;
	margin-bottom: 12px;
	border: 1px solid $grey-light;
	background-color: $grey-light;
	border-radius: 0px;
	color: $colour;
	line-height: 1.15em;

	@media (max-width: $b2){
		@include font-size(14);
		padding: 15px 14px 12px;
	}

	.searchform &,
	#gform_wrapper_1 &{
		padding: 3px 7px 3px;
		@include font-size(14);
		border: 1px solid black;
		background-color: white;
	}
}

textarea{
	height: 199px;
}

input:focus,
input.input-text:focus,
textarea:focus,
select:focus{
	outline: none;
	//background-color: rgba(255,255,255,0.2);
	transition: color 0.5s ease, background-color 0.5s ease;
}

input[data-toggle=datepicker],
input[type=date]{
	padding-right: 68px;
	appearance: none;
	position: relative;
	@include svg_img("../images/date");
	background-position: 100% 17.5%;
	max-width: 270px;
}

//
//!!SELECT START
//
select{
	padding-right: 30px;
	appearance: none;
	@include svg_img("../images/select-icon");
	background-position: 100% 50%;
	line-height: 64px;
	height: 64px;
	overflow: hidden;
	padding-top: 0;
	padding-bottom: 0;

	@media (max-width: $b2){
		line-height: 45px;
		height: 45px;
	}

	&::-ms-expand {
		display: none;
	}

	.ie9 &,
	.lt-ie9 &{
		background-image: none!important;
		padding: 11px 13px 12px 13px!important;
	}
	option{
		padding-top: 5px;
		padding-bottom: 5px;
	}
}
//
//!!SELECT END
//

label{
	display: block;
	@include font-size(16);
	color: black;
	font-weight: 400;
	line-height: 19px;
	margin-bottom: 5px;

	@media (max-width: 1450px){
		@include font-size(14);
	}

	@media (max-width: $b2){
		@include font-size(14);
	}

	&.required em {
		right: -10px!important;
		@include font-size(25);
	}
}

.wpcf7-list-item-label{

	@media (max-width: $b3){
		//left: 75%;
		//transform: translateX(-50%);
	}
}

*[type="submit"]{
	@extend .btn;
	margin-top: 0;
	font-weight: 600;
	background-color: black;
	border: 1px solid black;
	@include font-size(15);
	width: auto;
	font-family: $main-font;
	padding: 15px 63px 11px;
}

//
//!!RADIO & CHECKBOX START
//

.input-radio,
.input-checkbox{
	position: relative;
	@include inline;
	margin-bottom: 5px;

	&:before{
		content: '';
		display: block;
		position: absolute;
	}
}

.gfield_radio,
.gfield_checkbox{
	padding-left: 0!important;
}

input[type="radio"],
input[type="checkbox"]{
	display: none;

	.lt-ie9 &{
		@include inline;
		background-color: transparent;
		border: none;
		width: 18.526px;
		min-width: 12px;
		margin-top: 6px;
		margin-bottom: 6px;

		& + .wpcf7-list-item-label,
		& + label{
			padding-left: 0px!important;

			&:before{
				display: none;
			}
		}
	}

	& + .wpcf7-list-item-label,
	& + label{
		padding-left: 29px!important;
		padding-left: 18px!important;
		//padding-right: 0px!important;
		position: relative;
		cursor: pointer;
		line-height: 19px;
		@include inline;
		font-weight: 600;
		@include font-size(14);
		padding-right: 24px;
		min-width: 125px;

		&:before{
			position: absolute;
			@include svg_img("../images/checkbox");
			content: "";
			width: 12px;
			height: 19px;
			left: 0;
			background-position: 0% 50%;
		}
	}

	&:checked + label:before,
	&:checked + .wpcf7-list-item-label:before,
	& + label.checked:before{
		background-position: 100% 50%;
	}
}

input[type="radio"]{

	& + .wpcf7-list-item-label,
	& + label{

		&:before{
			@include svg_img("../images/radio");
		}
	}
}
