html{
	font-size:62.5%;
	font-family: $main-font;
	font-weight: 400;
	margin-top: 0 !important;
	overflow-x: hidden;

	&#BTT{
		margin-top: 0!important;
	}

	@media (max-width: $b2){

		&.menu-open{
			overflow: hidden;
		}
	}
}

#wpadminbar{
	display: none;
}

body{
	color: $colour;
	background-color: $main-bg-colour;
	@include font-size(15);
	position: relative;
	overflow-x: hidden;
	overflow: hidden;
	padding-top: 108.984px;
	padding-bottom: 78px;

	@media (max-width: $b2){
		padding-top: 0;
		padding-bottom: 0px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
blockquote,
pre,
table{
	color: $colour;
	margin-top: 0;
	margin-bottom: 1em;
	font-weight: 400;
	line-height: 1.45em;

	a {
		font-size: inherit;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote{
	font-family: $alt-font;
	font-weight: 900;
	line-height: 1.13em;

	em{
		font-style: normal;
		color: $red;
	}
}

h1{
	@include font-size(63.65);
	letter-spacing: -0.01em;

	@media (max-width: $b2){
		@include font-size(40);
	}
}

h2{
	@include font-size(50);

	@media (max-width: $b2){
		@include font-size(34);
	}

	@media (max-width: $b3){
		@include font-size(27);
	}
}

h3{
	@include font-size(34);
}

h4{
	@include font-size(24);

	@media (max-width: $b2){
		@include font-size(18);
	}
}

h5{
	@include font-size(20);
	margin-bottom: .55em;

	@media (max-width: $b2){
		@include font-size(18);
	}
}

h6{
	@include font-size(15);
}

p{
	@include font-size(15);
	margin-bottom: 1.5em;

	a{
		font-size: inherit;
		color: $red;
		text-decoration: none;

		&:hover,
		&:focus{
			color: darken($red , 10%);
			text-decoration: underline;
		}
	}

	strong{
		font-weight: 700;
	}
}

blockquote{
	@include font-size(20);
	margin: 0;
	margin-bottom: .8em;
	font-weight: 400;
	font-family: $main-font;
	line-height: 1.35em;

	@media (max-width: $b3){
		@include font-size(18);
		line-height: 1.45em;
	}

	p{
		@include font-size(15);
		margin-bottom: 0;
		font-weight: 400;
	}

	p a,
	a{
		@include font-size(15);

		&:hover,
		&:focus{
			color: darken($red , 10%);
			text-decoration: underline;
		}
	}
}

a{
	@include font-size(15);
	color: $red;
	transition: $time;
	cursor: pointer;

	&:hover,
	&:focus{
		color: darken($red , 10%);
	}
}

ol,
ul,
dl{
	margin: 0;
	padding-left: 0;
	list-style-position: inside;
	@include font-size(0);
	margin-bottom: 30px;

	li,
	dt,
	dd{
		@include font-size(15);
		margin-left: 0;
		line-height: 1.5em;

		> a{
			@include font-size(15);
			color: $red;
			text-decoration: none;

//			@media (max-width: $b2){
//				@include font-size(12);
//			}

			&:hover,
			&:focus{
				text-decoration: underline;
				color: darken($red , 10%);
			}
		}
	}

	dd{
		margin-bottom: 20px;
	}
}

ul:not(.tabs):not(.main-menu):not(.footer-menu):not(.sub-menu):not(.gform_fields):not(.slick-dots):not(.social-menu){
	list-style-position: outside;
	padding-left: 15px;
}

address p,
address{
	@include font-size(15);
	font-style: normal;
	margin-bottom: 8px;

	p{
		margin-bottom: 0;
	}

//	@media (max-width: $b2){
//		@include font-size(12);
//	}

	a{
		text-decoration: none;
		color: $red;

		&:hover,
		&:focus{
			text-decoration: underline;
			color: darken($red , 10%);
		}
	}
}

table,
table tr,
table th,
table td{
	border: none;
	border-collapse: collapse;
	padding: 0;
	@include font-size(13);
	text-align: left;
	line-height: 1.2em;
	vertical-align: top;

	@media (max-width: $b2){
		@include font-size(10);
	}
}

video,
img{
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;

	&.alignright {
		float:right;
		margin:0 0 1em 1.6em
	}

	&.alignleft {
		float:left;
		margin:0 1.6em 1em 0
	}

	&.aligncenter {
		clear: both;
		display: block;
		margin: 1.55em auto;
	}
}

a img.alignright {
	float:right;
	margin:0 0 2em 1em;
}

a img.alignleft {
	float:left;
	margin:0 2em 1em 0;
}

a img.aligncenter {
	clear: both;
	display: block;
	margin: 1.55em auto;
}

::selection {
	background: $red;
	color: white;
}

::-moz-selection {
	background: $red;
	color: white;
}
