//!!MENU
header{
	z-index: 25;
	position: relative;
	width: 100%;
	transition: $time;
	transform: translateZ(0);
	perspective: 999999px;
	position: relative;
	top: 0;
	position: fixed;

	@media (max-width: $b2){
		position: relative;
	}

	&.has-line{

		@media (max-width: $b2){
			border-bottom: 2px solid white;
		}
	}
}

#site-logo{
	display: block;
	margin: 0;
	height: auto;
	max-width: 100%;
	transition: $time;
	width: 147.549px;
	margin-top: 0px;
	margin-bottom: 0px;
	transition: 0s;
	float: left;

	@media (max-width: $b2){
		width: 180px;
		background-color: white;
		position: absolute;
		top: 0px;
		left: 1.3%;
		padding: 24px 34px 18px 0;

		&:before{
			content: '';
			background-color: white;
			height: 100%;
			width: 200px;
			position: absolute;
			top: 0;
			right: 100%;
		}
	}

	@media (max-width: $b3){
		width: 232px;
		width: calc(100% - 70px);
		left: 4.3%;
		padding: 14px 126px 8px 0;
	}

	img{
		display: block;
		width: 100%;
		height: auto;
		margin-left:0;

		@media (max-width: $b3){
			width: 106.078px;
			height: 26.938px;
		}
	}
}

.menu-top-outer{
	margin: 0;
	position: relative;
	background-color: $red;

	.wrapper{
		padding-top: 0px;
		padding-bottom: 0px;
		max-width: 1187px;
		width: 94.4%;

		@media (max-width: $b2){
			padding-top: 24px;
			padding-bottom: 24px;
		}

		@media (max-width: $b3){
			min-height: 49px;
		}
	}
}

.menu-bottom-outer{
	margin: 0;
	position: relative;
	background-color: white;

	@media (max-width: $b2){
		position: absolute;
		left: 100%;
		width: 320px;
		max-width: 100%;
		top: 0;
		background-color: white;
		min-height: 100vh;
		transition: $time;

		.menu-open &{
			transform: translateX(-100%);

			&:before{
				content: '';
				width: 100vw;
				height: 100%;
				position: absolute;
				top: 0;
				right: 100%;
				background-color: rgba($grey-dark, .4);
			}
		}
	}

	.wrapper{
		padding-top: 22px;
		padding-bottom: 19px;
		max-width: 1187px;
		width: 94.4%;

		@media (max-width: $b2){
			padding-top: 78px;
			width: 100%;
		}

		@media (max-width: $b4){
			padding-bottom: 8px;
		}
	}
}

.contact-con{
	float: right;

	@media (max-width: $b2){
		float: left;
		margin-left: 205px;
	}

	@media (max-width: $b3){
		display: none;
	}

	.number{
		@include inline;
		vertical-align: middle;
		color: white;
		@include font-size(14);
		border-right: 1px solid white;
		padding: 5px 15px;
		margin-right: 10px;

		span{
			@include inline;
			vertical-align: middle;
			color: white;
			@include font-size(14);
		}

		a{
			@include inline;
			vertical-align: middle;
			color: white;
			font-weight: 900;
			@include font-size(14);
			text-decoration: none;

			&:hover,
			&:focus{
				color: white;
				text-decoration: underline;
			}
		}
	}

	.social-menu{
		@include inline;
		vertical-align: middle;
		margin-bottom: 0;
	}
}

.mob-only{
	display: none;

	@media (max-width: $b3){
		display: block;
	}
}

@import 'burger';

#mainMenu{
	float: right;

	@media (max-width: $b2){
		clear: both;
		float: none;
	}

	@media (max-width: $b2){
		display: none;

		.menu-open &{
			display: block;
			clear: both;
		}
	}
}

.main-menu{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	@include font-size(0);
	@include inline;
	vertical-align: middle;
	width: 100%;

	@media (max-width: $b2){
		display: block;
	}

	li{
		@include font-size(16);
		line-height: 1em;
		list-style-type: none;
		margin-bottom: 0;
		@include inline;

		&.active{

			> a{
				color: $red;
			}
		}

		@media (max-width: $b2){
			display: block;
		}

		&:hover,
		&:focus{

			> a{
				color: $red;
			}
		}

		&:first-of-type > a{
			padding-left: 0;
		}

		&:last-of-type > a{
			padding-right: 0;
		}

		> a{
			@include inline;
			width: 100%;
			vertical-align: middle;
			padding: 0;
			color: black;
			@include font-size(16);
			font-family: $alt-font;
			line-height: 1.2em;
			text-decoration: none!important;
			font-weight: 900;
			position: relative;
			padding: 5px 12.5px 5px;

			@media (max-width: 1140px){
				padding: 5px 6px 5px;
			}

			@media (max-width: $b2){
				padding: 12px 35px 9.5px 35px!important;
				display: block;
				text-align: left;
				@include font-size(18);
				border-bottom: 1px solid #f1f1f1;
			}

			&:hover,
			&:focus{
				color: $red;
			}
		}
	}
}

.map-con{
	min-height: 601px;
}
