@charset "UTF-8";

// Default Variables

$slick-font-path: "../fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../images/" !default;
$slick-arrow-color: transparent !default;
$slick-dot-color: white !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "‹" !default;
$slick-next-character: "›" !default;
$slick-dot-character: "\f111" !default;
$slick-dot-size: 10px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;

@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url);
	}
	@else {
		@return url($slick-loader-path + $url);
	}
}

@function slick-font-url($url) {
	@if function-exists(font-url) {
		@return font-url($url);
	}
	@else {
		@return url($slick-font-path + $url);
	}
}

/* Slider */

.slick-list {
	.slick-loading & {
		background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
	}
}

/* Icons */
@if $slick-font-family == "slick" {
	@font-face {
		font-family: "slick";
		src: slick-font-url("slick.eot");
		src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 21px;
	width: 12px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	top: auto;
	bottom: 0;
	margin-top: 0;
	border-radius: 0;
	padding: 0;
	border: none;
	outline: none;
	z-index: 90;
	//background-color: white;
	transition:.15s;

	@media (max-width: $b3){
		height: 28px;
		width: 16px;
	}

	&:hover,
	&:focus {
		outline: none;
		//background: $blue;
		color: transparent;

		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}

	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
		cursor: default;
	}
}

.slick-prev:before,
.slick-next:before {
	font-family: $slick-font-family;
	@include font-size(0);
	text-align: center;
	font-weight: 100;
	line-height: 55px;
	height: 21px;
	width: 12px;
	display: block;
	color: $slick-arrow-color;
	background-color: transparent;
	opacity: $slick-opacity-default;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: all .25s ease-in-out;

	@media (max-width: $b3){
		background-size: 16px 28px;
		height: 28px;
		width: 16px;
	}
}

.slick-prev {
	left: -45px;
	left: calc(50% - 115px);

	.other-slide &{
		left: -35px;
	}

	[dir="rtl"] & {
		left: auto;
		right: 42px;
	}

	&:before {
		content: '';
		//content: $slick-prev-character;
		@include svg_img("../images/slick-prev");
		background-position: center center;

		.carousel-con &{
			@include svg_img("../images/slick-prev-red");
		}

		[dir="rtl"] & {
			content: $slick-next-character;
		}
	}
}

.slick-next {
	right: -45px;
	right: calc(50% - 115px);

	.other-slide &{
		right: -35px;
	}

	[dir="rtl"] & {
		left: 42px;
		right: auto;
	}

	&:before {
		content: '';
		//content: $slick-next-character;
		@include svg_img("../images/slick-next");
		background-position: center center;

		.carousel-con &{
			@include svg_img("../images/slick-next-red");
		}

		[dir="rtl"] & {
			content: $slick-prev-character;
		}
	}
}

/* Dots */

.slick-slider {
	margin-bottom: 0px;
}

.slick-dots {
	position: absolute;
	bottom: 5px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
	width: 100%;

	li {
		position: relative;
		display: inline-block;
		height: 10px;
		width: 10px;
		margin: 0 9px;
		padding: 0;

		&:first-of-type{
			margin-left: 0;
		}

		&:last-of-type{
			margin-right: 0;
		}

		button {
			border: 0;
			background: transparent;
			display: block;
			height: 10px;
			width:10px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 0;
			cursor: pointer;
			border-radius: 50%;
			background-color: white;
			border: 1px solid white;
			transition: all .25s ease-in-out;

			.carousel-con &{
				background-color: $red;
				border-color: $red;
			}

			&:hover,
			&:focus {
				outline: none;
				background-color: transparent;
			}
		}

		&.slick-active button {
			background-color: transparent;
			border: 1px solid white;

			.carousel-con &{
				border-color: $red;
			}
		}
	}

}
