//TABS
//<div class="tab-container">
//	<ul class='tabs'>
//		<li class="active" rel="tab1">Tab1</li>
//		<li rel="tab2">Tab2</li>
//	</ul>
//
//	<h3 class="tab-accordion-heading active" rel="tab1">Tab1</h3>
//	<div id="tab1" class="tab-content active">
//		<div class="inner">
//			content here
//		</div>
//	</div>
//
//	<h3 class="tab-accordion-heading active" rel="tab2">Tab1</h3>
//	<div id="tab2" class="tab-content active">
//		<div class="inner">
//			content here
//		</div>
//	</div>
//</div>

//$('ul.tabs li, .tab-accordion-heading').click(function() {
//	$('.tab-content, ul.tabs li, .tab-accordion-heading').removeClass('active');
//
//	var activeTab = $(this).attr("rel");
//	$("#"+activeTab).addClass('active');
//	$(this).addClass("active");
//	$(".tab-accordion-heading[rel^='"+activeTab+"'], ul.tabs li[rel^='"+activeTab+"']").addClass("active");
//});

.tab-container.tab-container{
	position: relative;

	@media (max-width: $b2){
		padding-bottom: 0;
	}

	.tabs{
		padding: 0;
		margin-bottom: 0;
		text-align: center;
		display: block;
		width: 100%;
		text-align: left;

//		@media (max-width: $b2){
//			margin-bottom: 0;
//			float: none;
//			width: 100%;
//			border-right: none;
//			display: block;
//			width: 97px;
//			float: left;
//			height: auto;
//			min-height: none;
//			margin-bottom: 25px;
//		}
//
//		@media (max-width: $b3){
//			display: none;
//		}

		li{
			text-align: center;
			vertical-align: middle;
			padding: 6px 40px;
			@include inline;
			@include font-size(18);
			font-weight: 600;
			position: relative;
			color: $blue;
			border: 3px solid white;
			border-radius: 100px 0 100px 0;
			margin: 0 1.6px 5px;

			&:first-of-type{
				margin-left: 0;
			}

			&:last-of-type{
				margin-right: 0;
			}

//			@media (max-width: $base-width){
//				padding: 5px 5px;
//				min-width: 0;
//				@include font-size(12);
//			}

			@media (max-width: $b2){
				@include font-size(12);
				padding: 6px 30px;
			}

//			@media (min-width: $b2){
//
//				&:first-of-type{
//					padding-left: 0;
//				}
//
//				&:last-of-type{
//					border-right: none;
//					padding-right: 0;
//				}
//			}

			&.active,
			&:hover,
			&:focus{
				cursor: pointer;
				background-color: white;
				transition: all .25s ease-in-out;
			}

			&.active{
				cursor: default;
			}

			&:after{
				display: none;
			}
		}
	}

	.wrapper-outer{
		background-color: #ebebeb;
		padding: 0;
	}

	h3.tab-accordion-heading {
		display: none;

		@media (max-width: $b3){
			display: block;
		}

		@include font-size(18);
		text-decoration: none;
		padding: 22px 52px 22px 18px;
		font-weight: 600;
		line-height: 1.2em;
		color: #777777;
		margin-bottom: 0;
		border-bottom: 1px solid #56b2da;
		@include svg_img("../images/arrow-down-acc");
		background-position: 97% 27px;
		background-position: right 17px top 27px;


		&:hover,
		&.active{
			color: #56b2da;
		}

		&:hover{
			@include svg_img("../images/arrow-down-acc-blue");
		}

		&.active{
			@include svg_img("../images/arrow-up-acc");
		}

		&.active + .tab-content{
			display: block!important;
		}
	}

	.tab-content-con{
		float: right;
		width: 47.4%;
		padding-right: 50px;

		@media (max-width: $b2){
			float: none;
			width: 100%;
			padding-right: 25px;
			padding-left: 25px;
		}
	}

	.tab-content{
		max-height: 0;
		overflow: hidden;

		@media (max-width: $b3){
			float: none;
			//width: 100%;
		}

		&.active{
			max-height: 99999px;
		}

		img{
			float: left;
			max-width: 191px;
			margin: 0 1em 1em 0;

			@media (max-width: 450px){
				float: none;
				margin: 0 auto 1em;
			}
		}
	}
}

.tab-content{

}

#tab2{

	.under-banner{
		display: none;
	}
}
