@font-face{
	font-family:'FontAwesome';
	src:url('../fonts/fontawesome-webfont.eot?v=4.0.3');
	src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
		url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
		url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}


//BREAK POINTS
$b1:				1225px;
$b2:				975px;
$b3:				625px;
$b4:				550px;
$b5:				400px;

//!!COLOURS
$red:				#ca0538;

$grey-light:		#f1f1f1;
$grey:				#292928;
$grey-dark:			#1d1d1b;

$blue:				#cce9ed;

$colour: 			black;
$main-bg-colour:	white;

//!!FONTS
$font-lato:			'Lato', sans-serif;;
//light - 300
//regular - 400
//bold - 700
//black - 900

$main-font:			$font-lato;
$alt-font:			$font-lato;

//!!COLUMN CALC
$gap-width:			20px;//gap between the columns
$gap-bottom:		20px;//gap below the columns
$gap-width-alt:		45px;//alt between the columns
$gap-bottom-alt:	30px;//alt gap below the columns

//!!PAGE WIDTH
$base-width:		984px;
$inner-width:		540px;

//!!SITE TRANSITIONS
$time:				.15s;
