//---------------------------------------------------------//
@import 'normalize'; /* site wide variables (colours, font sizes) */
@import 'variables'; /* site wide variables (colours, font sizes) */
@import 'toolkit'; /* mixin (@include font-size(??); , @include svg_img("../images/??");) and common classes (.clearfix, .img-replacment) */
@import 'general-tags-and-classes';
@import 'main-menu';
@import 'footer';
@import 'cols'; /* cols and rows and all of its media queries */
@import 'general-overights'; /* stuff like float-left, clear-right, align-center */
@import 'buttons';
@import 'forms';
@import 'slick';
@import 'slick-theme';
@import 'font-awesome';
@import 'fancybox';

//---------------------------------------------------------//

//
//!!SITE WIDE STYLE
//

//
//!!STRUCTURE START
//

.matchHeight{
	margin-bottom: 0;
}

.lazy-loader{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	z-index: 9999;

	&.loaded{
		opacity: 0;
		display: none;
	}
}

.main-wrapper{
	padding-top: 0;
	padding-bottom: 0px;
	width: 100%;
	min-height: calc(100vh - 203px - 121px);
}

.page-wrapper{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	position: relative;
	transition: .25s;
	height: auto;
	padding-top: 0;
	min-height: calc(100vh - 465px);
}

.wrapper{
	margin: 0 auto;
	width: 92.4%;
	padding-bottom: 0;
	max-width: $base-width;
	position: relative;
	clear: both;

	@media (max-width: $b3){
		width: 87.4%;
	}

	&-outer,
	&-inner{
		margin: 0 auto;
		width: 94.4%;
		padding-top: 1px;
		padding-bottom: 0px;
		position: relative;

		&.mob-wide{

			@media (max-width: $b3){
				width: 100%;
			}
		}
	}

	&-outer{
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		max-width: 100%;
	}

	&-inner{
		max-width: $inner-width;
	}

	&.mob-wide{

		@media (max-width: $b3){
			width: 100%;
		}
	}
}

//
//!!STRUCTURE END
//

//
//!!TEXT COLOURS START
//

//
//!!TEXT COLOURS END
//

//
//!!BACKGROUND COLOUR START
//

//
//!!BACKGROUND COLOUR END
//

//
//!!SIMPLE BASE STYLES START
//

hr{
	height: 9px;
	color: $grey-dark;
	background-color: transparent;
	font-size: 0;
	border: 0;
	width: 100%;
	//max-width: $base-width;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 13px;
	margin-top: 0px;
	position: relative;
}

.full-bg{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

//
//!!SIMPLE BASE STYLES END
//

//
//!!SOCIAL MENU START
//
$social-size:	18;

$facebook:		#3b5999;
$twitter:		#55acee;
$pinterest:		#cb2027;
$rss:			#ff6600;
$slideshare:	#f7941e;
$google-plus:	#dd4b39;
$instagram:		#8a3ab9;
$linkedin:		#007bb5;
$reddit:		#ff4500;
$youtube:		#bb0000;
$mail:			#76ce29;

.social-menu{
	margin-bottom: 23px;

	li{
		list-style: none;
		@include inline;
		margin: 0 2px;
		@include font-size($social-size);
		vertical-align: middle;

		&:first-of-type{
			margin-left: 0px;
		}

		&:last-of-type{
			margin-right: 0px;
		}

		&.text{
			@include font-size($social-size);
		}

		&.icon a{
			@include font-size($social-size);
			line-height: 30px;
			min-width: 23px;
			height: 30px;
			border-radius: 0;
			display: block;
			text-align: center;
			//overflow: hidden;
			color: white;
			background-color: transparent;

//			@media (max-width: $b3){
//				line-height: 37px;
//				min-width: 37px;
//				height: 37px;
//			}

			i{
				@include font-size($social-size);
				line-height: 30px;
				min-width: 23px;

				@media (max-width: $b2){
					min-width: 33px;
				}

//				@media (max-width: $b3){
//					line-height: 37px;
//					min-width: 37px;
//				}
			}
		}

		&.youtube.custom.icon a{

			div{
				background-image: url(../images/youtube.svg);
				background-repeat: no-repeat;
				width: 50.13px;
				height: 30px;
				background-position: 50% 50%;
			}

			&:hover,
			&:focus{

				div{
					background-image: url(../images/youtube-hover.svg);

					.menu-top-outer &{
						background-image: url(../images/youtube-hover-black.svg);
					}
				}
			}
		}

		&.facebook.icon a{

			&:hover,
			&:focus{
				color: $facebook!important;
			}
		}

		&.twitter.icon a{

			&:hover,
			&:focus{
				color: $twitter!important;
			}
		}

		&.pinterest.icon a{

			&:hover,
			&:focus{
				color: $pinterest!important;
			}
		}

		&.rss.icon a{

			&:hover,
			&:focus{
				color: $rss!important;
			}
		}

		&.slideshare.icon a{

			&:hover,
			&:focus{
				color: $slideshare!important;
			}
		}

		&.google-plus.icon a{

			&:hover,
			&:focus{
				color: $google-plus!important;

				.menu-top-outer &{
					color: black!important;
				}
			}
		}

		&.instagram.icon a{

			&:hover,
			&:focus{
				color: $instagram!important;
			}
		}

		&.linkedin.icon a{

			&:hover,
			&:focus{
				color: $linkedin!important;
			}
		}

		&.reddit.icon a{

			&:hover,
			&:focus{
				color: $reddit!important;
			}
		}

		&.youtube.icon a{

			&:hover,
			&:focus{
				color: $youtube!important;
			}
		}

		&.mail.icon a{

			&:hover,
			&:focus{
				color: $mail!important;
			}
		}
	}
}

//
//!!SOCIAL MENU END
//

//---------------------------------------------------------//
// PAGE SPECIFIC
//---------------------------------------------------------//

//
//!!INDEX START
//

.tc{
	display: table-cell;
	vertical-align: middle;
}

.wow{
	transition: .75s ease-in;
	visibility: visible!important;
}

.hero{

	&.video{
		display: table;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		min-height: 662px;
		position: relative;
		overflow: hidden;
		background-color: $red;

		@media (max-width: $b2){
			min-height: 372px;
		}

		@media (max-width: $b3){
			min-height: 156px;
		}

		.video-con{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-height: 100%;
			min-width: 100%;
			overflow: hidden;

			video{
				max-width: none;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		.tc{
			vertical-align: bottom;
		}

		.wrapper{
			max-width: 100%;
			width: 100%;
			background-image: url(../images/hero-back.svg);
			background-repeat: no-repeat;
			background-position: 100% 100%;
			padding: 157px 87px 68px 0;

			@media (max-width: $b2){
				padding: 107px 29px 48px 0;
				background-size: 523px 100%;
			}

			@media (max-width: $b3){
				padding: 68px 19px 1px 0;
				background-size: 182px 100%;
			}
		}

		.text-con{
			text-align: right;

			*{
				color: $red;
				margin-bottom: 0;
			}

			img{
				@include inline;
				margin-bottom: 1.5em;

				@media (max-width: $b2){
					margin-bottom: 1em;
				}
			}

			@media (max-width: $b3){

				h1{
					display: none;
				}
			}
		}
	}

	&.small{
		background-image: url(../images/banner-small.svg);
		background-repeat: no-repeat;
		background-position: 50% 100%;
		background-size: 100% 100%;
		width: 100%;
		height: 1px;
		min-height: 265px;
		text-align: center;
		display: table;

		@media (max-width: $b2){
			min-height: 167px;
		}

		@media (max-width: $b3){
			background-image: url(../images/banner-small-mob.svg);
			min-height: 97px;
		}

		.tc{

			*{
				color: white;
			}

			h1{
				@include font-size(50);

				@media (max-width: $b2){
					@include font-size(34);
					margin-bottom: .6em;
				}

				@media (max-width: $b3){
					@include font-size(27);
				}
			}
		}
	}
}

.after-hero-title{
	display: none;
	text-align: center;

	@media (max-width: $b3){
		display: block;
		padding: 28px 5px 2px;

		h1{
			@include font-size(32);
			color: $red;

			br{
				display: none;
			}
		}
	}
}

.red-col-img-con{
	background-image: url(../images/red-col-img-bg.svg);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;

	@media (max-width: $b3){
		background-image: url(../images/red-col-img-bg-mob.svg);
	}
}

.red-col-img{
	padding-top: 77px;
	padding-bottom: 1px;

	@media (max-width: $b2){
		padding-top: 53px;
		padding-bottom: 1px;
	}

	@media (max-width: $b3){
		padding-top: 30px;
		padding-bottom: 1px;

		h2{
			margin-bottom: .8em;
		}
	}

	*{
		color: white;
	}

	.column-2{

		+ img{
			margin-top: -2.4em;
			margin-bottom: 2em;

			@media (max-width: $b2){
				margin-top: -1.1em;
				margin-bottom: 2.7em;
			}

			@media (max-width: $b3){
				margin-top: -0.1em;
				margin-bottom: 0.6em;
			}
		}
	}
}

.title{
	text-align: center;
	margin-bottom: 1.2em;

	@media (max-width: $b2){
		margin-bottom: 1.05em;
	}

	@media (max-width: $b3){
		margin-bottom: 1em;
		margin-bottom: .7em;
	}
}

.column-2{
	column-count: 2;
	column-gap: 26px;

	@media (max-width: $b3){
		column-count: 1;
	}

	p{
		//break-inside: avoid;
	}
}

.video-section{
	margin-bottom: 5.4em;

	@media (max-width: $b2){
		margin-bottom: 3.5em;
	}

	@media (max-width: $b3){
		margin-bottom: 2em;
		padding-top: 22px;
	}

	.video-link-con{
		position: relative;

		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		&:before{
			content: '';
			width: 96.944px;
			height: 96.944px;
			background-image: url(../images/play-btn-black.svg);
			background-repeat: no-repeat;
			background-position: 50% 50%;
			position: absolute;
			bottom: 0;
			left: 0;

			@media (max-width: $b2){
				width: 70px;
				height: 70px;
				background-size: 70px 70px;
			}

			@media (max-width: $b2){
				width: 27px;
				height: 27px;
				background-size: 27px 27px;
			}
		}
	}
}

.infographic-con{
	text-align: center;
	margin-bottom: 4em;

	@media (max-width: $b2){
		margin-bottom: 8.2em;
	}

	.title{
		color: $red;
	}

	.img-con{
		@include inline;
		padding-top: 4px;
		padding-bottom: 10px;
		position: relative;

		@media (max-width: 702px){
			max-width: 215px;
		}

		img{
			margin: 0 auto;
		}

		.desk{

			@media (max-width: $b1){
				display: none;
			}
		}

		.mob{
			display: none;

			@media (max-width: $b1){
				display: block;
				margin-top: 68px;
			}
		}

		.info{
			position: absolute;
			border-radius: 22.15px;
			padding: 8px 6px;
			transform: translateY(-50%);
			cursor: pointer;
			box-shadow: 0 0 5px rgba(black, .2);

			@media (max-width: 702px){
				border-radius: 14px;
			}

			*{
				text-align: left;
				color: white;
				padding-left: 13px;
				padding-right: 13px;

				@media (max-width: 702px){
					padding-left: 0;
					padding-right: 0;
					text-align: center;
				}
			}

			p{

				&:first-of-type{
					padding-top: 8px;
				}

				@media (max-width: 702px){
					@include font-size(12);

					&:last-of-type{
						margin-bottom: 0;
					}
				}
			}

			h5{
				margin-bottom: 0;
				line-height: 1.25em;
				line-height: 28.152px;
				//background-image: url(../images/plus.svg);
				background-repeat: no-repeat;
				background-position: 100% 50%;
				position: relative;

				&:before{
					content: '';
					background-position: 100% 50%;
					background-image: url(../images/plus.svg);
					background-size: 28px 28px;
					width: 28px;
					height: 28px;
					position: absolute;
					top: 50%;
					transform: scale(1) translateY(-50%);
					transform-origin: 50% 50%;
					animation-name: pulse;
					animation-timing-function: linear;
					animation-duration: 1.5s;
					animation-direction: normal;
					animation-fill-mode: forwards;
					animation-iteration-count: infinite;

					@media (max-width: 702px){
						display: none;
					}
				}

				@media (max-width: 702px){
					@include font-size(15);
					padding: 0!important;
					line-height: 15px;
					text-align: center!important;
				}
			}

			@keyframes pulse {
				0%		{transform: scale(1) translateY(-50%);}
				50%		{transform: scale(.9) translateY(-50%);}
				100%	{transform: scale(1) translateY(-50%);}
			}

			.text-con{
				max-height: 0;
				overflow: hidden;
				padding: 0;
				opacity: 0;
				visibility: hidden;
				transition: .5s;
			}

			&.open{
				cursor: default;
				z-index: 5;

				h5{

					&:before{
						background-image: url(../images/cross.svg);
						background-repeat: no-repeat;
					}
				}

				.text-con{
					max-height: 300px;
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.info1,
		.info2,
		.info3{

			&:before{
				content: '';
				position: absolute;
				right: 100%;
				right: calc(100% + 1px);
				top: 50%;
				transform: translateY(-50%);
				font-size: 37px;
				width: 19px;
				height: 5px;
				line-height: 5px;
				border-bottom: 5px dotted red;
				border-color: red;
				z-index: -1;
			}

			h5{

				&:before{
					right: 0;
				}
			}
		}

		.info4,
		.info5,
		.info6{

			&:before{
				content: '';
				position: absolute;
				left: 100%;
				left: calc(100% + 1px);
				top: 50%;
				transform: translateY(-50%);
				font-size: 37px;
				width: 19px;
				height: 5px;
				line-height: 5px;
				border-bottom: 5px dotted red;
				border-color: red;
				z-index: -1;
			}

			*{
				text-align: right;
				padding-left: 13px;
				padding-right: 13px;

				@media (max-width: 702px){
					padding-left: 0;
					padding-right: 0;
					text-align: center;
				}
			}

			h5{

				&:before{
					left: 0;
				}
			}
		}

		.info1{
			background-color: #006284;
			top: 15%;
			left: 81%;
			width: 125px;

			@media (max-width: $b1){
				top: 84.1%;
				right: -24.3%;
				transform: translateY(-50%);
				width: 125px;
			}

			@media (max-width: 702px){
				width: 88px;
				right: -14.8%;
				top: 96.1%;
				left: auto;
			}

			&:before{
				border-color: #006284;

				@media (max-width: $b1){
					transform: rotate(45deg) translateY(-58%);
					bottom: 49px;
					top: auto;
					left: 10%;
				}

				@media (max-width: 702px){
					transform: rotate(90deg);
					bottom: 62px;
					left: 19%;
					width: 61px;
				}
			}
		}

		.info2{
			background-color: #009ee2;
			top: 49.3%;
			left: 103.3%;
			width: 215px;

			@media (max-width: $b1){
				top: 106.1%;
				left: 27.5%;
				transform: translateY(-50%);
				width: 211px;
			}

			@media (max-width: 702px){
				width: 118px;
				left: 22.5%;
				top: 110%;
			}

			&:before{
				border-color: #009ee2;

				@media (max-width: $b1){
					transform: rotate(90deg) translateY(-58%);
					bottom: 81px;
					top: auto;
					left: 44%;
				}

				@media (max-width: 702px){
					bottom: 58px;
					left: 41%;
				}
			}
		}

		.info3{
			background-color: #fcc439;
			top: 83.3%;
			left: 81%;
			width: 145px;

			@media (max-width: $b1){
				top: 84.1%;
				left: -17.3%;
				transform: translateY(-50%);
				width: 135px;
			}

			@media (max-width: 702px){
				width: 88px;
				left: -14.8%;
				top: 96.1%;
			}

			&:before{
				border-color: #fcc439;

				@media (max-width: $b1){
					transform: rotate(-45deg) translateY(-58%);
					top: -16px;
					right: 10%;
				}

				@media (max-width: 702px){
					transform: rotate(90deg);
					bottom: 60px;
					left: 13%;
					width: 61px;
					top: auto;
				}
			}
		}

		.info4{
			background-color: #00a59d;
			top: 83.3%;
			right: 81%;
			width: 183px;

			@media (max-width: $b1){
				top: 23%;
				left: -21.2%;
				transform: translateY(-50%);
				width: 173px;
			}

			@media (max-width: 702px){
				width: 88px;
				left: -15.5%;
				top: 20%;
			}

			&:before{
				border-color: #00a59d;

				@media (max-width: $b1){
					transform: rotate(45deg) translateY(-58%);
					top: 56px;
					right: 3.4%;
					left: auto;
				}

				@media (max-width: 702px){
					transform: rotate(90deg);
					top: 60px;
					left: 26%;
					width: 45px;
				}
			}
		}

		.info5{
			background-color: #ca0337;
			top: 49.3%;
			right: 103.3%;
			width: 206px;

			@media (max-width: $b1){
				top: 23px;
				right: 29.5%;
				transform: translateY(-50%);
				width: 193px;
			}

			@media (max-width: 702px){
				width: 118px;
				right: 22.5%;
			}

			&:before{
				border-color: #ca0337;

				@media (max-width: $b1){
					transform: rotate(90deg) translateY(-58%);
					top: 55px;
					left: 44%;
				}

				@media (max-width: 702px){
					top: 46px;
					left: 41%;
				}
			}
		}

		.info6{
			background-color: #6a861c;
			top: 15%;
			right: 81%;
			width: 223px;

			@media (max-width: $b1){
				top: 23%;
				right: -24.3%;
				transform: translateY(-50%);
				width: 204px;
			}

			@media (max-width: 702px){
				width: 88px;
				right: -15.5%;
				top: 20%;
			}

			&:before{
				border-color: #6a861c;

				@media (max-width: $b1){
					transform: rotate(-45deg) translateY(-58%);
					top: 55px;
					left: 10%;
				}

				@media (max-width: 702px){
					transform: rotate(90deg);
					top: 71px;
					left: 26%;
					width: 45px;
				}
			}
		}
	}
}

.red-slide-img-con{
	background-image: url(../images/red-slide-img-bg.svg);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-color: #ca0337;
	background-size: 100% 100%;
	overflow: hidden;
	padding-bottom: 115px;

	@media (max-width: $b2){
		padding-bottom: 125px;

		&.lawn {
			padding-bottom: 112px;

			.top-img-con{
				margin-bottom: 96px;
			}
		}
	}

	@media (max-width: $b3){
		background-image: url(../images/red-slide-img-bg-mob.svg);
		padding-bottom: 92px;

		&.lawn {
			display: none;
		}
	}


	.top-img-con{
		position: relative;
		margin-bottom: 63px;

		@media (max-width: $b2){
			margin-bottom: 54px;
		}

		@media (max-width: $b3){
			margin-bottom: 32px;
		}

		.img1{
			margin-left: 30.3%;
			margin-top: 45px;

			@media (max-width: $b2){
				max-width: 60.412px;
			}

			@media (max-width: $b3){
				max-width: 48px;
				margin-left: -1.7%;
				margin-top: 4px;
			}
		}

		.img3{
			margin-left: -7.5%;
			margin-bottom: -38px;

			@media (max-width: $b2){
				max-width: 303.057px;
				margin-left: 6%;
			}
		}

		.img2{
			position: absolute;
			bottom: -10%;
			left: 110%;
			transition: .25s;
//			animation-name: van;
//			animation-timing-function: linear;
//			animation-duration: 8s;
//			animation-direction: normal;
//			animation-fill-mode: forwards;
//			animation-iteration-count: infinite;

			@media (max-width: $b2){
				max-width: 444.63px;
			}

			@media (max-width: $b3){
				max-width: 323px;
			}
		}
	}
}

@keyframes van {
	0%		{transform: translateX(0)}
	99.99%	{transform: translateX(calc(-100vw - 110%))}
	100%	{transform: translateX(0)}
}

.quote-slide{
	text-align: center;

	@media (max-width: $b3){

		.slick-dots{
			display: none!important;
		}

		.slick-next.slick-arrow{
			top: 36px;
			right: calc(50% - 139px);
		}

		.slick-prev.slick-arrow{
			top: 36px;
			left: calc(50% - 139px);
		}
	}

	.slick-slide{
		padding: 0 26px 65px;

		@media (max-width: $b3){
			padding: 0 0 20px;
		}
	}

	*{
		color: white;
	}

	.img-con{
		display: inline-table;
		background-color: white;
		width: 104px;
		height: 104px;
		border-radius: 104px;
		margin-bottom: 2.28em;

		@media (max-width: $b3){
			margin-bottom: 1.9em;
		}

		img{
			margin: 0 auto;
		}

	}

	img{
		margin: 0 auto 2.28em;
	}

	.by,
	.position,
	.comp{
		line-height: 1.4em;
		font-weight: 900;

		@media (max-width: $b3){
			@include font-size(14);
			line-height: 1.7em;
		}
	}
}

.blue-col-img-con{
	background-image: url(../images/blue-col-img-bg.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.blue-col-img{
	padding-top: 82px;
	padding-bottom: 1px;
	max-width: 1139px;

	@media (max-width: $b2){
		padding-top: 55px;
		padding-bottom: 1px;
	}

	@media (max-width: $b3){
		padding-top: 31px;
		padding-bottom: 1px;
	}

	h4{
		text-align: center;
		margin-bottom: 2.05em;

		@media (max-width: $b3){
			margin-bottom: 1.2em;
		}
	}

	h2{
		color: $red;
		margin-bottom: 0.41em;
	}

	p{
		margin-bottom: 0;
	}

	.column-2{
		margin: 0 auto 6.2em;
		max-width: $base-width;

		@media (max-width: $b2){
			margin: 0 auto 5.9em;
		}

		@media (max-width: $b3){
			margin: 0 auto 3em;
		}

		+ img{
			margin-top: -2.4em;
			margin-bottom: 2em;

			@media (max-width: $b3){
				margin-bottom: 2.9em;
			}
		}
	}
}

.mob-slide-con{
	padding-top: 52px;
	max-width: 1139px;
	padding-bottom: 56px;

	@media (max-width: $b2){
		padding-top: 22px;
		padding-bottom: 14px;
	}

	h2.title{
		color: $red;
		margin-bottom: 1.3em;

		@media (max-width: $b2){
			margin-bottom: .75em;
		}

		@media (max-width: 450px){
			margin-bottom: -0.05em;
		}
	}
}

.mob-slide{
	text-align: center;

	@media (min-width: 450px){

		.not-mob{
			@include inline;
			width: 25%;
			vertical-align: top;
			margin-bottom: 19px;
			width: 33.3%;
			margin-bottom: 34px;

			@media (max-width: $b3){
				width: 49%;
				margin-bottom: 34px;
			}
		}
	}

	@media (max-width: 450px){

		.slick-next{
			top: 81px;
			right: calc(50% - 139px);

			&:before{
				background-image: url(../images/slick-next-red.svg);
				filter: drop-shadow(0 0 .5px #ca0538);
			}
		}

		.slick-prev{
			top: 81px;
			left: calc(50% - 139px);

			&:before{
				background-image: url(../images/slick-prev-red.svg);
				filter: drop-shadow(0 0 .5px #ca0538);
			}
		}
	}

	.not-mob{
		padding: 0 5px;

		@media (max-width: 450px){
			padding: 0;
		}
	}

	.img-con{
		width: 100%;
		margin: 0 auto;
		display: table;

		.tc{
			vertical-align: bottom;

			img{
				margin: 0 auto 23px;

				@media (max-width: $b2){
					margin: 0 auto 27.6px;
				}

				@media (max-width: $b3){
					margin: 0 auto 27.6px;
				}
			}
		}
	}

	h5{
		color: $red;
		line-height: 1.2em;
	}
}

.carousel-con{
	padding-top: 81px;
	max-width: 1139px;
	padding-bottom: 89px;

	@media (max-width: $b2){
		padding-top: 54px;
	}

	@media (max-width: $b3){
		padding-top: 4px;
		padding-bottom: 5px;
	}

	h2{
		color: $red;
		margin-bottom: 1.1em;

		@media (max-width: $b2){
			margin-bottom: .6em;
		}

		@media (max-width: $b3){
			margin-bottom: .4em;
		}
	}
}

.carousel-slide{

	@media (max-width: $b3){

		.slick-dots{
			display: none!important;
		}

		.slick-next.slick-arrow{
			top: 70px;
			right: calc(50% - 139px);
		}

		.slick-prev.slick-arrow{
			top: 70px;
			left: calc(50% - 139px);
		}
	}

	.slick-slide{
		text-align: center;
		padding: 0 10px 24px;

		@media (max-width: $b2){
			padding: 0 10px 36px;
		}

		@media (max-width: $b3){
			padding: 0 8px 5px;
		}
	}

	.img-con{
		width: 100%;
		margin: 0 auto 6px;
		display: table;

		.tc{
			vertical-align: bottom;

			img{
				margin: 0 auto 23px;
			}
		}
	}

	h5{
		color: $red;
		line-height: 1.2em;
	}
}

.red-list-con{
	background-image: url(../images/red-list-bg.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../images/red-list-bottom-bg.svg);
		background-repeat: no-repeat;
		z-index: 1;
		background-size: 100% 100%;
		pointer-events: none;

		@media (max-width: $b3){
			display: none;
		}
	}

	@media (max-width: $b3){
		background-image: url(../images/red-list-bg-mob.svg);
	}
}

.red-list{
	padding-top: 83px;
	max-width: 1185px;
	padding-bottom: 298px;

	@media (max-width: $b2){
		padding-top: 59px;
		padding-bottom: 172px;
	}

	@media (max-width: $b3){
		padding-top: 26px;
		padding-bottom: 70px;
	}

	*{
		color: white;
	}

	.img-con{
		position: absolute;
		z-index: 0;
		bottom: 0;
		right: 10%;
		max-width: 24%;

		@media (max-width: $b2){
			display: none;
		}
	}

	h2{
		margin-bottom: 1.7em;

		@media (max-width: $b2){
			margin-bottom: 1em;
		}

		@media (max-width: $b3){
			margin-bottom: .8em;
		}
	}
}

.icon-list{
	padding: 0!important;
	column-count: 2;
	column-gap: 26px;
	float: left;
	width: 66%;

	@media (max-width: $b2){
		width: 100%;
		column-gap: 96px;
	}

	@media (max-width: $b3){
		column-count: 1;
	}

	.i-item{
		list-style: none;
		break-inside: avoid;
		@include inline;

		.img-side{
			float: left;
			width: 57px;
			padding-top: 5px;
		}

		.text-side{
			float: right;
			width: calc(100% - 74px);

			h5{

				@media (max-width: $b2){
					margin-bottom: .6em;
				}
			}

			p{
				margin-bottom: 1.2em;

				@media (max-width: $b3){
					margin-bottom: 1.3em;
				}
			}
		}
	}
}

.video-list-con{
	padding-top: 22px;
	max-width: 1185px;

	@media (max-width: $b2){
		padding-top: 3px;
	}

	@media (max-width: $b3){
		margin-bottom: 58px;
		padding-top: 30px;
	}

	h2{
		color: $red;
		margin-bottom: 1.3em;

		@media (max-width: $b2){
			margin-bottom: 1.1em;
		}

		@media (max-width: $b2){
			margin-bottom: .95em;
		}
	}
}

.video-list{
	padding: 0!important;

	@media (max-width: 450px){
		max-width: 210px;
		margin: 0 auto;

		.slick-next.slick-arrow{
			top: 95px;
			right: calc(50% - 139px);

			&:before{
				background-image: url(../images/slick-next-red.svg);
				filter: drop-shadow(0 0 .5px #ca0538);
			}
		}

		.slick-prev.slick-arrow{
			top: 95px;
			left: calc(50% - 139px);

			&:before{
				background-image: url(../images/slick-prev-red.svg);
				filter: drop-shadow(0 0 .5px #ca0538);
			}
		}
	}

	.v-item{
		list-style: none;
		@include inline;
		vertical-align: top;
		position: relative;
		width: 31.9%;
		margin: 0 1.07% 10px;

		@media (max-width: $b2){
			width: 31.1%;
			margin: 0 1.67% 10px;
		}

		@media (max-width: 450px){
			display: block;
			margin: 0 0 10px!important;
		}

		&:nth-of-type(3n + 1){
			margin-left: 0;
		}

		&:nth-of-type(3n + 3){
			margin-right: 0;
		}

		@media (max-width: $b3){
			width: 48.5%;
			margin: 0 1.568% 10px;

			&:nth-of-type(2n + 1){
				margin: 0 1.5% 10px;
				margin-left: 0;
				clear: left;
			}

			&:nth-of-type(2n + 2){
				margin: 0 1.5% 10px;
				margin-right: 0;
				clear: none;
				float: right;
			}
		}

		@media (max-width: 450px){
			float: left!important;
			margin: 0 0 10px!important;
			clear: none!important;
		}

		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.img-con{
			position: relative;

			&:before{
				content: '';
				width: 49.321px;
				height: 49.321px;
				background-image: url(../images/play-btn-red.svg);
				background-repeat: no-repeat;
				background-position: 50% 50%;
				position: absolute;
				bottom: 0;
				left: 0;

				@media (max-width: $b2){
					width: 37px;
					height: 37px;
					background-size: 37px 37px;
				}
			}
		}

		.text-con{
			padding: 20px;
			background-color: #f6f6f6;

			@media (max-width: $b2){
				padding: 13px 16px 21px;
			}

			.name{
				color: $red;
				font-weight: 900;
			}

			.role{
				font-weight: 900;
			}
		}
	}
}

.btn-con{
	text-align: center;
	padding: 48px 0 73px;

	@media (max-width: $b2){
		padding: 4px 0 75px;
	}

	@media (max-width: $b3){
		display: none;
	}
}

.grey-col-outer{

	.tree-top{
		background-image: url(../images/grey-trees.svg);
		background-repeat: no-repeat;
		background-position: 50% 0%;
		position: relative;
		min-height: 200px;

		@media (max-width: $b2){
			background-image: url(../images/grey-trees-tablet.svg);
			min-height: 113px;
		}

		@media (max-width: $b2){
			background-image: url(../images/grey-trees-mob.svg);
			min-height: 119px;
		}
	}

	.grey-bottom{
		background-image: url(../images/grey-col-bg.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		position: relative;

		@media (max-width: $b3){
			background-image: url(../images/grey-col-bg-mob.svg);
		}
	}
}

.grey-col{
	padding-top: 106px;
	max-width: 1185px;
	padding-bottom: 120px;

	@media (max-width: $b2){
		padding-top: 118px;
		padding-bottom: 93px;
	}

	@media (max-width: $b2){
		padding-top: 73px;
		padding-bottom: 45px;
		width: 89.5%;
	}

	@media (max-width: $b3){
		padding-bottom: 57px;
	}

	.img-top{

		.sign{
			position: absolute;
			left: 26.2%;
			top: -170px;

			@media (max-width: $b2){
				left: 32.2%;
				top: -133px;
			}

			@media (max-width: $b2){
				top: -157px;
			}

			img{

				@media (max-width: $b2){
					max-width: 123.544px;
				}

				@media (max-width: $b3){
					max-width: 123.544px;
				}
			}

			.hands{
				position: absolute;
				top: 0;
				left: 0;
				animation-name: sign;
				animation-timing-function: linear;
				animation-duration: 1s;
				animation-direction: alternate;
				animation-fill-mode: both;
				animation-iteration-count: infinite;
			}

			@keyframes sign {
				0%		{transform: rotate(5deg)}
				50%		{transform: rotate(0deg)}
				100%	{transform: rotate(-5deg)}
			}
		}
	}

	h2{
		color: $red;
		margin-bottom: .75em;

		@media (max-width: $b2){
			margin-bottom: 0.45em;
		}
	}

	h4{
		text-align: center;
		margin-bottom: 2.7em;

		@media (max-width: $b2){
			@include font-size(21);
			margin-bottom: 1.8em;
		}

		@media (max-width: $b3){
			@include font-size(18);
			margin-bottom: 1.5em;
		}
	}

	h5{
		color: $red;
	}

	p{

		@media (max-width: $b3){
			margin-bottom: 1.4em;
		}
	}

	.columns{
		//text-align: center;
		column-count: 3;
		column-gap: 32px;

		@media (max-width: $b2){
			column-count: 2;
		}

		@media (max-width: $b3){
			column-count: 1;
		}

		.col{
			@include inline;
			vertical-align: top;
			width: 31.7%;
			margin: 0px 1.1% 10px;
			text-align: left;

			@media (min-width: $b2 + 1){

				&:nth-of-type(3n + 1){
					margin-left: 0;
				}

				&:nth-of-type(3n + 3){
					margin-right: 0;
				}
			}

			@media (max-width: $b2){
				width: 48%;
				margin: 0px 1.1% 10px;

				&:nth-of-type(2n + 1){
					margin-left: 0;
				}

				&:nth-of-type(2n + 2){
					margin-right: 0;
				}
			}
		}

		h5:nth-of-type(3){
			break-before: column;

			@media (max-width: $b2){
				break-before: auto;
			}
		}

		li{
			line-height: 1.4em;
		}

		ul{
			@include font-size(15);
			margin-bottom: .6em;
			break-inside: avoid;
		}
	}
}

.news-list-con{
	padding-top: 79px;
	max-width: 1185px;

	@media (max-width: $b2){
		padding-top: 53px;
	}

	@media (max-width: $b3){
		padding-top: 29px;
	}

	h2{
		color: $red;
		margin-bottom: 1.3em;

		@media (max-width: $b2){
			margin-bottom: 1.1em;
		}

		@media (max-width: $b3){
			margin-bottom: .9em;
		}
	}

	.btn-con{
		padding: 30px 0 73px;

		@media (max-width: $b2){
			padding: 2px 0 45px;
		}
	}
}

.news-list{
	padding: 0!important;

	@media (max-width: 450px){
		max-width: 210px;
		margin: 0 auto;

		.slick-next.slick-arrow{
			top: 61px;
			right: calc(50% - 139px);

			&:before{
				background-image: url(../images/slick-next-red.svg);
				filter: drop-shadow(0 0 .5px #ca0538);
			}
		}

		.slick-prev.slick-arrow{
			top: 61px;
			left: calc(50% - 139px);

			&:before{
				background-image: url(../images/slick-prev-red.svg);
				filter: drop-shadow(0 0 .5px #ca0538);
			}
		}
	}

	.n-item{
		list-style: none;
		@include inline;
		vertical-align: top;
		position: relative;
		width: 23.4%;
		margin: 0 1.06% 10px;

		@media (max-width: $b2){
			width: 31.2%;
			margin: 0 1.568% 10px;

			&:nth-of-type(4){
				display: none;
			}
		}

		@media (max-width: $b3){

			&:nth-of-type(4){
				display: block;
			}
		}

		@media (min-width: $b2 + 1){

			&:nth-of-type(4n + 1){
				margin-left: 0;
			}

			&:nth-of-type(4n + 4){
				margin-right: 0;
			}
		}

		@media (max-width: $b2){
			&:nth-of-type(3n + 1){
				margin-left: 0;
			}

			&:nth-of-type(3n + 3){
				margin-right: 0;
			}
		}

		@media (max-width: $b3){
			width: 48.5%;
			margin: 0 1.568% 10px;

			&:nth-of-type(2n + 1){
				margin: 0 1.5% 10px;
				margin-left: 0;
				clear: left;
			}

			&:nth-of-type(2n + 2){
				margin: 0 1.5% 10px;
				margin-right: 0;
				clear: none;
				float: right;
			}
		}

		@media (max-width: 450px){
			margin: 0 0 10px!important;
			float: left!important;
			clear: none!important;
		}

		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&:hover,
			&:focus{

				~ .text-con span{
					color: $red;
				}
			}
		}

		.text-con{
			padding: 24px 0px 0;

			p{
				margin-bottom: 1.3em;
			}

			span{
				font-weight: 900;
				transition: $time;
			}

			h5{
				color: $red;
			}

			.name{
				color: $red;
				font-weight: 900;
			}

			.role{
				font-weight: 900;
			}
		}
	}
}

.icon-list-con{
	padding-top: 8px;
	padding-bottom: 1px;
	max-width: 1185px;

	@media (max-width: $b3){
		padding-top: 16px;
		padding-bottom: 7px;
	}

	h2{
		color: $red;
		margin-bottom: 1.3em;
	}
}

.logo-list{
	padding: 0!important;

	@media (max-width: $b2){
		margin-bottom: 22px;
	}

	@media (max-width: 450px){
		max-width: 210px;
		margin: 0 auto;

		.slick-next.slick-arrow{
			top: 1px;
			right: calc(50% - 139px);

			&:before{
				background-image: url(../images/slick-next-red.svg);
				filter: drop-shadow(0 0 .5px #ca0538);
			}
		}

		.slick-prev.slick-arrow{
			top: 1px;
			left: calc(50% - 139px);

			&:before{
				background-image: url(../images/slick-prev-red.svg);
				filter: drop-shadow(0 0 .5px #ca0538);
			}
		}
	}

	.l-item{
		list-style: none;
		float: left;
		display: table;
		vertical-align: middle;
		position: relative;
		width: 23.45%;
		margin: 0 1.03% 58px;

		@media (max-width: $b2){
			margin: 0 1.03% 52px;
		}

		&:nth-of-type(4n + 1){
			margin-left: 0;
			clear: left;
		}

		&:nth-of-type(4n + 4){
			margin-right: 0;
			float: right;
		}

		@media (max-width: $b3){
			width: 48.5%;
			margin: 0 1.568% 10px;

			&:nth-of-type(2n + 1){
				margin: 0 1.5% 10px;
				margin-left: 0;
				clear: left;
			}

			&:nth-of-type(2n + 2){
				margin: 0 1.5% 10px;
				margin-right: 0;
				clear: none;
				float: right;
			}
		}

		@media (max-width: 450px){
			float: left!important;
			margin: 0 0 10px!important;
			clear: none!important;
		}

		img{
			margin: 0 auto;

			@media (max-width: $b2){
				max-width: 95px;
			}
		}
	}
}

.red-contact-con{
	background-image: url(../images/red-contact.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	background-color: #ca0538;

	@media (max-width: $b3){
		background-image: url(../images/red-contact-mob.svg);
	}
}

.red-contact{
	padding: 90px 0 177px;
	max-width: 583px;

	@media (max-width: $b2){
		padding: 60px 0 110px;
	}

	@media (max-width: $b3){
		padding: 34px 0 87px;
	}

	*{
		color: white;
	}

	h3{
		text-align: center;
		@include font-size(28);
		font-weight: 400;
		margin-bottom: 0.2em;

		@media (max-width: $b3){
			line-height: 1.31em;
		}
	}

	h4{
		text-align: center;
		@include font-size(28);
		margin-bottom: 2.4em;

		@media (max-width: $b2){
			margin-bottom: 1.2em;
		}

		@media (max-width: $b3){
			line-height: 1.31em;
			margin-bottom: .65em;
		}
	}

	img{
		margin: 0 auto 4.55em;

		@media (max-width: $b2){
			margin: 0 auto 2.6em;
		}

		@media (max-width: $b3){
			margin: 0 auto 1.4em;
		}
	}

	.info-col{
		column-count: 2;
		column-gap: 5px;

		@media (max-width: $b2){
			column-count: 1;
			text-align: center;
			max-width: 320px;
			margin: 0 auto;
		}

		address{
			margin-bottom: 0;
		}

		h6{
			column-span: all;
			margin-bottom: .3em;
		}
	}
}

.map-con{

	@media (max-width: $b3){
		min-height: 384px;
	}
}

.text-area{
	padding-top: 96px;
	padding-bottom: 90px;

	@media (max-width: $b2){
		padding-top: 58px;
		padding-bottom: 30px;
	}

	@media (max-width: $b3){
		padding-top: 31px;
		padding-bottom: 6px;
	}

	&.wrapper{
		width: 92.9%;
	}

	h5{
		color: $red;

		@media (max-width: $b2){
			margin-bottom: .7em;
		}
	}

	p{

		@media (max-width: $b2){
			margin-bottom: 1.45em
		}
	}

	&.columns{
		column-count: 2;
		column-gap: 26px;

		@media (max-width: $b2){
			column-count: 1;
		}

		@media (max-width: $b3){
			width: 87.9%;
		}
	}
}

.slick-prev + .slick-prev,
.slick-next + .slick-next{
	display: none;

	&:after{
		display: none;
	}
}

#nav{
	position: fixed;
	top: 23.5%;
	transform: translateX(-50%);
	right: 28px;
	z-index: 9999;
	padding: 0!important;
	margin: 0;

	@media (max-width: $b2){
		display: none;
	}

	li{
		list-style: none;
		margin: 11px 0;

		&.current > a{
			background-color: transparent;
		}

		a{
			display: block;
			width: 10px;
			height: 10px;
			background-color: pink;
			border-radius: 10px;
			border: 1px solid white;
			box-shadow: 0 0 3px black;
			background-color: white;
		}
	}
}
