<style>


    hr2{

    border-bottom:1px solid  grey;

        display:block;
        content: " ";
        height:1px;

    }



  .panel-heading a
  {
text-decoration: none;
  }

.panel
  {
  border:none
  }


    .hide
    {
        visibility: hidden;
    }


    .border
    {
        border:1px solid grey;
    }
.animate{
    transition:all 2s;
    position:relative;
}

.answer_style
{
  background-color: whitesmoke;


    position:relative;
}

.panel a, .panel a:hover
{
    text-decoration: none;

}




</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="panel panel-default animate js_showhide" >

	<div>
     <div class="animate title" style="padding:20px;padding-right:60px;">
       <h4 class="panel-title"><span class="faq_question "  style="font-size:20px;">{{ block.question }}</span></h4>
	 </div>
	 </div>
 


  <div class="answer_style answer">
    <div class="panel-body animate"  style="font-size:20px;padding:20px;">{{ block.answer }}</div>
  </div>

</div>

<hr2></hr2>
<br><br>
