<style>

  .panel-heading a
  {
text-decoration: none;
  }

.panel
  {
  border:none
  }

</style>

<div class="panel panel-default">


 <div class="panel-heading"  style="padding:20px;">
   <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">   <h4 class="panel-title">
   <span class="faq_question"  style="font-size:20px;">{{ block.question }}</span>
    </h4>
  </div></a>



  <div id="collapse{{ loop.index }}" class="panel-collapse collapse ">
    <div class="panel-body"  style="font-size:20px;padding:40px;">{{ block.answer }}</div>

  </div>
</div>
<br>
