
{% if block.image | length %}
 <span id="{% if block.blockId | length %}{{block.blockId}}{% endif %}" style="position: absolute;margin-top:-75px;"></span>
 <div class="text-center" ><img src="{{ block.image.first().url() }}" alt="" style="width:100%;"></div>

{% endif %}
