/* Welcome to Compass. */
.boxheading {
  background:#a1c002;
  display:block;
}
.redtitlebox img, .fullwidthimage img, .titleblocknew img, .smallwhitebox img, .sectionblock img {
  height:100%;
  width:100%;
}
.sharebottombar {
  background:none repeat scroll #f1f2f2;
}
.floatleft {
  float:left;
}
.date {
  color:#808285;
  font-size:12px;
  font-weight:300;
  padding:10px 15px;
  text-transform:uppercase;
}
.newsBlockBottom {
  margin-top: 20px;
  border-top: 1px #e8e8e8 solid;
  padding:20px 0 10px;
}
.listing .sharebottombars {
  text-align: right;
}
.share {
  //background:url("../../images/share.png") no-repeat scroll right center rgba(0, 0, 0, 0);
  //color:#808285;
  display:inline-block;
  //font-family:"open sans",sans-serif;
  //font-size:12px;
  font-weight:700;
  cursor: pointer;
  //margin:7px 12px 0 0;
  padding:0 10px 0 0;
 // text-transform:uppercase;
}
.btn-set-share {
  margin:-4px 12px -7px 0;
}
.btn-set-share .btn {
  font-size:8px;
  font-weight:normal;
  text-align:left;
}
.bg-grey {
  color:#bcbec0;
}

.widget input[type="text"], .widget input[type="email"] {
  display:block;
  width:100%;
}
input.searchbox {
  background:url("../../images/search.png") no-repeat scroll right top rgba(0, 0, 0, 0);
}

.btn-share-fb {
  background:#1c75bc;
}
.margin12top {
  margin-top:12px;
}
.btn-share-li {
  background:#27aae1;
}
.bg-white {
  background:white;
  color:#000;
}

.btn-set-share .btn {
  padding: 7px 6px;
  border-radius: 14px;
  margin-left: 4px;
}
.displaynone {
  display:none;
}
.boxheading {
  height:5px;
}
.redtitlebox {
  color:#000;
  //padding: 20px 0;
 // padding-right: 40px;
  h2, a h2, h1.blogTitle {
    padding-right: 5px;
    color:#000;
    text-decoration:none;
    margin-bottom: 5px;
    margin-top: 13px;
    @media (min-width: 768px) {
      margin-right: 54px;
    }
  }

}

.blogContent {
  @media (min-width: 768px) {
    padding-right: 40px;
  }
}

.datebox {
  font-weight: 400;
  margin-top: 15px;
  font-family: $fontFamilyHeadings;
  .top {
    display: inline;
  }
   @media (min-width: 768px) {
     position: absolute;
     right: 20px;
     top:-45px;

     margin-top: 0;
     z-index: 900;
     color: #FFF;
     .top {

       border-bottom: 1px solid #FFF;
    //   text-transform: uppercase;
       margin: 3px 10px;
       display: block;
       padding-bottom: 3px;
     }
     padding-top: 16px;
     background: $brandColour;
     border-radius: 50px;
     text-align: center;
     width: 90px;
     height: 90px;
   }
}

.blogentry .datebox {
  top:-47px
}

.black .bg-white a {
  color:#000 !important;
}
.black .floatright a {
  color:#808285;
}
.datearticle {
  color:#808285;
  font-size:12px;
  font-weight:300;
  padding:10px 0;
  text-transform:uppercase;
}
.bg-white {
  padding:15px 15px 15px;
  margin-bottom:15px;
}
.bg-white h3 {
  font-size:15px;
  margin-top:0px;
}
.bg-white input {
  color:#000;
  padding:6px;
}

.bg-white input:focus,
.bg-white input:active,
.bg-white input:hover {
  border-color:#000;
  color:#000;
}

.innerpaddingarticle {
  padding:0 10px 10px;
  @media (max-width: 768px) {
    padding:20px;
  }
}

/*
.filterbox {
  display: none;
}
.boxheading {
  display: none;
}*/

.newsListing {
  margin-left: 5px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DEE2E7;
}

.latestNews {
  padding-bottom: 30px;
}

.newsListing h4 {
  padding:15px 0 0 0;
  margin: 0;
  font-size: 15px;
}
.newsListing p {
  padding-top: 0;
  margin-top: 0;
}

.newsListing a {
  padding-top: 0;
  margin-top: 0;
}

.searchbox {
  input {
    background: #FFF;
    margin-bottom: 15px;
  }
}

.innerpaddingarticle {
  margin-bottom: 20px;
}

.innerpaddingarticle {
  h1,h2,h3 {
    text-align: left;
  }
}

.smallBlogListingBox {
  font-family: $fontFamilyHeadings;
  .blogTitle {
    h2 {
    color: $brandColour2;
    font-size: 14px;
      border-bottom: 1px solid $brandColour2;
      background: none;
      margin: 0;
      padding: 20px;
      text-transform: none;
      line-height: 18px;
    }
  }
  .rightDate {
    padding: 10px 5px;
    color: #FFF;
    text-align: center;
    margin-top: 19px;
  }
  a:hover {
    text-decoration: none;
  }
  &:last-child h2 {
    border-bottom: none;
  }

}

.rightcol {
  ul {
    margin-bottom: 0;
  }
}

.blogentry .sharebottombars {
  padding: 15px 0;
}

h1.blogTitle {
  background-image: none;
}


.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
}
.paginationContain {
  text-align: center;
  margin: 0 auto;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #FFF;
  text-decoration: none;
  background-color: $brandColour;
 // border: 1px solid #FFF;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #FFF;
  background-color: #9E151F;
 // border-color: #FFF;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #9E151F;
 // border-color: #FFF;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: $brandColour;
 // border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pagination>.active {
  >a,
  >span,
  >a:hover,
  >span:hover,
  >a:focus,
  >span:focus {
 //   background-color: $brandColour;
    border-color: #FFF;
  }
}
.pagination>li>a,
.pagination>li>span {

}

input.searchbox {
  padding: 10px;
  //margin: 0;
}

a, a:hover {
  color: $red;
}

nav a {
  color: #FFF;
}

/* oldblog end */

