a.socialhover {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 34px;
  width: 34px;
  overflow: hidden;
  text-align: left;
  text-indent: -99999px;
  word-wrap: normal;

  &.fb {
    background-image:url(/assets/images/fb.png);
    &:hover {
      background-image:url(/assets/images/h-fb.png);
    }
  }

  &.tw {
    background-image:url(/assets/images/tw.png);
    &:hover {
      background-image:url(/assets/images/h-tw.png);
    }
  }

  &.yt {
    background-image:url(/assets/images/yt.png);
    &:hover {
      background-image:url(/assets/images/h-yt.png);
    }
  }

  &.in {
    background-image: url(/assets/images/in.png);
    &:hover {
      background-image: url(/assets/images/h-in.png);
    }
  }
}

.mobile a.socialhover,
.mobile a.socialhover:hover {
  float: left;
  display: inline-block;
  margin: 10px 0 20px 20px;
  padding: 0;
  background-color: #000;
}