$fontFamilyHeadings:"adelle",serif;
$fontFamilyBody:'Lato', sans-serif;

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
thead td {
    font-family: $fontFamilyHeadings;
    font-size: 19px;
    color: #FFF;
    text-transform: uppercase;
    padding-left: 30px;
}
#nav, a.roundedButton {
    font-family: $fontFamilyHeadings;
    font-weight: 700;
    font-size: 15px;
    color: #FFF;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $fontFamilyHeadings;
  }
}

h5 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

h1 {
  font-family: $fontFamilyHeadings;
  font-size: 30px;
  //letter-spacing: 2px;
  //font-weight: 900;
  font-weight: normal;
  color: #333;
  //text-transform: uppercase;
  padding-bottom: 27px;
  margin-top: 24px;
  margin-bottom: 30px;
  background: url('../images/hwbottom.gif') bottom left no-repeat;
  @media (min-width: 768px) {
    font-size: 40px;
  }
 }

.black h1 {
    background: url('../images/hbottom.gif') bottom left no-repeat;
}

.bg-white h1 {
    color: #333 !important;
    background: url('../images/hwbottom.gif') bottom left no-repeat;
}

.content h2 {
    //background: url('../images/hbottom.gif') bottom left no-repeat;
    padding-bottom: 22px;
}
h2, .blogTitle {
    font-size: 23px;
    margin-bottom: 0;
    background: none;
    font-weight: 400;
    @media (min-width: 768px) {
      font-size: 26px;
      line-height: 33px;
    }
}
.home h2 {
    font-size: 22px;
 //   text-transform: uppercase;
}

p {
    padding-bottom: .7em;
}

.sliderText {
  position: absolute;
  max-width: 200px;
  margin-top: 90px;
  left: 18px;
  top: 0;
  z-index: 999;
  @media (min-width: 768px) {
    margin-top: 200px;
    max-width: 368px;
  }
  h1 {
    background: none;
    display: inline;
    box-decoration-break: clone;
    color: #000000;
    line-height: 20px;
    font-size: 22px;
    @media (min-width: 768px) {
      font-size: 46px;
      line-height: 40px;
    }
    // box-shadow: -18px 0 0  #A1C002, 10px 0 0 #A1C002;
    padding-bottom: 0;
  }
  &:after {
    content: " ";
  }
  p {
    background: #000000;
    padding-top: 5px;
    margin-top: 10px;
    line-height: 27px;
    display: inline;
    box-shadow: -18px 0 0 #000, 10px 0 0 #000;
    box-decoration-break: clone;
  }
}

.greenmodule {
    color: #FFF;
}
h1.noquif,
h2.noquif,
h3.noquif {
    background-image: none;
    margin-bottom: 0;
}
.foottextright.last, .footertext {
    font-size: 12px;
}
.greenmodule h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    line-height: 27px;
    @media (min-width: 768px) {
      font-size: 25px;
      line-height: 35px;
    }
}