/* Adding for new Landing Pages */
.landing-page h5 {
    color: black;
}
.landing-page .lead-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 440px;
}
.landing-page #landing-page-form {
    width: 25%;
    float: right;
    background: white;
    padding: 16px;
    border-radius: 16px;
    text-align: left;
    position: relative;
    top: -100px;
}
.landing-page #landing-page-form #landingPages {
    margin: 0;
}
.landing-page #landing-page-form .notifications p {
    font-weight: bold;
    color: #ca0538;
}
.landing-page #landing-page-form .form-header-copy {
    font-weight: bold;
    margin-bottom: 20px;
    color: #ca0538;
    font-size: 20px;
}
.landing-page #landing-page-form .btn {
    border: 1px solid #ca0538;
    background-color: #ca0538;
    width: 100%;
}
.landing-page #landing-page-form .btn:hover {
    background-color: #98042a;
    border: 1px solid #98042a;
}

.landing-page .hero.small {
    margin-bottom: -150px;
    position: relative;
}

.landing-page .hero + section {
    padding-top: 150px;
}

.landing-page .hero.small h1 {
    font-size: 5rem;
    color: #fff;
    margin: 64px 0 192px;
    width: 70%;
    text-align: left;
    float: left;
}

.landing-page .bg-red {
    background: #ca0538;
    color: white;
}

.landing-page .bg-gray {
    background: #f1f1f1;
}
.landing-page .bg-gray .title {
    color: #ca0538;
}

.landing-page .mob-slide-con {
    padding-bottom: 0;
}
.landing-page .mob-slide-con h2.title {
    margin: 0 64px 64px;
}

.landing-page .video-list-con {
    padding-top: 64px;
    padding-bottom: 64px;
}
.landing-page .video-list {
    text-align: center;
}
.landing-page .video-list .v-item {
    text-align: left;
}

.landing-page .red-slide-img-con {
    padding-top: 200px;
    margin-top: -96px;
}

.landing-page .icon-list-con {
    padding-top: 64px;
    padding-bottom: 0;
}

.landing-page .features-pricing-con {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.landing-page .logo-list {
    text-align: center;
}
.landing-page .logo-list .l-item {
    float: none;
    display: inline-block;
}

.landing-page .features-pricing-con .btn-con {
    padding: 32px 0 0;
}

.landing-page .btn {
    padding: 16px 24px;
}
.landing-page .btn-con.btn-three {
    display: flex;
    justify-content: center;
    padding: 32px 0 64px;
}
.landing-page .btn-con.btn-three > div {
    margin: 0 32px;
    width: 33%;
}
@media (max-width: 625px) {
    .landing-page .btn-con.btn-three > div {
        width: auto;
    }
}
.landing-page .btn-gray {
    background-color: #3C3C3C;
    border-color: #3C3C3C
}
.landing-page .btn-gray:hover {
    background-color: #000;
}

.landing-page .red-contact {
    max-width: 60%;
}

@media (max-width: 975px) {
    .landing-page .hero.small {
        background-image: url(../images/red-col-img-bg-mob.svg);
        background-position: bottom;
        padding-bottom: 260px;
        margin-bottom: -200px;
    }
    .landing-page .hero.small h1 {
        float: none;
        width: 100%;
        margin-bottom: 32px;
    }
    .landing-page #landing-page-form {
        float: none;
        width: 100%;
        top: 0;
    }
    .landing-page .btn-con.btn-three {
        display: block;
    }
    .landing-page .btn-con.btn-three .btn {
        width: 100%;
        margin: 0 0 16px;
    }
}

@media (min-width: 1200px) {
    .landing-page .lead-image {
        height: 600px;
    }
}
