/* accordian mess */

hr2{

    border-bottom:1px solid  grey;

    display:block;
    content: " ";
    height:1px;

}



.panel-heading a
{
    text-decoration: none;
}

.panel
{
    border:none
}


.hide
{
    visibility: hidden;
}


.border
{
    border:1px solid grey;
}
.animate{
    transition:all 2s;
    position:relative;
}

.answer_style
{
    position:relative;
}

.panel a, .panel a:hover
{
    text-decoration: none;

}

.js_showhide h4 {
    margin-bottom: 0;
}
@media (max-width:800px) {

    .js_showhide .title h4 {

        text-align:left;
    }
}

.js_showhide .title{
    cursor: pointer;
    padding-right: 35px;

}
.js_showhide {
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    margin-bottom: 30px !important;
}

.js_showhide .open  .title::after,
.js_showhide.open  .title::after
{
    font-family: FontAwesome;
    content: "\f13a";
    position: absolute;
    right: 0;
    font-size: 22px;
    top: 0px;
    font-weight: normal !important;
    display: block;
    width: 20px;
    height:20px;

    color:#ca0538;
}


.js_showhide .title::after
{
    font-family: FontAwesome;
    content: "\f138";
    position: absolute;
    right: 0;
    font-size: 22px;
    top: 0px;
    font-weight: normal !important;
    display: block;
    width: 20px;
    height:20px;
    color:#ca0538;
}

@media (min-width: 800px) {
.js_showhide .open  .title::after,
.js_showhide.open  .title::after
{
    top:10px;
}
}

/* acc mess end */








.scroll
{
position: absolute;
margin-top:-75px;
}
.scroll2
{
position: absolute;
margin-top:-105px;
}





#foot a{
    color:white;
}



#foot a:hover{
    text-decoration: none;

}

#foot ol, #foot ul, #foot {
    margin-bottom:0;
}

#foot li
{
    display:inline-block;
    color:White;
    padding-right:10px;
    position: relative;

}

#foot li a:hover
{
    color:#CA0E38!important;
}

#foot{
    position: absolute;
    margin-top:0;
}

.menu-top-outer
{
    border-bottom: 1px solid #ca0538;

}

#burger
{
    opacity:1!important;
}

@media screen and (max-width: 991px)
{
    #foot {
        margin-left:-10px;
    }
}


#section15{
    position:relative;

}
body{
    padding-bottom:0;
}

@media screen and (max-width: 630px)
{
    #site-logo {
        width: auto;
    }
}


@media screen and (max-width: 975px)

{
    .tc
    {
        padding-top:40px;
    }

}


.scroll
{
    position: absolute;
    margin-top:-100px;
}
.scroll2
{
    position: absolute;
    margin-top:-130px;
}


@media (max-width: 975px) {
    .hero.small .tc h1 {
        font-size: 34px;
        font-size: 3.4rem;
        margin-bottom: 1.8em;
    }
}



#foot li:after
{
    content:"\00a0  | ";
}




#foot  li:last-child:after
{
    content:"";
}

@media (max-width: 975px) {


    .tc img
    {
        margin-top:-40px;
    }



}

#nav li.current>a{background-color:grey!important;
transform: scale(1.5);
}


.slick-dots {
    position:static !important;

}

.slick-next:before, .slick-prev:before {

    position: absolute;
    z-index: 100;
    margin-top: -5px;
    width: 20px !important;
}

@media (max-width: 625px)
{
    footer .social-menu {

        margin-top: 40px!important;

    }
}

@media (max-width: 625px) {
    .hero.video {
        min-height: 156px;
        margin-top: -120px;
    }

    .hero.video {
        overflow: visible;
    }

    .hero.video .video-con {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: none;
        transform: none
    }

    .after-hero-title h1 {
        padding-top: 20px;
        margin-top: 0;
        font-size: 2.7rem;
        padding-bottom: 20px;
    }

    .hero.video .wrapper {
        display: none;
    }

    .hero.video .wrapper {
        padding: 87px 9px 10px 0;
        background-size: 182px 100%;
        position: absolute;
        /* margin-top: 200px; */
        right: 0;
        bottom: 0;
        display: block;
    }


  .slick-prev  {
        z-index: 100!important;
    }

    .slick-next:hover, .slick-prev:hover {

        cursor:pointer!important;
    }

        .slick-prev {
        z-index: 100;
    }
    .slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {

        cursor: pointer;
    }

}


table.pricing td {
    padding: 5px;
}


.thead p,
.thead span {
    color: #FFF;
    font-weight: bold;
    margin: 10px 0;
}

.smallPrint {
    padding-top: 30px;
  /*  border-top:1px solid silver ;*/
    padding-bottom: 100px;
}

.lheading p {
    font-weight: bold;
}

.newPricing {
    max-width: 820px;
    margin: 0 auto 30px;
}

table.pricing tr:nth-child(even) {background: #cceaed}
table.pricing tr:nth-child(odd) {background: #def6f9}

table.pricing tr.thead p {
    font-weight: bold;
}
table.pricing tr.thead {
    background: #ca0538 !important;
    color: #FFF;

}
@media(min-width:768px) {
    .hidden-desktop {

        display:none !important;
    }
    table.pricing td {
        padding: 10px;
    }
}
@media(max-width:768px) {
    .hidden-mobile {

        display:none !important;
    }
}

@media (max-width: 975px) {
    .grey-col .img-top .sign .hands {
        top:26px } }

@media (max-width: 450px) {
    .more_video {
        display: block !important;
    }
    #show_video {
        display: none;
    }
}

/* Dropdown */
#mainMenu li {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

#mainMenu li:hover,
#mainMenu li:focus-within {
    cursor: pointer;
}

#mainMenu li:focus-within a {
    outline: none;
}

#mainMenu ul li ul {
    background: white;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    padding: 24px 12px;
    left: -12px;
    display: none;
    text-align: left;
    min-width: 200px;
    border-radius: 0 0 5px 5px;
}

#mainMenu ul li:hover > ul,
#mainMenu ul li:focus-within > ul,
#mainMenu ul li ul:hover,
#mainMenu ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

#mainMenu ul li ul li {
    clear: both;
    width: 100%;
}
#mainMenu ul li ul li a {
    font-weight: 700;
}
#mainMenu ul li ul li:first-of-type > a {
    padding-left: 12px;
}

#mainMenu .mobile-dropdown-control {
    display: none;
    position: absolute;
    width: 43px;
    right: 0;
    height: 43px;
    padding: 0 !important;
    top: 0;
    line-height: 43px;
    font-size: 18px;
}

@media (max-width: 975px) {
    #mainMenu li {
        float: none;
    }
    #mainMenu ul li ul {
        opacity: 1;
        visibility: visible;
        position: static;
    }
    #mainMenu .mobile-dropdown-control {
        display: inline-block;
    }
}
