

.left
{
    text-align:left;
}


img {
    max-width: 100%;
    height: auto;
}

.inactive
{
    border:1px solid 	white;
    border-radius:15px;
    padding:5px;
    margin-bottom:10px;
    list-style-type: none;
    font-size:16px;
    width:100%;

}


.active
{
    border:1px solid 	#CA0E38;
    border-radius:15px;
    padding:5px;
    margin-bottom:10px;
    list-style-type: none;
    background-color:#CA0E38;
    color:white;
    font-size:16px;
    padding-left:20px;
    margin-left:15px;
    width:100%;
}


 ul li{
    cursor:pointer;
}


li{
    transition:all .5s;
}
ul
{
    margin:0;
    padding:0;

}

#filters li:after
{
    color:white;
    content:"x";
    position: absolute;
    font-size:12px;
   right:25px;

    margin-top:0px;


}

.container
{
    text-align:left;
}


 .container-fluid
 {
     margin:0;
     padding:0!important;
     font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;
     overflow-x: hidden;
 }



.header_top
{
    position: relative;
    background-color:#CA0E38;
    height:30px;
    margin-bottom:20px;
}


.header_top_text
{

    position: absolute;
    color:white;
    line-height: 30px;
    margin-left:70%;



}


.divider{
    position:absolute;
    right:-20px;
    top:10%;
    bottom:10%;
    border-left:1px solid white;

}



#header ul li
{
    display: inline;
    list-style-type: none;
    padding-left:30px;
    padding:right:30px;
    font-weight: bold;
    font-size:18px;
    line-height:60px;
}


#header ul li:hover
{
    color:#CA0E38;
    cursor:pointer;
}






.float {
    float: left;
}

.clear
{
    clear:both;
}

#reflow_logo
{
    margin-left:12%;
}

#header ul {
    padding-left: 250px;
}

.header-banner img
{
    width:100%!important;
}

.header-banner
{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.header_title
{
    position: absolute;

    color:white;
    font-size:40px;
    font-weight: bold;


}


.footer
{
    background-color:black;
    color:white;
    height:90px;
    text-align: center;
    position: absolute;
    width:100%;
    vertical-align: middle;
    line-height: 85px;
}


.footer ul li
{
    display:inline-block;
    color:White;
    padding-right:10px;
    text-align: center;
    margin:auto;
    position: relative;

}




.databox
{
    position: absolute;
    right: 70px;
    top: 425px;


    color: #FFF;
    padding-top: 16px;
    background: #CA0538;
    border-radius: 50px;
    text-align: center;
    width: 90px;
    height: 90px;
}


.image_title
{
    background-color: rgba(0,0,0,.2);

    position: absolute;


    width: 100%;

    margin-top: -40px;

    color: white;

    padding: 10px;

    font-weight: bold;

}



.databox_entry
{
    position: absolute;
    right: 70px;
    top: 450px;


    color: #FFF;
    padding-top: 16px;
    background: #CA0538;
    border-radius: 50px;
    text-align: center;
    width: 90px;
    height: 90px;
}





.relative
{
    position: relative;

}

.date_top, .date_bottom
{
    position: relative;
    padding:5px;
}


.line
{
    position: relative;
    border-bottom: 1px solid white;
    width:70%;
    left:14%;

}

.lead_image
{
    width:100%;
}


.black{
    color:black!important;
}


.active_page
{
    color:#CA0E38;
}




@media screen and (max-width: 991px)
{
    .databox
    {
        top:355px;
    }

}

@media screen and (max-width: 991px)
{
    .databox_entry
    {
        top:375px;
    }

}

@media screen and (max-width: 1200px)and (min-width: 992px)
{
    .databox_entry
    {
        top:502px;
    }

}



@media screen and (max-width: 1200px)and (min-width: 992px)
{
    .databox
    {
        top:475px;
    }

}



@media screen and (max-width: 767px)
{
    .databox, .databox_entry
    {
        display:none;
    }
    .small_date
    {
        display:block!important;
    }
}



@media screen and (max-width: 1725px)
{
    #main_menu
    {
        padding-left:0px!important;
    }
}



@media screen and (max-width: 1470px)
{
    #main_menu
    {
        display:none;
    }
    #burger
    {
        visibility: visible!important;
        display:block;
    }
}

@media screen and (max-width: 765px) {

    #content{
        padding-left:10px;
        padding-right:10px;
    }


}
@media screen and (max-width: 600px)
{
    #reflow_logo
    {




        margin-left:5%;
    }


}

@media screen and (max-width: 660px)
{

    .image_title
    {
        margin-top:-60px!important;
    }

}

.boxheading
{
    color:#CA0E38;
    font-size:24px;
    font=weight:bold;
}


.faq_question
{
    color:#CA0E38;
}


.red{
    color:#CA0E38;
}

.bar1, .bar2, .bar3
{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    color:#CA0E38;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



#burger
{
    position: absolute;
    right:50px;
    visibility: hidden;
    z-index: 100;
}

#burger:hover
{
    cursor:pointer;
}

#burger:active
{
    transform:scale(1.3);
}







#mobile
{


    position: absolute;
    background-color: rgba(0,0,0, 1);
    color: white!important;
    padding: 20px;

    padding-left: 13px;
    width: 200px;


    right:0;
    transition:all 1s;
    top:106px;
    z-index:5000;
    height:100%;
    position: fixed;
    transition:all 1s;

}


#mobile ul li{
    padding-bottom:20px;
}

#mobile ul
{

    padding-bottom:20px;

    margin-left:0;
    padding-left:0;
    color: white;

    list-style-type: none!important;
    font-size:20px;




}


#mobile a  {
    text-decoration: none!important;
    color:White;
}


#mobile  a:hover
{
    text-decoration: none!important;
    color:#CA0E38!important;
}


.close_mobile
{
    right:40px;
    position: absolute;
    font-size:26px;
    transition:all .5s;
}

.close_mobile:hover
{
    cursor:pointer;
    transform:scaleX(.2);
    transform:scaleY(.5);


}





.hide2
{
    transform:translateX(500px);

}



.sticky_top
{
    position: fixed;
    top:0px;
    z-index: 4000;
    background-color: white;
    height:80px;
    padding-top:20px;
    border-bottom:1px solid #CA0E38;
    width:100%
}
#top_main_header
{
    transition:all 1s;
    background-color: white;

}


.small_date, .small_date:hover
{
    display:none;
    text-decoration: none;

}

.relative:hover, .relative a ,.relative a:hover
{

    text-decoration: none;
}





#foot li:after
{
    content:"\00a0  | ";
}




#foot  li:last-child:after
{
    content:"";
}



#foot a{
 color:white;
}



#foot a:hover{
text-decoration: none;

}

#foot ol, #foot ul, #foot {
    margin-bottom:0;
}


@media (max-width: 625px)
{
footer .social-menu {

    margin-top: 40px!important;

}
}

