.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-1-7,
.col-sm-1-7,
.col-md-1-7,
.col-lg-1-7 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-1-7 {
  width: 14.285%;
  float: left;
}
@media (min-width: $container-sm) {
  .col-sm-1-7 {
    width: 14.285%;
    float: left;
  }
}
@media (min-width: $container-md) {
  .col-md-1-7 {
    width: 14.285%;
    float: left;
  }
}
@media (min-width: $container-lg) {
  .col-lg-1-7 {
    width: 14.285%;
    float: left;
  }
}

.col-xs-2-4 {
  width: 20%;
  float: left;
}
@media (min-width: $container-sm) {
  .col-sm-2-4 {
    width: 20%;
    float: left;
  }
}
@media (min-width: $container-md) {
  .col-md-2-4 {
    width: 20%;
    float: left;
  }
}
@media (min-width: $container-lg) {
  .col-lg-2-4 {
    width: 20%;
    float: left;
  }
}

.minusMargin {
  margin-left:-12px;
  margin-right: -12px;
}

.min-margin {
  .row {
    margin-left: -4px;
    margin-right: -4px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-1-7, .col-sm-1-7, .col-md-1-7, .col-lg-1-7,
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-2-4, .col-sm-2-4, .col-md-2-4, .col-lg-2-4,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.med-margin {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-1-7, .col-sm-1-7, .col-md-1-7, .col-lg-1-7,
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-2-4, .col-sm-2-4, .col-md-2-4, .col-lg-2-4,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 6px;
    padding-right: 6px;
  }
}