@each $colour in $colours {

  $colour-name: nth($colour, 1);
  $colour-value: nth($colour, 2);

  .#{$colour-name} {
    @include colour(#{$colour-value});
  }
}

a:hover {
  color: $purple;
}

.purple a:hover {
  color: #000;
}

.mod_textText,
.mod_text,
.mod_team,
.mod_video,
.mod-bottom .module, .mod_centerMax {
  //background: $lightGrey;
}

.white {
  .mod_textText,
  .mod_text,
  .mod_team,
  .mod_video,
  .mod-bottom .module, .mod_centerMax {
    background: #FFF;
  }
}

.bg-red {
  background: $red;
  color: #FFF;
  a {
    color: #FFF;
  }
}