#sb-site {
  margin-top: 45px;
  @media (min-width: $screen-sm) {
    margin-top:113px
  }
}

.headwrap {
  position: fixed;
  top:0;
  font-size: 16px;
  width: 100%;
  background: #FFF;
  z-index: 999999;
  &.headroom--not-top {
    background: rgba(255,255,255,.9);
  }
    /*
    .right {
      float:right;
      margin-right: 20px;
      .glyphicon-menu-hamburger {
        margin-top: 16px;
        font-size: 26px;
    } */

    .mobileInset {
      text-align: left;
      @media (min-width: $screen-sm) {
        text-align: center;
      }

      #menu-button {
        position: absolute;
        right: 0;
        top:5px;
        font-size: 30px;
        padding-top: 0px;
        color: $purple;
        @media (min-width: $screen-sm) {
          padding-top: 24px;
          font-size: 34px;
          top:8px;
        }
      }
    }

  &.headroom--not-top .mobileInset #menu-button {
      top:5px;
      padding-top: 0 !important;
      font-size: 30px;
  }

    /* .twitterMobile {
      position: absolute;
      right: 0;
      font-size: 28px;
      z-index: 9999999;
      top:16px;
      color: $darkGrey;
      padding-top: 15px;
      @media (min-width: $screen-sm) {
        font-size: 23px;
        z-index: 9999999;
        top:17px;
        margin-right: -4px;
      }
    }
  } */
  .floatRight {
    @media (min-width: $screen-sm) {
      float: right;
    }
  }

  .logo {
    padding-top:10px;
    padding-bottom:10px;
    @media (min-width: $screen-md) {
      padding-top:30px;
      padding-bottom:30px;
    }
    .logoSvg {
      width: 105px;
      height: 26px;
      @media (min-width: $screen-md) {
        width: 210px;
        height: 53px;
      }
    }
  }

  &.headroom--not-top .logo {
    padding-top:10px;
    padding-bottom:10px;
    .logoSvg {
      width: 105px;
      height: 26px;
    }
  }


  #main-menu {
    .highlighted {
      @media (min-width: $screen-sm) {
        background: $grey;
      }
    }
    margin-top: 25px;
    @media (min-width: $screen-sm) {
      float: right;
      padding-right: 22px;
    }
    @media (min-width: 890px) {
      padding-right: 30px;
    }
    li a.twitterMenuLink,
    li a.twitterMenuLink:hover {
      padding-right: 0 !important;
      margin-right: 0 !important;
      //background: red !important;
    }
    li a {
      font-weight: bold;
      color:$darkGrey;
      @media (max-width: $screen-sm) {
      //  padding: 11px 20px;
      //  margin: 0;
        max-width: 90%;
        padding-left: 8px;
        display: block;
        margin: 0 auto;
      }

    }

    a:hover {
      color:$purple;
    }
    a.active {

      font-weight: bold;
      color: $purple;
    }
    a.has-submenu:hover, a.has-submenu.highlighted {
      @media (min-width:$screen-sm ) {
        color: #FFF;
        background: $grey;
      }
    }
    li > ul > li,
    ul > li > ul {
      a {
        padding-right: 100px;
        color: #FFF !important;
      }
    }
    //submenu selector
     li > ul > li > ul {

       background: #5D5E60;
       @media (min-width: $screen-sm) {
         background: transparent;
         padding-left: 6px;
       }
       a {
         padding-right: 20px;
         min-width: 200px;
         background: #5D5E60;
         &:hover {
           background: #000;
         }
       }
    }
  }
  .desktopInset {
    //border-right:1px solid red !important;
    max-width: 100%;
    @media (min-width:$screen-sm) {
    //  max-width: 95%;
      margin: 0 auto;
      position: relative;
    }
    @media (min-width: 850px) {
         max-width: 90%;
    }
  }
  .mobileInset {
    //border-right:1px solid red !important;
    max-width: 90%;
    position: relative;
    margin: 0 auto;
    @media (min-width:768px){
      max-width: 100%;
    }
  }
  .minusMarginMobile {
    margin-left:-12px;
    margin-right: -12px;
    @media (min-width:768px){
      margin-left:0;
      margin-right:0;
    }
  }
}

.headroom {
  transition: transform 200ms linear;

}
.headroom--pinned {
  transform: translateY(0%);
  display: block;
}
.headroom--unpinned {
  transform: translateY(-100%);
  display: none;

}