@charset "UTF-8";

@font-face {
  font-family: "wired";
  src:url("../fonts/wired.eot");
  src:url("../fonts/wired.eot?#iefix") format("embedded-opentype"),
    url("../fonts/wired.woff") format("woff"),
    url("../fonts/wired.ttf") format("truetype"),
    url("../fonts/wired.svg#wired") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "wired" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icn-"]:before,
[class*=" icn-"]:before {
  font-family: "wired" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icn-box:before {
  content: "b";
}
.icn-phone:before {
  content: "p";
}
.icn-hat:before {
  content: "h";
}
.icn-tick:before {
  content: "*";
}
.icn-widget:before {
  content: "w";
}
.icn-doc:before {
  content: "d";
}
.icn-book:before {
  content: "g";
}
.icn-twitter:before {
  content: "t";
}
.icn-secret-smile:before {
  content: "s";
}
.icn-simply-smile:before {
  content: "k";
}
.icn-cal-one:before {
  content: "1";
}
.icn-cal-six:before {
  content: "6";
}
.icn-padlock:before {
  content: "l";
}
.icn-pen:before {
  content: "m";
}
.icn-cal-twelve:before {
  content: "y";
}
.icn-person-tick:before {
  content: "c";
}
.icn-hamburger:before {
  content: "f";
}
.icn-arrow-right:before {
  content: "r";
}
.icn-arrow-left:before {
  content: "a";
}
.icn-paly:before {
  content: ">";
}
.icn-unselected:before {
  content: "o";
}
.icn-selected:before {
  content: ".";
}
.icn-arrow-right-big:before {
  content: "e";
}
.icn-facebook:before {
  content: "i";
}