@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin horizontal-align {

  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  //transform: translate(-100%);
  transform: translate(-50%, -50%);
  position: absolute;
  //right: 50%;
  top: 50%;

}
@mixin center-align {

  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  //transform: translate(-100%);
  transform: translate(-50%, -50%);
  position: absolute;
  //right: 50%;
  top: 50%;
  left:50%;

}

@mixin colour($colour) {
  .adaptHeadings {
    h1,h2,h3,h4,h5 {
      color: $colour;
    }
  }

  &-bg {
    background-color:$colour !important;
  }
  ul li:before, .adaptColour {
    color: $colour;
  }
  .adaptLinks,
  .adaptColourLinks {
    ul:before {
      color: $colour;
    }
    a {
      color:$colour;
    }
    b,strong {
      color:$colour;
    }
  }
  a.adaptHover:hover, .buttonBox a:hover {
    color:#FFF;
    background-color: $colour;
  }
  .adaptBg {
    background-color: $colour
  }
}
