$navbar-default-bg: #212121;
$grey: #212121;
$bgOne: #F7F7F7;

$headings: 'Lato', sans-serif;
$ptFont: 'pt-serif', sans-serif;

//define colours
$mainBg: #F2F2F2;
$lightGrey: #F2F2F2;
$colours:
        ('lightGrey' '#F2F2F2'),
        ('green' '#96B716'),
        ('purple' '#CA0538'),
        ('red' '#CA0538'),
        ('darkGrey' '#939598');
$purple: #CA0538;
$red: #CA0538;
$darkGrey: #939598;