body {
  font-family: $headings;
  font-size: 16px;
  color: #231F20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $mainBg;
 // text-shadow: 0 0 0;
  @media (min-width: $screen-sm) {
  //  font-size: 20px;
  }
}

* {
  transition: all .05s;
}

a:hover {
  text-decoration: none !important;
}

a, a i, a:before, a:after {
  &:visited,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
    transition: all .2s;
  }
}
.title h1,
.title h2 {
  text-align: center;
  margin-top: 2px;
}

h1,h2 {
  font-size: 17px;
  font-weight: 600;
  @media (min-width: $screen-sm) {
    font-size: 24px;
  }
}
h3 {
  font-size: 20px;
  font-weight: bold;
  @media (min-width: $screen-sm) {
    font-size: 27px;
  }
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  @media (min-width: $screen-sm) {
    font-size: 22px;
  }
}

.contentWrap {
  overflow: hidden;
  a {
    font-weight: bold;
  }
  ol {
    margin: 0;
    padding: 16px 0 0 10px;
    @media (min-width: $screen-sm) {
      padding: 0 0 0 15px;
    }
  }
  ul {
    margin: 0;
    padding: 16px 0 0;
    @media (min-width: $screen-sm) {
      padding: 0 0 0 15px;
    }
    li {
      list-style: none;
      position: relative;
      padding-left: 34px;
      padding-bottom: 5px;
      &:before {
        content: "*";
        font-family: "wired", sans-serif;
        color: red;
        font-size: 21px;
        top:-3px;
        position: absolute;
        left: 0;
      }
    }
  }
}

.inset {
  max-width: 90%;
  margin: 0 auto;
}

.bigInset {
  max-width: 100%;
  @media (min-width:$screen-sm) {
    max-width: 80%;
    margin: 0 auto;
  }
}

.smallInset {
  max-width: 96%;
  margin: 0 auto;
}

.container-fluid-no-bs {
  margin-right: auto;
  margin-left: auto;
}

.icn {
  font-size: 22px;
}

.wiredIcn {
  font-family: 'wired', sans-serif;
  font-size: 200px;
  display: none;
}

.wrapper,.maxWidth {
  max-width: 1200px;
}

.title, .text {
  text-align: center;
}

.module {
  padding-top: 16px;
  padding-bottom: 16px;
  @media (min-width: $screen-sm) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  h1,h2,h3,h4,h5,h6,p,img.padding, .contentBox ul {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    @media (min-width: $screen-sm) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    margin-top:5px;
    margin-bottom:5px;
    @media (min-width: $screen-sm) {
      margin-top:10px;
      margin-bottom:10px;
    }
  }
}

.minPaddingBottom {
  padding-bottom: 8px !important;
}

.imgBox {
  padding-top: 16px;
  padding-bottom: 16px;
  @media (min-width: $screen-sm) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.module .caption p {
  padding: 0;
}

.noMarginTop {
  margin-top: 0 !important;
}
.noPaddingTop {
  padding-top: 0 !important;
}

.noPadding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.bg-red-inner .wrapper {
  background: $red;
  color: #FFF;
  h1 {
    font-size: 46px;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #FFF !important;
    padding: 5px 0;
    margin: 2px 0;
  }
}


.playwrap {
  //text-align: center;
  .play {
    &:before {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow: 0 0 0;
      content: ">";
      font-family: 'wired', sans-serif;
      font-size: 14px;
      font-weight: normal;
      padding: 6px 10px;
      display: block;
      color: #FFF;
      transition: all .2s;
      @media (min-width: $screen-sm) {
        font-size: 18px;
        padding: 6px 12px;
      }
    }
    &:hover:before {
      transition: all .2s;
      color: $purple;
    }
    margin: 15px auto;
    background: $lightGrey;
    border-radius: 30px;

    display: block;
    width: 30px;
    height: 30px;
    @media (min-width: $screen-sm) {
      width: 37px;
      height: 37px;
    }
  }
} .purple .playwrap .play:hover:before {
    transition: all .2s;
    color: #000;
}
#footer {
  background: #000;
  footer {
    background: #000;
    font-size: 14px;
    min-height: 110px;
    padding: 20px 0 50px;

    color: #808080;
    a {
      color: #808080;
    }

    text-align: center;

    .foot1, .foot2, .foot3 {
      padding-top: 20px;
    }

    @media (min-width:$screen-sm) {

      text-align: left;
      padding: 60px 70px 80px;

      .foot1, .foot2, .foot3 {
        float: left;
        width: 33%;
        padding-top: 0;
      }

      .foot3 {
        text-align: right;
      }

    }
      .foot2 {
        text-align: center;
        color: #FFF;
        a {
          color: #FFF;
          padding: 0 20px;
        }
      }

    }

    .social {
      font-size: 20px;
    }


}

.desktopInset {
  //border-right:1px solid red !important;
  max-width: 100%;
  @media (min-width:$screen-sm) {
    //  max-width: 95%;
    margin: 0 auto;
    position: relative;
  }
  @media (min-width: 850px) {
    max-width: 90%;
  }
}
.mobileInset {
  //border-right:1px solid red !important;
  max-width: 90%;
  position: relative;
  margin: 0 auto;
  @media (min-width:768px){
    max-width: 100%;
  }
}
.minusMarginMobile {
  margin-left:-12px;
  margin-right: -12px;
  @media (min-width:768px){
    margin-left:0;
    margin-right:0;
  }
}

.white .wrapper {
  background-color: #fff;
}


.lr1.block_slideshow .slide {
  margin-left:-200px;
  margin-right:-200px;
  @media (min-width: $screen-sm) {
    margin-left:0;
    margin-right:0;
  }
}

nav {
  a:hover {
  color: $red !important;
  }
}