/* setup */
@import "_jmixins";
@import "_jvaribles";
@import "_joocss";

/* vendor */
@import "vendor/bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-custom";
@import url("https://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css");
@import "_icnfont";
@import "vendor/_magnific";
@import "../stylesheets/sm-core-css.css";
@import "vendor/smartmenus/_mixins";
@import "vendor/smartmenus/_sm-mint";
@import "vendor/_bx";
@import "vendor/_slidebars";

/* layout */
@import "_bootstrapAdditions";
@import "_layout";
  @import "_headwrap";

/* modules */
@import "modules/__index";

/* pages */
@import "pages/__index";

/* component */
@import "component/blog/__index";

/* other */
@import "_colours";

/* slick additions */
.slick-track {
  margin-left: auto;
  margin-right: auto;
}