.mod_accordian {
  ul,ol {
    padding-top:  0 !important;
    padding-bottom:  0 !important;
    @media (min-width:$screen-sm){
      padding-top: 29px !important;
      padding-bottom: 29px !important;
    }
  }
  .open {
    background: #FFF;
  }
  .row:not(.open) .inset {
    border-bottom: 1px solid #898989;
  }
  .title {
    //background: $lightGrey;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
    h3 {
      &:hover {
        cursor: pointer;
      }
      padding: 15px 30px;
      &:after {
        font-family: 'wired', sans-serif;
        content: 'e';
      //  -webkit-font-smoothing: antialiased;
      //  -moz-osx-font-smoothing: grayscale;
        //text-shadow: 0 0 0;
        position: absolute;
        right: 18px;
        font-size: 17px;
        top:17px;
        //float: right;
        font-weight: normal !important;
        display: block;
        @include horizontal-align;
      }
    }
  }
  .open .title {
    h3 {
      &:after {
        -webkit-transform:  translate(-50%, -50%) rotate(90deg);
        -moz-transform: translate(-50%, -50%) rotate(90deg);
        -o-transform: translate(-50%, -50%) rotate(90deg);
        -ms-transform: translate(-50%, -50%) rotate(90deg);
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  .answer {
   // background: $lightGrey;
    margin-top: 8px;
    padding-bottom: 32px;
    img {
      width:auto;
      max-width: 100%;
    }
    @media (min-width: $screen-sm) {
      margin-top: 8px;
      padding-top: 22px;
      padding-bottom: 32px;
    }
    .titleBlock h3 {
      text-align: center;
      padding: 16px;
      @media (min-width: $screen-sm) {
        padding: 27px 0 15px;
      }
    }
  }

  .caption {
    font-weight: bold;
    font-size: 14px;
    padding-top: 15px;
  }
}

