.mod_bottom {
  margin-top: 16px;
  @media (min-width: $screen-sm) {
    margin-top: 35px;
  }
  .mod_text .module {
    max-width: 785px;
  }
  h3 span {
    color: #000;
  }
  h4 {
    text-align: center;
  }

  .mod_text {
    .module {
      padding-bottom: 0;
    }
  }

  .mod_buttonBox {
    padding-top: 8px !important;
    .minusMargin {
      margin-top: -10px;
    }
    .buttonBox a i {
      @media (min-width: $screen-sm) {
        font-size: 33px;
      }
    }
  }
}