.mod_buttonBox {
  &.noPaddingTop {
    padding-top: 8px !important;
    .minusMargin {
      margin-top: -10px;
    }
  }

  .buttonBox {
    margin-top: 8px;
    margin-bottom: 0;
    a {
      display: block;
      width: 100%;
      padding: 8px 0 0;
      //margin-bottom: 8px;
      text-align: center;
      color: black;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      background: $bgOne;
      //padding: 0;
      @media (min-width: $screen-lg) {
        padding: 14px 0 0;
      }
      .lightBoxMe {
        //display:none;
      }
      i {
        // display: inline-block;
        //@include vertical-align;
        //margin: 10px 0;
        font-size: 30px;
        //line-height: 20px;
        height: 55px;
        line-height: 60px;
        //height: 20px;

        @media (min-width: $screen-sm) {
          @include vertical-align;
          display: block;
          margin: 30px 0 0;
         // font-size: 35px;
          height: 55px;
          line-height: 60px;
        }

          &.icn-widget {
            font-size: 32px;
            @media (min-width: $screen-sm) {
              font-size: 40px;
            }
          }
          &.icn-doc {
            font-size: 25px;
            @media (min-width: $screen-sm) {
              font-size: 28px;
            }
          }
          &.icn-pen {
            font-size: 27px;
            @media (min-width: $screen-sm) {
              font-size: 37px;
            }
          }
          &.icn-person-tick {
            font-size: 30px;
            @media (min-width: $screen-sm) {
              font-size: 37px;
            }
          }
          &.icn-book {
            font-size: 37px;
            @media (min-width: $screen-sm) {
              font-size: 55px;
              padding-left: 9px;
            }
          }
        }
      &:hover {
        color: #FFF;
        background: black;
      }
      .text {
        //min-height: 30px;
        //line-height: 13px;
        margin: 0 10px;
        //margin-top: -50px;
        display: inline-block;
        @include vertical-align;
        @media (min-width: $screen-sm) {
          display: block;
          min-height: 30px;
          line-height: 13px;
        }
      }
    }
  }
}

.lightBoxMe {
  &:before {
    content: "X [close]";
    text-align: center;
    color: #FFF;
    cursor: pointer;
    display: block;
    margin-top: -10px;
  }
  input {
    color: #000 !important;
  }
}