.mod_centerMax {
  h4 {
    padding: 0;
    //padding-bottom: 0;
  }
  .contentBox {
    background: #FFF;
    padding:20px;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    ul {
      padding-top: 15px;
    }
    @media (min-width: $screen-sm) {

      padding:40px 20px 18px;

    }
  }
  .module {
    padding-bottom: 0;
  }
}

.container-fluid.mod_centerMax {

}