.mod_contactForm {
  &.wrapper {
    background: #FFF;
  }
  .module.inset {
    position: relative;
  }
  .inner {
    position: relative;
    margin-bottom: 15px;
  }
  fieldset {

    .heading {
      padding: 10px 0;
    }

    font-size: 14px;
    font-weight: 500;

    border: none;
    margin: 0;
    padding: 0;
      &.tab-1,&.tab-2 {

        @media (min-width: $screen-sm) {
        width: 50%;
        float: left;

      }
    }

    input {
      background: #E6E6E6;
      border: none;
      width: 100%;
      padding: 10px;
      text-align: left;
      @media (min-width: $screen-sm) {
        width: 90%;
      }
    }
    textarea {
      background: #E6E6E6;
      border: none;
      padding: 10px;
      width: 100%;
      min-height: 277px;
      margin-bottom: 33px;
    }

    legend {
      display: none;
    }

  }

  .tab-2 .field:last-of-type div.heading,
  .tab-2 .field:last-of-type div.input {
    float: left;
    padding-right: 15px;

  }

  .tab-2 .field:last-of-type div.input {
    padding-top: 10px;
  }

  input.switch-round + label:after {
    background: #E6E6E6;
  }
  input.switch-round:checked + label:after {
    background: #00a5ff;
  }
  input.switch-round:checked + label:after {
    background: #FFF;
  }


  button {
    position: absolute;
    right: 0;
    padding-left:45px;
    padding-right:45px;
    bottom: 35px;
  }

}