.mod_find {

  background: $lightGrey;

  .profile {
    background: white;
    margin: 5px 0 28px;
    padding-bottom: 5px !important;

    .profile_info {
      padding-left: 23px;
      background: white;
      font-weight: 300;
      @media (min-width:$screen-sm){
        height: 335px;
        //background: red;
      }

      span {
        display: block;
      }

      p {
        padding-top: 26px !important;
        padding-bottom: 0 !important;
        @media (min-width:$screen-sm){
          padding-top: 29px !important;
          padding-bottom: 20px;
        }
      }

      h4 {
        font-size: 16px;
        line-height: 22px;
        padding: 0;
        @media (min-width:$screen-sm){
          font-size: 16px;
        }
      }

      h5 {
        font-weight: 300;
        line-height: 22px;
        font-size: 16px;
        padding: 0 0 24px;
        @media (min-width:$screen-sm){
          font-size: 16px;
        }
      }
    }

    a {
      color: #000 !important;
      font-weight: 300;
    }

    .accreditations {
      padding: 27px 0;
    }

  }
  .county {
     h3 {
      display: block;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 30px;

      }
  }
}
#intro {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  select {
    margin-left: 20px;
  }
  @media (min-width:$screen-sm){
    margin-bottom: 60px;
  }
}
