.mod_forumTitle {
  text-align: center;
  b {
    font-weight: bold;
    color: #000 !important;
    padding-top: 12px;
    display: block;
    padding-bottom: 12px;
    font-size: 16px;
    margin: 0;
    @media (min-width: $screen-sm) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .forumInner {
    position: relative;
    text-align: center;
    padding: 18px 0;
    height: 60px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    @media (min-width: $screen-sm) {
      width: 100%;
      margin: 0;
      padding: 18px 0;
      height: 60px;
      color: #FFF;
    }
    &:after {
      @media (min-width: $screen-sm) {
        content: " ";
        width: 100%;
        height: 30px;
        max-height: 30px;
        max-width: 30px;
        //min-height: 50px;
        background: transparent;
        right: -30px;
        bottom: 0;
        overflow: visible;
        display: block;
        position: absolute;
        border-top: 30px solid transparent;
        border-left: 20px solid transparent;
        //border-right: 33px solid transparent;
        border-bottom: 30px solid transparent;
        z-index: 999;
      }
    }
    &.one {
      background: #938FD5;
      &:after {
        @media (min-width: $screen-sm) {
          border-left-color:#938FD5;
          border-bottom-color: #993E97;
          border-top-color: #993E97;
        }
      }
    }
      &.two {
        margin-top: 16px;
        background: #993E97;
        @media (min-width: $screen-sm) {
          margin-top: 0;
        }
        &:after {
          @media (min-width: $screen-sm) {
            border-left-color:#993E97;
            border-bottom-color: #640B5E;
            border-top-color: #640B5E;
          }
        }
      }
      &.three {
        background: #640B5E;
        margin-top: 16px;
        @media (min-width: $screen-sm) {
          margin-top: 0;
        }
        &:after {
        }
      }
  }

  .bottomText {
    font-size: 14px;
    font-weight: lighter;
  }

  .minusMargin {
    margin-top: -10px;
  }
  .buttonBox {
    margin-top: 8px;
    margin-bottom: 0;
    a {
      display: block;
      width: 100%;
      padding: 8px 0 0;
      text-align: center;
      color: black;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      background: $bgOne;
      i {
        font-size: 30px;
        height: 55px;
        line-height: 55px;
      }
      &:hover {
        color: #FFF;

      }
      .text {
        margin: 0 10px;
        display: inline-block;
        @include vertical-align;

    }
      &.only {
        padding: 30px 0;
        display: block;
      }

    }
}
  .one a {
    color: #938FD5 !important;
  }
  .two a {
    color: #993E97 !important;
  }
  .three a {
    color: #640B5E !important;
  }
  .one a, .two a, .three a {
    &:hover {
      color: #FFF !important;
    }
  }
}