.mod_hex {
  h4 {
    padding-top: 0 !important;
  }
  a {
    font-weight: 300;
  }
  .hex {

    &:hover {
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: rotate(360deg);
      transition: all 1s;
    }

    &:before {
      content: " ";
      width: 100%;
      height: 30px;
      border-bottom: 33px solid transparent;
      border-left: 20px solid white;
      border-right: 20px solid white;
      position: absolute;
      display: block;
      overflow: visible;
      top: 0;
      @media (min-width : $screen-sm) {
        border-bottom: 59px solid transparent;
        border-left: 28px solid white;
        border-right: 28px solid white;
      }
      @media (min-width:$screen-sm ) and (max-width: 1090px) {
        border-bottom: 59px solid transparent;
        border-left: 28px solid white;
        border-right: 28px solid white;
      }
    }
    margin: 8px auto 0;
    width: 100%;
    min-width: 138px;
    height: 66px;
    padding: 0;
    background-color: #6C6;
    //overflow: hidden;
    position: relative;
    @media (min-width : $screen-sm) {
      margin: 15px auto 0;
      width: 145px;
      height: 120px;
    }
    @media (min-width:992px ) and (max-width: 1090px) {
      margin: 30px -10px !important;
      width: 137px;
      &.first {
        float: none;
      }
    }

    p {
      text-align: center;
      position: absolute;
      font-size: 18px;
      line-height: 17px;
      bottom: 50%;
      // overflow: hidden;
      font-family: $ptFont;
      color: #FFF;
      @include vertical-align;
      @media (min-width: $screen-sm) {
        &.twelveday {
          span {
            font-size: 15px;
          }
        }
      }
    }

    p.icon {
      font-size: 105px;
      color: #FFF;
      line-height: 70px;
      //padding-left: 20px;
    }
    br {
      display: none;
      @media (min-width : $screen-sm) {
        display: inline;
      }
    }
    &:after {
      content: " ";
      width: 100%;
      left: 0;
      bottom: 0;
      // overflow: visible;
      display: block;
      position: absolute;
      border-top:   33px solid transparent;
      border-left:  20px solid white;
      border-right: 20px solid white;
      @media (min-width : $screen-sm) {
        border-top:   59px solid transparent;
        border-left:  28px solid white;
        border-right: 28px solid white;
      }
      @media (min-width:$screen-sm ) and (max-width: 1090px) {
        border-top:   59px solid transparent;
        border-left:  28px solid white;
        border-right: 28px solid white;
      }
    }
  }

  @media (min-width:$screen-sm) and (max-width:992px ) {
    padding-bottom:32px;

    .row {
      max-width: 700px;
      margin: 0 auto;
    }

    .hex {
      margin-bottom:10px ;
    }

    .col-md-1-7 {
      //  max-width: 140px;
      min-width: 138px;
    }

    .col-sm-4.first {
      margin-left: 50px;
      .hex {
        //margin: 30px 0;
        float: right;
      }
    }
    .col-sm-4.second {
      max-width:180px;
    }
    .col-sm-4.third {
      max-width:250px;
      .hex {
        //margin: 30px 0;
        p { top:50%; }
        float: left;
      }
    }

    .col-md-1-7 {
      max-width: 30%;
    }

  }

}