.block_special.s_home{

  .top{
    max-width: 870px;
    margin-left: auto;
    padding-top: 12px;
    margin-right: auto;
    h2 {
      text-align: center;
      font-size: 24px;
    }
    img {
      max-width: 60px;
      max-height: 60px;
      margin: 0 0 20px 0;
      float: left;
      display: inline;
    }

    h3 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 10px 0 0 70px;
      text-align: left;
    }
    @media (min-width: $screen-md) {
      .cus,.est {
        .icn, h3 {
          margin-left: 25px;
        }
      }
    }
  }

  .bottom{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img {
      max-width: 69px;
      max-height: 46px;
      display: inline-block;
    }

   /*
    .pc img {
      max-width: 120px;
      max-height: 80px;
      display: inline-block;
    }
    */
    p.small {
      font-size: 12px;
    }
    h3 {
      font-size: 17px;
      font-weight: 500;
      padding: 10px;
    }
  }

  .title {
    margin: 10px;
    @media (min-width: $screen-sm) {
      margin:30px 0;
    }
  }

}