.mod_reveal {

  padding: 20px 0;

  .mfp-iframe-scaler iframe {
    box-shadow: none;
    background: transparent !important;
  }

  .card {
    margin: 10px;
  }

  p {
    font-size: 20px;
  }

  img {
    display: block;
    margin: 20px auto 50px;
    width: auto;
    //height: 100%;
    max-width: 100%;

  }

  .playwrap {
    padding-top:20px;
    padding-bottom:20px;
  }

  margin: 20px auto;
  max-width: 90%;
  text-align: center;
  @media (min-width:$screen-sm) {
    //width: $screen-sm - $screen-sm/3;
  }
  @media (min-width:$screen-md) {
    //width:$screen-md - $screen-md/3;
  }
  @media (min-width:$screen-lg) {
    //width:$screen-lg - $screen-sm/3;
  }
  .back {
    position: relative;
  }

  /* fix webkit backface visibility and stop the vimeo black bars from showing */

    // Root container
    .mfp-container {
      text-align: center;
      // position: relative;
      -webkit-backface-visibility: hidden !important;
      backface-visibility: hidden !important;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      padding: 0 $mfp-popup-padding-left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    // Vertical centerer helper
    .mfp-container {
      &:before {
        content: '';
        display: block;
        height: 100%;
        vertical-align: middle;
      }
    }

    // Remove vertical centering when popup has class `mfp-align-top`
    .mfp-align-top {
      .mfp-container {
        &:before {
          display: none;
        }
      }
    }

    // Popup content holder
    .mfp-content {
      position: relative;
      //background: red;
      //display: inline-block;
      display: inline-block;
      -webkit-backface-visibility: hidden !important;
      backface-visibility: hidden !important;
      //  vertical-align: inital;
      margin: 0 0;
      left: 0;
      right: 0;
      text-align: left;
      z-index: $mfp-z-index-base + 5;
    }

  /*  END fix webkit backface visibility and stop the vimeo black bars from showing END */

}