.mod_slideshow {
  background: $lightGrey;
  .slideshow {
  .slide {
    position: relative;
  }
    .sliderText {
      position: absolute;
      top:37%;
      left: 0;
      right: 0;
      text-align: center;
      h2 {
        color: #FFF;
        font-size: 22px;
        @media (min-width: $screen-sm) {
          font-size: 52px;
        }
      }
    }
    position: relative;
    //padding-bottom: 50px;
    @media (min-width: $screen-sm) {
      padding-bottom: 0;
    }
    ul.slick-dots {
      margin: 0 auto;
      display: block;
      position: absolute;
      bottom: 10px;
      z-index: 999;
      width: 100%;
      text-align: center;
    }
    li {
      padding: 0 !important;
      display: inline-block;
      list-style: none;
      &:before {
        font-family: 'wired', sans-serif;
        content: "o" !important;
        display: block;
        font-size: 11px;
        width: 20px;
        color: #FFF;
        padding: 3px 2px;
        height: 20px;
        z-index: 999;
        @media (min-width: $screen-sm) {
        //  background: rgba(255,255,255,.6);
        }
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    li.slick-active {
      &:before {
        font-family: 'wired', sans-serif;
        content: "." !important;
      }
    }
    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
    }
    .slide {
      border: none;
      img {
        width: 100%;
      }
    }

  }
}