.mod_team {

  .profile {
    background: #FFF;
    margin: 5px 0;

    .module.mod_accordian {
      padding-top: 0 !important;

      h3 {
        font-size: 20px;
        @media (min-width:$screen-sm){
          font-size: 22px;
        }
      }

    }

    .profile_info {
      @media (min-width: $screen-sm) {
        float: left;
        width: 100%;
        padding-left: 150px;
      }

     p {
        padding-top: 26px !important;
        padding-bottom: 0 !important;
       @media (min-width:$screen-sm){
         padding-top: 29px !important;
         padding-bottom: 20px;
       }
      }

      h2 {
        font-size: 20px;
        padding: 0;
        @media (min-width:$screen-sm){
          font-size: 22px;
        }
        span {
          font-size: 16px;
          display: block;
          @media (min-width:$screen-sm){
            display: inline;
          }
        }
      }

      h3 {
        font-weight: 300;
        color: #000 !important;
        font-size: 20px;
        padding: 0;
        @media (min-width:$screen-sm){
          font-size: 22px;
        }
        span {
          font-weight: bold;
          font-size: 16px;
          padding-left: 7px;
        }
      }
    }

    .profile_img {
      display: block;
      width: 140px;
      margin-bottom: 20px;
      @media (min-width: $screen-sm) {
        float: left;
        position: absolute;
      }
    }

  }
  .sectionTitle {
    text-align: center;
    padding: 10px 0;

  }
}
