.mod_text_bottom {
  //display: none;
  background: $bgOne;
  text-align: center;
  font-size: 14px;
  .module {
    padding: 10px 0 0;
  }
  .text {
  margin: 0 auto !important;
  padding:0;
  //max-width: 620px;
  }
  .title {
    padding-bottom: 16px;

    @media (min-width: $screen-sm) {
      padding-bottom: 32px;
    }

    h3 {
      padding-top: 16px;
    }
  }
}