.mod_textText {
  ul,ol {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    @media (min-width:$screen-sm){
      padding-top: 29px !important;
      padding-bottom: 29px !important;
    }
  }

  .left {
//    padding-top: 15px;
    @media (min-width:$screen-sm){
      padding-top: 0;
    }
  }

  .right {
//    padding-bottom: 15px;
    @media (min-width:$screen-sm){
      padding-bottom: 0;
    }

  }

}