a.button, button {
  border: 1px solid #FFF;
  text-transform: uppercase;
  padding: 5px 20px;
  background: $red;
  color: #FFF;
}
.mod_textBanner_extents_text {
  font-weight: 300;
  a.button {
    font-size: 12px;
    font-weight: 500;
  }
  padding-bottom: 10px;
  margin: 30px 0;
}

.block_textBanner {
  margin:30px 0;
}
.bid1006 {
  margin-top: 0;
}