.mod_videos {
  position: relative;
  .onlyOne .slide img {
    margin: 0 auto;
  }
  .slide {
    position: relative;
    width: 33.3333%;
    padding: 0 4px;
    margin: 0;
    border: none;
    a {
      position: relative;
      display: block;
    }
    img {
      max-width: 100% !important;
      width: auto;
    }
    .playbutton {
      @include center-align;
    }
  }

  a:hover {
    opacity: .8;
  }

  .caption {
    text-align: center;
    padding: 18px 0 0;
  }

  .outerWrap {
    margin: 0 -4px 0 -4px !important;
  }

  .buttons {
    position: absolute;
    right: 0;
    bottom: 5px;
    height: 33px;
    margin-right: 10px;
    @media (min-width: $screen-sm) {
      bottom: 25px;
    }
    .prev, .next {
      font-size: 19px;
      width: 20px;
      padding: 0 5px 0 0;
      height: 18px;
      cursor: pointer;
      &:hover {
        opacity: .5;
      }
    }
  }

}

